<!--
<alert ng-show="alert" type="{{alert.type}}">{{alert.message}}</alert>
-->
	<div id="producer-preview-column" class="col-md-4">
		
		<div id="preview-container" class="preview-box">
			<img ng-if="currentUser.producerData.hasOwnProperty('logo')" ng-src="{{currentUser.producerData.logo}}" alt=" logo placeholder " class="img-responsive" style="width:100%; height: auto;">	
			<h5>{{currentUser.producerData.companyName}} <small>{{currentUser.name}}</small></h5>
			<p>{{currentUser.producerData.description}}</p>
			<a ng-href="/producer/{{currentUser.producerData.companyName | forURL}}-{{currentUser.name}}"><h1 class="text-center"><span class="glyphicon glyphicon-user"></span></h1></a>
			<p class="text-center">See your producer profile page</p>
		</div>
	</div>

<div id="producer-form-container" class="col-md-8" >
	<form name="producerEdit" autocomplete="off" novalidate>
		<fieldset>
			<legend>Edit Your Producer Information {{currentUser.name}}</legend>
			<div class="row">
				
				<div class="form-group">	
					<div file-dropzone="[image/png, image/jpeg, image/gif]" file="currentUser.producerData.logo" data-max-file-size="3" id="file-dropzone" class="image-drop form-group">
						<div>
							<p class="text-muted" ng-if="currentUser.producerData.logo">Drop a new photo here</p>
							<p class="text-muted" ng-if="!currentUser.producerData.logo">Drop a photo here</p>
								<h1 class="text-muted"><span class="glyphicon glyphicon-cloud-upload"></span></h1>
							<button type="button" class="btn btn-default btn-sm upload">
								<span class="text-muted">Or click to upload</span>
								<input type="file" class="opacity" 
								fileread="currentUser.producerData.logo" 
								accept="image/*" 
								data-max-file-size="3">
							</button>
						</div>
						
					</div>
					<hr>
				</div>
				
				
			</div>
			<div class="row">
				<div class="form-group">
					<label for="inputCompany">Company Name</label>
					<input ng-model="currentUser.producerData.companyName" name="inputCompany" type="text" class="form-control" id="inputName" placeholder="e.g. {{currentUser.name}} Farms" autofocus required>
				</div>
				<div class="form-group">
					<label for="companyWebsite">Company Website <small>If you have one</small></label>
					<input ng-model="currentUser.producerData.website" name="companyWebsite" type="text" class="form-control" id="inputName" placeholder="e.g. www.{{currentUser.name | forURL}}.com" autofocus>
				</div>
				<div class="form-group">
					<label for="bankAccount">Bank Account <small>To receive payment to</small></label>
					<input ng-model="currentUser.producerData.bankAccount" name="bankAccount" type="text" class="form-control" id="inputName" placeholder="e.g. 01-2345-6789-012-00" autofocus>
					<alert type="danger" 
					ng-show="producerEdit.bankAccount.$dirty && producerEdit.bankAccount.$invalid">
						<span>We need to know how to send you money online.</span>
					</alert>
				</div>
				<div class="form-group">
					<label for="description">Company Description</label> 
					<textarea class="form-control" ng-model="currentUser.producerData.description" id="description" maxlength="6000" placeholder="Write a few paragraphs for customers to see about your business and methadologies" rows="9" style="width: 100%;" required></textarea>  
				</div>
				<div class="form-group">
					<label for="description">Personal Bio <small>(Optional)</small></label> 
					<textarea class="form-control" ng-model="currentUser.producerData.personalBio" id="description" maxlength="6000" placeholder="Write a few paragraphs about yourself for people to see." rows="9" style="width: 100%;" required></textarea>  
				</div>
			</div>
   
    
			<button type="submit" class="btn btn-default" ng-disabled="producerEdit.$invalid" ng-click="submitForm()">Save Changes</button>
		</fieldset>
	</form>
</div>
