<div class="col-md-12">
	<div class="page-header">
		<h1 ng-controller="logoutCtrl">
			{{currentUser.name}} <small>{{currentUser.user_type.name}}</small>
			<a href="/" class="btn btn-primary pull-right" ng-click="logOut()"><span class="glyphicon glyphicon-lock"></span> Logout</a>
		</h1>
	</div>
	

<form name="editMe" novalidate ng-class="{'col-sm-4': currentUser.user_type.name === 'Producer', 'col-sm-12': currentUser.user_type.name === 'Customer'}">
	<legend ng-if="currentUser.user_type.name === 'Producer'">Basic Details</legend>
	<label ng-if="currentUser.routeTitle"><a href="/delivery">Route: {{currentUser.routeTitle}}</a></label>
	<div class="form-group">
		<label for="email">Email address</label>
		<input ng-model="currentUser.email" name="email" type="email" class="form-control" placeholder="Enter email" autofocus required>
		<div class="custom-error" ng-show="editMe.email.$dirty && editMe.email.$invalid">Sorry:
			<span ng-show="editMe.email.$error.required">email is required.</span>
			<span ng-show="editMe.email.$error.email">Please, write a valid email address.</span>
		</div>
	</div>
		
	<accordion>
	    <accordion-group heading="Change Password">
			<div class="form-group">
				<label for="pwOld">Supply your old Password</label>
				<input type="password" class="form-control" ng-model="currentUser.oldPassword" name="pw" placeholder="old password here">
			</div>
			<div class="form-group">
				<label for="pw">Choose a New Password</label>
				<input type="password" class="form-control" ng-model="currentUser.password" name="pw" placeholder="new password here" ng-minlength="7">
				<div class="custom-error" ng-show="editMe.pw.$dirty && editMe.pw.$invalid">Sorry:
					<span ng-show="editMe.pw.$error.required">a password is definately required.</span>
					<span ng-show="editMe.pw.$error.minlength">Passwords must be greater than 7 characters long.</span>
				</div>
			</div>
	    </accordion-group>
	</accordion>
	
	<div class="form-group">
		<label for="userFullName">Full Name</label>
		<input ng-model="currentUser.name" name="userFullName" type="text" class="form-control" placeholder="Full Name" required>
		<div class="custom-error" ng-show="editMe.userFullName.$dirty && editMe.userFullName.$invalid">		Sorry:
			<span ng-show="editMe.userFullName.$error.required">Full name is required.</span>
		</div>
	</div>
		
		
		<div class="form-group" ng-controller="geoCtrl">
			<label for="address">Address</label>
			<input type="text" class="form-control" ng-model="currentUser.address"/>
			
			<div class="custom-error" ng-show="editMe.address.$dirty && editMe.address.$invalid">		Sorry:
				<span ng-show="editMe.userFullName.$error.required">Your NZ address is required.</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="phone">Phone</label>
			<input type="tel" class="form-control" ng-model="currentUser.phone" name="phone" placeholder="Enter your preferred phone number" required>
			<div class="custom-error" ng-show="editMe.phone.$dirty && editMe.phone.$invalid">		Sorry:
				<span ng-show="editMe.userFullName.$error.required">Please give us a valid phone number to use to quickly sort out issues.</span>
			</div>
		</div>
		
		<div class="form-group" ng-if="currentUser.routeManager">
			<h3>Route Manager Options</h3>
			<label><a href="/delivery">Route: {{currentUser.routeManager.title}}</a></label>
			<label for="pickup">Pick Up Location</label>
			<input type="text" class="form-control" ng-model="currentUser.routeManager.pickupLocation" name="pickup" placeholder="Enter the current pickup location for this route here.">
		</div>
				
		<div class="form-group">
			<div class="btn-group">
				<button type='button' class="btn btn-primary" ng-model="currentUser.user_type.canSell" btn-radio="false">Customer</button>
				<button type='button' class="btn btn-primary" ng-model="currentUser.user_type.canSell" btn-radio="true">Producer</button>
			</div>
		</div>

		<div class="form-group">
	        <button ng-click="save()" ng-disabled="editMe.$pristine || editMe.$invalid"
	                class="btn btn-primary">Save User Info</button>
	        <button ng-click="destroy()"
	                ng-show="currentUser._id" class="btn btn-danger">Leave Co-op</button>
		</div>
</form>

<div ng-if="currentUser.user_type.name === 'Producer'" class="col-sm-8" ng-controller="producerCtrl">

	<div id="producer-preview-column" class="col-md-6">
		
		
	</div>

<div id="producer-form-container" class="col-md-12" >
	<form name="producerEdit" autocomplete="off" ng-submit="submitForm();" novalidate>
		<fieldset>
			<legend>Producer Profile <a class="pull-right" ng-href="/producer/{{currentUser.producerData.companyName | forURL}}-{{currentUser.name}}"><span class="glyphicon glyphicon-user"></span> View Profile</a></legend>
			<div class="row">
				
				<div class="form-group col-sm-6">	
					<div file-dropzone="[image/png, image/jpeg, image/gif]" file="currentUser.producerData.logo" data-max-file-size="3" id="file-dropzone" class="image-drop form-group">
						<div>
							<p class="text-muted" ng-if="currentUser.producerData.logo">Drop a new photo here</p>
							<p class="text-muted" ng-if="!currentUser.producerData.logo">Drop a photo here</p>
								<h1 class="text-muted"><span class="glyphicon glyphicon-cloud-upload"></span></h1>
							<button type="button" class="btn btn-default btn-sm upload">
								<span class="text-muted">Or click to upload</span>
								<input type="file" class="opacity" 
								fileread="currentUser.producerData.logo" 
								accept="image/*" 
								data-max-file-size="3">
							</button>
						</div>
						
					</div>
					
					<hr>
				</div>
				<div id="preview-container" class="preview-box col-sm-6">
					<img ng-if="currentUser.producerData.hasOwnProperty('logo')" ng-src="{{currentUser.producerData.logo}}" alt=" logo placeholder " class="img-responsive">	
				</div>
				
				
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label for="inputCompany">Company Name</label>
					<input ng-model="currentUser.producerData.companyName" name="inputCompany" type="text" class="form-control" id="inputName" placeholder="e.g. {{currentUser.name}} Farms" autofocus required>
				</div>
				<div class="form-group col-md-6">
					<label for="companyWebsite">Company Website <small>If you have one</small></label>
					<input ng-model="currentUser.producerData.website" name="companyWebsite" type="text" class="form-control" id="inputName" placeholder="e.g. www.{{currentUser.name | forURL}}.com" autofocus>
				</div>
				<div class="form-group col-md-12">
					<label for="bankAccount">Bank Account <small>To receive payment to</small></label>
					<input ng-model="currentUser.producerData.bankAccount" name="bankAccount" type="text" class="form-control" id="inputName" placeholder="e.g. 01-2345-6789-012-00" autofocus>
					<alert type="danger" 
					ng-show="producerEdit.bankAccount.$dirty && producerEdit.bankAccount.$invalid">
						<span>We need to know how to send you money online.</span>
					</alert>
				</div>
				<div class="form-group col-md-12">
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="true" ng-model="currentUser.addressPermission">
					    Share my address publicly
					  </label>
					</div>
				</div>
				<div class="form-group col-md-12">
					<label for="description">Company Description</label> 
					<text-angular 
					ng-model="currentUser.producerData.description" 
					placeholder="Write a few paragraphs for customers to see about your business and methadologies"
					name="description">
					</text-angular>
					
				</div>
				<div class="form-group col-md-12">
					<label for="bio">Personal Bio <small>(Optional)</small></label>
 					<text-angular 
 					ng-model="currentUser.producerData.personalBio"
 					placeholder="Write a few paragraphs about yourself for people to see."
 					name="bio">
 					</text-angular>
				</div>
			</div>
			<div class="form-group col-md-12">
				<button type="submit" class="btn btn-primary" ng-disabled="producerEdit.$invalid || producerEdit.$pristine">Save Producer Info</button>
			</div>
		</fieldset>
	</form>
</div>

	

</div>
	
<br>
<br>
