	
	<div id="producer-preview-column" class="col-md-4">
		
		<div id="preview-container" class="preview-box">
			<img ng-src={{producerData.logo}} alt="producer image" width="200px">	
			<img ng-src={{producerData.image}} alt="producer image" width="200px">
			<h5>{{producerData.companyName}} <small>{{currentUser.name}}</small></h5>
			<p>{{producerData.description}}</p>
		</div>
	</div>

<div id="product-upload-form-container" class="col-md-8" >
	<form name="producerEdit" autocomplete="on" ng-submit="submitForm();" novalidate>
  <fieldset>
    <legend>Edit Your Producer Information {{username}}</legend>
    
    <div class="col-md-6">	  
	  <!-- <input type="file" id="product-image" name="product-image" onchange="angular.element(this).scope().setImage(this)"/> -->
	  
	  <div file-dropzone="[image/png, image/jpeg, image/gif]" file="producerData.logo" data-max-file-size="3" id="file-dropzone" class="image-drop">
	<span>Drop Producer Logo Here</span>
	  </div> 
	  
	  <div file-dropzone="[image/png, image/jpeg, image/gif]" file="producerData.image" data-max-file-size="3" id="file-dropzone" class="image-drop">
		  <span>Drop Producer Image Here</span>
	  </div>    
	</div>
	
    
    <div class="form-group col-md-6">
      <label for="inputCompany" >Company Name</label>
      <input ng-model="producerData.companyName" name="inputCompany" type="text" class="form-control" id="inputName" placeholder="e.g. {{category.placeholderName}}" autofocus required >
    </div>
        
    <div class="form-group">
      <label for="description">Description</label> 
      <textarea ng-model="producerData.description" id="description" maxlength="6000" placeholder="Write a few paragraphs about your business and methadologies" rows="9" style="width: 100%;" required></textarea>  
    </div> 
    
    <button type="submit" class="btn btn-default" ng-disabled="producerEdit.$invalid">Save Changes</button>
  </fieldset>
</form>

</div>
