<div class="page-header">
	<h1>Invoices <small>Current Date: {{now | shortDate}}</h1>
</div>

<h3>Search</h3>
<input type="search" ng-model="searchbar" class="form-control">

<h3>Sort By: </h3>
<ul class="nav nav-pills">
	<li><a href="" ng-click="sort = 'datePlaced'; reverse=!reverse ">Date Created</a></li>
	<li><a href="" ng-click="sort = 'dateModified'; reverse=!reverse ">Date Modified</a></li>
</ul>
<h3>Search By: </h3>
<ul class="nav nav-pills">
	<li><a href="" ng-click="search = {}; search.title = 'Shopping'; search.toCoop = false; ">Shopping Invoice</a></li>
	<li><a href="" ng-click="search = {}; search.toCoop = true ">Order Invoice</a></li>
	<li><a href="" ng-click="search = {}; search.title = 'Membership'; ">Membership Invoice</a></li>
	<li><a href="" ng-click="search = {}; search.status = 'OVERDUE' ">Overdue <span class="badge">{{overdue()}}</span></a></li>
	<li><a href="" ng-click="search = {}; search.status = 'un-paid' ">Un-Paid <span class="badge">{{unPaid()}}</span></a></li>
</ul>

<section ng-repeat="invoice in invoices | orderBy:sort:reverse | filter:search:searchbar">
	<alert ng-show="invoice.alert" type="{{invoice.alert.type}}">{{invoice.alert.message}}</alert>
	<alert ng-if="invoice.dueDate &gt; now" type="danger">This invoice is OVERDUE</alert>
	<alert ng-if="soon(invoice)" type="warning">This invoice is due soon</alert>
	<alert ng-if="invoice.toCoop" type="info">The Co-op must pay this Invoice</alert>
	<ul class="unstyled">
		<li ng-hide="invoice.toCoop">
			To be paid to the NNFC by <span ng-show="invoice.invoicee.name">{{invoice.invoicee.name}}</span></li>
		<li ng-show="invoice.toCoop">
			The NNFC must pay this invoice to {{invoice.invoicee.name}};
		</li>
		<li>Date Placed: {{invoice.datePlaced | shortDate}}</li>
		<li>Due Date: {{invoice.dueDate | shortDate}}</li>
	</ul>
	<label type="button" class="btn btn-lg" 
	ng-class="{ 'btn-default': invoice.status === 'un-paid' || 'To Refund' || 'Refunded' || CANCELLED,
				'btn-success': invoice.status === 'PAID',
				'btn-danger' : invoice.status === 'OVERDUE'}">
		{{invoice.status}}
	</label>
<table class="table">
	<thead>
		<tr><th colspan='2'>Invoice #{{invoice._id}} {{invoice.title}}</th></tr>
	</thead>
	<tfoot>
		<tr><td colspan='2'><strong>Total: {{invoice.total | currency}}</strong></td></tr>
	</tfoot>
	<tbody>
		<tr ng-repeat="item in invoice.items">
			<td>{{item.name}}</td>
			<td ng-if="item.product">{{item.product.priceWithMarkup}} / {{item.product.units}}</td>
			<td ng-if="item.quantity">{{item.quantity}}</td>
			<td>{{item.cost | currency}}</td>
		</tr>
	</tbody>
</table>
<p ng-show="invoice.toCoop">Payment is to be sent to <strong>{{invoice.bankAccount}}</strong></p>
<hr>
</section>


