<div class="col-md-10 col-md-offset-1">
	<div class="page-header text-center">
		<h1> <i class="fa fa-shopping-cart"></i> My Cart <small>Live Updates</small></h1>
	</div>
	
	<p>Here is where you will see all your orders. You will get an email of this list at the end of order week and you can also view past month's shopping here.</p>


	<h2>{{month}} Cart</h2>
	<div id="table-div">
	<table class="table">
		<thead>
			<tr>
				<th><a href="" ng-click="predicate = '_id'; reverse=!reverse">Remove</a></th>
				<th><a href="" ng-click="predicate = 'product.productName'; reverse=!reverse">Product</a></th>
				<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse">Quantity</a></th>
				<th><a href="" ng-click="predicate = 'orderPriceWithMarkup'; reverse=!reverse">Price</a></th>
				<th><a href="" ng-click="predicate = 'supplier.producerData.companyName' || 'supplier.name'; reverse=!reverse">Producer</a></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="5"><strong>Total: {{cartTotal(cart)|currency}}</strong></td>
			</tr>
		</tfoot>
		<tbody>
			<tr ng-repeat="c in cart | orderBy:predicate:reverse" >
		        <td data-title=" 'remove' ">
		        	<a ng-click="delete($index)"><i class="fa fa-trash"></i></a>
				</td>
		        <td data-title="'Product'" >
		            {{c.product.fullName}}
		        </td>
		        <td data-title="'Quantity'">
					<form class="navbar-form navbar-left" role="search" ng-controller="updateCartCtrl">
						<div class="form-group">
							<input type="number" class="form-control" ng-model="c.quantity" 
							ng-init="lastQuantity = c.quantity"
							ng-change="showSave = true;">
						</div>
						<button type="submit" 
						class="btn btn-default" 
						ng-show="showSave" 
						ng-click="showSave=false; saveNewQuantity(c);"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
					</form>
		        </td>
		        <td data-title="'Price'">
		            {{c.unitPriceWithMarkup * c.quantity | currency}}
		        </td>
		        <td data-title="'Customer'">
		            {{c.supplier.producerData.companyName || c.supplier.name}}
		        </td>
		    </tr>
		</tbody>
	</table>
	</div>
	<accordion>
		<accordion-group heading="Cart History" ng-controller="cartHistoryCtrl">
			<div ng-controller="cartHistoryCtrl">
				[ <a href="" ng-click="predicate=''">unsorted</a> ]
				<table class="table">
					<thead>
						<tr>
							<th><a href="" ng-click="predicate = 'datePlaced'; reverse=!reverse">Date</a></th>										   
							<th><a href="" ng-click="predicate = 'product.productName'; reverse=!reverse">Product</a></th>							   
							<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse">Quantity</a></th>									   
							<th><a href="" ng-click="predicate = 'orderPriceWithMarkup'; reverse=!reverse">Price</a></th>							   
							<th><a href="" ng-click="predicate = 'supplier.producerData.companyName' || 'supplier.name'; reverse=!reverse">Producer</a></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="5"><strong>Total: {{cartTotal(cartHistory)|currency}}</strong></td>
						</tr>
					</tfoot>
					<tbody>
						<tr ng-repeat="c in cartHistory | orderBy:predicate:reverse" >
					        <td data-title=" 'Date' ">
					        	{{c.datePlaced | shortDate}}
							</td>
					        <td data-title="'Product'" >
					            {{c.product.fullName}}
					        </td>
					        <td data-title="'Quantity'">
					           {{c.quantity}}
					        </td>
					        <td data-title="'Price'">
					            {{c.orderPriceWithMarkup | currency}}
					        </td>
					        <td data-title="'Customer'">
					            {{c.supplier.producerData.companyName || c.supplier.name}}
					        </td>
					    </tr>
					</tbody>
				</table>
			</div>
		</accordion-group>
	</accordion>






