<h1>
	<span ng-hide="currentUser.producerData.companyName">My</span>
	<span ng-show="currentUser.producerData.companyName"> {{currentUser.producerData.companyName}}</span>
	Products <small>Live Updates</small>
</h1>
<p>Here you can see all the products you've ever uploaded as well information about products being purchased.</p>

<div class="col-md-6">

<h2>{{month}} Products</h2>
[ <a href="" ng-click="predicate=''">unsorted</a> ]
<table class="table">
<thead>
	<tr>
		<th><a href="" ng-click="predicate = 'productName'; reverse=!reverse ">Product</a></th>
		<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</a></th>
		<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Inventory</a></th>
		<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="i in currentProducts | orderBy:predicate:reverse " >
        <td data-title="'Product'" >
            {{i.fullName}}
        </td>

        <td data-title="'Price'">
            {{i.price | currency}} / {{i.units}}
        </td>
		<td data-title="'Quantity'">
			{{i.quantity}}
		</td>
		<td data-title="'times Ordered'">
			{{isOrdered(i._id)}}
		</td>
    </tr>
</tbody>
</table>

<accordion>
	<accordion-group heading="{{lastMonth}} Products">
		[ <a href="" ng-click="predicate=''">unsorted</a> ]
		<table class="table">
			<thead>
				<tr>
					<th><a href="" ng-click="predicate = 'productName'; reverse=!reverse ">Product</a></th>
					<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</a></th>
					<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Inventory</a></th>
					<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in recentProducts | orderBy:predicate:reverse " >
			        <td data-title="'Product'" >
			            {{i.fullName}}
			        </td>
	       
			        <td data-title="'Price'">
			            {{i.price | currency}} / {{i.units}}
			        </td>
					<td data-title="'Quantity'">
						{{i.quantity}}
					</td>
					<td data-title="'times Ordered'">
						{{isOrdered(i._id)}}
					</td>
			    </tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group heading="All Products">
		[ <a href="" ng-click="predicate=''">unsorted</a> ]
		<table class="table">
			<thead>
				<tr>
					<th><a href="" ng-click="predicate = 'productName'; reverse=!reverse ">Product</a></th>
					<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</a></th>
					<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Inventory</a></th>
					<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in products | orderBy:predicate:reverse " >
			        <td data-title="'Product'" >
			            {{i.fullName}}
			        </td>
	       
			        <td data-title="'Price'">
			            {{i.price | currency}} / {{i.units}}
			        </td>
					<td data-title="'Quantity'">
						{{i.quantity}}
					</td>
					<td data-title="'times Ordered'">
						{{isOrdered(i._id)}}
					</td>
			    </tr>
			</tbody>
		</table>
	</accordion-group>
</accordion>
</div>
<div class="col-md-6">
	<h2>Unfulfilled Orders</h2>
	<table class="table">
		<thead ng-repeat-start="order in sortedOrders">
			<tr><th colspan="4"><a ng-href="#/contact/{{order._id}}">{{order.customer}}</th></tr>
			<tr><th>Product</th><th>Quantity</th><th>Unit Price</th><th>Price</th></tr>
		</thead>
		<tbody ng-repeat-end>
			<tr ng-repeat="i in order.orders">
		        <td data-title="'Product'" >
		            {{i.product.fullName}}
		        </td>
 				<td data-title="'Quantity'">
 					{{i.quantity}}
 				</td>
		        <td data-title="'Price'">
		            {{i.orderPrice | currency}} / {{i.product.units}}
		        </td>
				<td data-title="'times Ordered'">
					{{i.orderPrice * i.quantity | currency}}
				</td>
			</tr>
		</tbody>
		<tfooter colspan="4" ng-if="sortedOrders">
			<strong>Total: {{orderTotal(currentOrders)}}</strong>
		</tfooter>
	</table>
	<accordion>
		<accordion-group heading="Last Month's Orders">
			<table class="table">
				<thead>
					<tr>
						<th><a href="" ng-click="predicate = 'customer.name'; reverse=!reverse ">customer</a></th>
						<th><a href="" ng-click="predicate = 'product.productName'; reverse=!reverse ">Product</a></th>
						<th><a href="" ng-click="predicate = 'producerPrice'; reverse=!reverse ">Unit Price</a></th>
						<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
						<th><a href="" ng-click="predicate = 'orderPrice'; reverse=!reverse ">Price</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in recentOrders | orderBy:predicate:reverse " >
				        <td data-title="'Customer'">
							{{i.customer.name}}
						</td>
						<td data-title="'Product'" >
				            {{i.product.fullName}}
				        </td>
				        <td data-title="'Price'">
				            {{i.unitPrice | currency}} / {{i.product.units}}
				        </td>
						<td data-title="'Quantity'">
							{{i.quantity}}
						</td>
						<td data-title="'times Ordered'">
							{{i.orderPrice | currency}}
						</td>
				    </tr>
				</tbody>
			</table>
		</accordion-group>
		<accordion-group heading="All Orders">
			<table class="table">
				<thead>
					<tr>
						<th><a href="" ng-click="predicate = 'datePlaced'; reverse=!reverse ">Date</a></th>
						<th><a href="" ng-click="predicate = 'customer.name'; reverse=!reverse ">customer</a></th>
						<th><a href="" ng-click="predicate = 'product.productName'; reverse=!reverse ">Product</a></th>
						<th><a href="" ng-click="predicate = 'producerPrice'; reverse=!reverse ">Unit Price</a></th>
						<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
						<th><a href="" ng-click="predicate = 'orderPrice'; reverse=!reverse ">Price</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in orders | orderBy:predicate:reverse " >
				        <td data-title="'Date Placed'">
							{{i.datePlaced | shortDate}}
						</td>
						<td data-title="'Customer'">
							{{i.customer.name}}
						</td>
						<td data-title="'Product'" >
				            {{i.product.fullName}}
				        </td>
				        <td data-title="'Price'">
				            {{i.unitPrice | currency}} / {{i.product.units}}
				        </td>
						<td data-title="'Quantity'">
							{{i.quantity}}
						</td>
						<td data-title="'times Ordered'">
							{{i.orderPrice | currency}}
						</td>
				    </tr>
				</tbody>
			</table>
		</accordion-group>
	</accordion>
		
</div>
