<div class="page-header col-md-12">
	<h1 class="text-center">
		<span ng-hide="currentUser.producerData.companyName">My</span>
		<span ng-show="currentUser.producerData.companyName"> {{currentUser.producerData.companyName}}'s</span>
		Products &amp; Orders
	</h1>	
</div>

<div class="col-md-6">

<h2 class="text-center">Product Manager</h2>

<h3>Products Now For Sale 
	<a href="/product-upload" class="btn btn-success">
			<span style="display: inline-block">
				<span class="glyphicon glyphicon-cloud-upload"></span> Product
			</span>
		</a>
</h3>
<alert type="danger" ng-hide="canShop">Shopping is Now Closed for the Cycle ending {{deliveryDay | date:'EEEE dd/MM/yy'}}</alert>

<table class="table">
<thead>
	<tr>
		<th><a href="" ng-click="predicate = 'productName'; reverse=!reverse ">Product</a></th>
		<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</a></th>
		<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Quantity</a></th>
		<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="i in currentProducts | orderBy:predicate:reverse " >
		<td data-title="'Product'" >
			<a ng-hide="i.permanent && i.category === '5421e9192ba620071b4cb2a9' " ng-href="/product-upload/{{i._id}}">{{i.fullName}}</a>
			<a ng-show="i.permanent && i.category === '5421e9192ba620071b4cb2a9' " ng-href="/meat-upload/{{i._id}}">{{i.fullName}}</a>
			<button type="button" class="close" aria-hidden="true" ng-click="delete($index, i._id)" tooltip-placement="right" tooltip="Delete Item: Warning this will affect orders made of this item."><i class="fa fa-times"></i></button>
		</td>

		<td data-title="'Price'">
			{{i.price | currency}} / {{i.units}}
		</td>
		<td data-title="'Quantity'">
			{{i.quantity}}
		</td>
		<td data-title="'times Ordered'">
			{{i.amountSold || 0}}
		</td>
    </tr>
</tbody>
</table>

<accordion>
	<accordion-group>
		<accordion-heading>Past Products <span class="badge" style="margin-left: 10px">{{stats.pastAmount}}</span></accordion-heading>
		[ <a href="" ng-click="predicate=''">unsorted</a> ]
		<table class="table">
			<thead>
				<tr>
					<th><a href="" ng-click="predicate = 'cycle.deliveryDay'; reverse=!reverse ">Sale Date</a></th>
					<th><a href="" ng-click="predicate = 'productName'; reverse=!reverse ">Product</a></th>
					<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</a></th>
					<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in pastProducts | orderBy:predicate:reverse " >
			        <td data-title="'cycle'" >
			            {{i.cycle.deliveryDay | shortDate}}
			        </td>
							<td data-title="'Product'" >
			            <a ng-href="/product-upload/{{i._id}}">{{i.fullName}}</a>
			        </td>
			        <td data-title="'Price'">
			            {{i.price | currency}} / {{i.units}}
			        </td>
					<td data-title="'times Ordered'">
						{{i.amountSold || 0}}
					</td>
			    </tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group>
		<accordion-heading>Future Products <span class="badge" style="margin-left: 10px">{{stats.futureAmount}}</span></accordion-heading>
		[ <a href="" ng-click="predicate=''">unsorted</a> ]
		<table class="table">
			<thead>
				<tr>
					<th><a href="" ng-click="predicate = 'cycle.deliveryDay'; reverse=!reverse ">Sale Date</a></th>
					<th><a href="" ng-click="predicate = 'productName'; reverse=!reverse ">Product</a></th>
					<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</a></th>
					<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in futureProducts | orderBy:predicate:reverse " >
			        <td data-title="'cycle'" >
			            {{i.cycle.deliveryDay | shortDate}}
			        </td>
							<td data-title="'Product'" >
			            <a ng-href="/product-upload/{{i._id}}">{{i.fullName}}</a> 
									<button type="button" class="close" aria-hidden="true" ng-click="delete($index, i._id)"><i class="fa fa-times"></i></button>
			        </td>
			        <td data-title="'Price'">
			            {{i.price | currency}} / {{i.units}}
			        </td>
					<td data-title="'times Ordered'">
						{{i.amountSold || 0}}
					</td>
			    </tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group heading="All Products">
		[ <a href="" ng-click="predicate=''">unsorted</a> ]
		<table class="table">
			<thead>
				<tr>
					<th><a href="" ng-click="predicate = 'cycle.deliveryDay'; reverse=!reverse ">Sale Date</a></th>
					<th><a href="" ng-click="predicate = 'productName'; reverse=!reverse ">Product</a></th>
					<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</a></th>
					<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in products | orderBy:predicate:reverse " >
			        <td data-title="'cycle'" >
			            {{i.cycle.deliveryDay | shortDate}}
			        </td>
							<td data-title="'Product'" >
			            <a ng-href="/product-upload/{{i._id}}">{{i.fullName}}</a>
			        </td>
			        <td data-title="'Price'">
			            {{i.price | currency}} / {{i.units}}
			        </td>
					<td data-title="'times Ordered'">
						{{i.amountSold || 0}}
					</td>
			    </tr>
			</tbody>
		</table>
	</accordion-group>
</accordion>
</div>
<div class="col-md-6">
	
	<h2 class="text-center">Order Manager</h2>
	
	<h3>Unfulfilled Orders</h3>
	<table class="table" ng-repeat="order in sortedOrders">
		<thead>
			<tr><th colspan="4"><a ng-href="/contact/{{order._id._id}}">{{order._id.name}} <i class="fa fa-envelope"></i></a></th></tr>
			<tr><th>Product</th><th>Quantity</th><th>Unit Price</th><th>Price</th></tr>
		</thead>
		<tfoot>
			<tr><td colspan='4'>Total: {{orderTotal(order.orders) | currency}}</td></tr>
		</tfoot>
		<tbody>
			<tr ng-repeat="i in order.orders">
				<td data-title="'Product'" >
					<a ng-hide="i.permanent && i.category === '5421e9192ba620071b4cb2a9' " ng-href="/product-upload/{{i.product._id}}">{{i.product.fullName}}</a>
					<a ng-show="i.permanent && i.category === '5421e9192ba620071b4cb2a9' " ng-href="/meat-upload/{{i.product._id}}">{{i.product.fullName}}</a>
				</td>
				<td data-title="'Quantity'">
					{{i.quantity}}
				</td>
				<td data-title="'Price'">
					{{i.product.price | currency}} / {{i.product.units}}
				</td>
				<td data-title="'times Ordered'">
					{{i.product.price * i.quantity | currency}}
				</td>
			</tr>
		</tbody>
	</table>
	<h4>Total so far: <strong>{{sortedOrderTotal(sortedOrders) | currency}}</strong></h4>
	
	<accordion>
		<accordion-group heading="Order History - Total: {{orderTotal(orders) | currency}}">
			<table class="table">
				<thead>
					<tr>
						<th><a href="" ng-click="predicate = 'datePlaced'; reverse=!reverse ">Date</a></th>
						<th><a href="" ng-click="predicate = 'customer.name'; reverse=!reverse ">customer</a></th>
						<th><a href="" ng-click="predicate = 'product.productName'; reverse=!reverse ">Product</a></th>
						<th><a href="" ng-click="predicate = 'producerPrice'; reverse=!reverse ">Unit Price</a></th>
						<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
						<th><a href="" ng-click="predicate = 'orderPrice'; reverse=!reverse ">Price</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in orders | orderBy:predicate:reverse " >
				        <td data-title="'Date Placed'">
							{{i.datePlaced | shortDate}}
						</td>
						<td data-title="'Customer'">
							<a ng-href="/contact/{{i.customer._id}}">{{i.customer.name}}</a>
						</td>
						<td data-title="'Product'" >
				            <a ng-href="/product-upload/{{i.product._id}}">{{i.product.fullName}}</a>
				        </td>
				        <td data-title="'Price'">
				            {{i.unitPrice | currency}} / {{i.product.units}}
				        </td>
						<td data-title="'Quantity'">
							{{i.quantity}}
						</td>
						<td data-title="'times Ordered'">
							{{i.orderPrice | currency}}
						</td>
				    </tr>
				</tbody>
			</table>
		</accordion-group>
		<div ng-controller="MeatOrderListCtrl">
			<accordion-group heading="Bulk Meat Orders - Total: {{total | currency}}" ng-if="meatOrders">
				<p>Orders with a yellow background have not yet been finalised. Click on one to edit it and finalize it. Green orders have been finalised.</p>
				<table class="table">
					<thead>
						<tr>
							<th><a href="" ng-click="ordering = 'c.datePlaced'; backward=!backward">Date Ordered</a></th>
							<th><a href="" ng-click="ordering = 'c.product.name'; backward=!backward">Product</a></th>
							<th><a href="" ng-click="ordering = 'c.unitPrice'; backward=!backward">Price</a></th>
							<th><a href="" ng-click="ordering = 'c.weight'; backward=!backward">Weight</a></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in meatOrders | orderBy:ordering:backward" ng-class="{'warning': !c.invoiced, 'success': c.invoiced}">
							<td data-title="'date'">
								<a ng-href="/meat-order/edit/{{c._id}}">{{c.datePlaced| date:'dd/MM/yyyy h:mm a'}}</a>
							</td>
							<td data-title="'Product'" >
								<a ng-href="/meat-order/edit/{{c._id}}">{{c.product.name}}</a>
							</td>
							<td data-title="'Price'">
								<a ng-href="/meat-order/edit/{{c._id}}">{{c.unitPrice|currency}} / kg</a>
							</td>
							<td data-title="'Weight'">
								<a ng-href="/meat-order/edit/{{c._id}}">{{c.weight || 'TBA'}} <span ng-show="c.weight">kg</span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</accordion-group>
		</div>
		<accordion-group heading="Milk Subscriptions - Active: {{activeMilkSubscribers(milkOrders)}}" ng-if="milkOrders">
			
		</accordion-group>
	</accordion>
</div>

<div class="col-md-12">
	<h1 class="text-center">Your Sale Stats</h1>
	
  <form class="form-inline well" role="filter">
		<legend>Get statistics for certain time period</legend>
		<div class="form-group" ng-controller="calendarPopupCtrl">
			<label>Date Start</label>
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateParams.start" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
		<div class="form-group" ng-controller="calendarPopupCtrl">
			<label>Date End</label>
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateParams.end" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
  </form>
	
</div>

<div class="col-md-6">
	<div class="center-block circle-box bg-info">
		<div class="circle-content">
			<div>
				<span>{{stats.currentAmount}}</span>
			</div>
		</div>
	</div>
	<p class="text-center">Total number of products sold</p>
	
	<h3>Product Sale Stats 
		<span ng-show="dateParams.start">from {{dateParams.start | date: "EEEE dd/MM/yy"}}</span>
		<span ng-show="dateParams.start && dateParams.end"> and </span>
		<span ng-show="dateParams.end">before {{dateParams.end | date: "EEEE dd/MM/yy"}}</span>
	</h3>
	
			
	<h4>Most Popular Product: <strong>{{stats.bestSeller.fullName}} sold {{stats.bestSeller.amountSold}} times</strong></h4>
	<h4>Highest Earning Product: <strong>{{stats.topEarner.fullName}} earned you {{stats.topEarner.price * stats.topEarner.amountSold | currency }}</strong></h4>
	<h4>Best sale cycle: <strong>{{stats.bestSellingCycle | date:'MMMM dd yyyy'}}</strong></h4>	
	
</div>
<div class="col-md-6">
	
	<div class="center-block circle-box bg-info">
		<div class="circle-content">
			<div>
				<span>{{stats.orderTotal | currency}}</span>
			</div>
		</div>
	</div>
	<p class="text-center">Total Sold through Co-op</p>
	
	<h3>Customer Sale Stats 
		<span ng-show="dateParams.start">from {{dateParams.start | date: "EEEE dd/MM/yy"}}</span>
		<span ng-show="dateParams.start && dateParams.end"> and </span>
		<span ng-show="dateParams.end">before {{dateParams.end | date: "EEEE dd/MM/yy"}}</span>
	</h3>
	<h4>Total number of sales: <strong>{{stats.saleAmount}}</strong></h4>
	<h4>Customer who Ordered Most Often: <strong>{{stats.frequentCustomer}}</strong></h4>
	<h4>Customer who Spent the Most: <strong>{{stats.valueCustomer}} spent {{stats.maxAmount | currency}}</strong></h4>
	
</div>
<div class="col-md-12">
	<p class="text-danger">Disclaimer: These statistics are a new feature and may not show completely accurate data for orders before March 2015. Feel free to notify me if you find any problems.</p>
</div>

