<div class="page-header col-md-12">
	<h1 class="text-center">
		<span ng-hide="currentUser.producerData.companyName">My</span>
		<span ng-show="currentUser.producerData.companyName"> {{currentUser.producerData.companyName}}</span>
		Products
	</h1>	
</div>

<div class="col-md-6">

<h2>{{month}} Products</h2>
<table class="table">
<thead>
	<tr>
		<th><a href="" ng-click="predicate = '_id'; reverse=!reverse" tooltip-placement="right" tooltip="Remove Items">&times;</a></th>
		<th><a href="" ng-click="predicate = 'productName'; reverse=!reverse ">Product</a></th>
		<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</a></th>
		<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Inventory</a></th>
		<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="i in currentProducts | orderBy:predicate:reverse " >
        <td data-title="'remove'">
			<button type="button" class="close" aria-hidden="true" ng-click="delete($index, i._id)">&times;</button>
		</td>
		<td data-title="'Product'" >
             <a ng-href="/product-upload/{{i._id}}">{{i.fullName}}</a>
        </td>

        <td data-title="'Price'">
            {{i.price | currency}} / {{i.units}}
        </td>
		<td data-title="'Quantity'">
			{{i.quantity}}
		</td>
		<td data-title="'times Ordered'">
			{{i.amountSold || 0}}
		</td>
    </tr>
</tbody>
</table>

<accordion>
	<accordion-group heading="{{lastMonth}} Products">
		[ <a href="" ng-click="predicate=''">unsorted</a> ]
		<table class="table">
			<thead>
				<tr>
					<th><a href="" ng-click="predicate = 'productName'; reverse=!reverse ">Product</a></th>
					<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</a></th>
					<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in recentProducts | orderBy:predicate:reverse " >
			        <td data-title="'Product'" >
			             <a ng-href="/product-upload/{{i._id}}">{{i.fullName}}</a>
			        </td>
	       
			        <td data-title="'Price'">
			            {{i.price | currency}} / {{i.units}}
			        </td>
					<td data-title="'times Ordered'">
						{{i.amountSold || 0}}
					</td>
			    </tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group heading="All Products">
		[ <a href="" ng-click="predicate=''">unsorted</a> ]
		<table class="table">
			<thead>
				<tr>
					<th><a href="" ng-click="predicate = 'productName'; reverse=!reverse ">Product</a></th>
					<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</a></th>
					<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in products | orderBy:predicate:reverse " >
			        <td data-title="'Product'" >
			            <a ng-href="/product-upload/{{i._id}}">{{i.fullName}}</a>
			        </td>
	       
			        <td data-title="'Price'">
			            {{i.price | currency}} / {{i.units}}
			        </td>
					<td data-title="'times Ordered'">
						{{i.amountSold || 0}}
					</td>
			    </tr>
			</tbody>
		</table>
	</accordion-group>
</accordion>
</div>
<div class="col-md-6">
	<h2>Unfulfilled Orders <small>Total: {{orderTotal(currentOrders) | currency}}</small></h2>
	<table class="table">
		<thead ng-repeat-start="order in sortedOrders">
			<tr><th colspan="4"><a ng-href="/contact/{{order._id._id}}">{{order._id.name}} <small>email customer</small></a></th></tr>
			<tr><th>Product</th><th>Quantity</th><th>Unit Price</th><th>Price</th></tr>
		</thead>
		<tbody ng-repeat-end>
			<tr ng-repeat="i in order.orders">
		        <td data-title="'Product'" >
		            <a ng-href="/product-upload/{{i._id}}">{{i.product.fullName}}</a>
		        </td>
 				<td data-title="'Quantity'">
 					{{i.quantity}}
 				</td>
		        <td data-title="'Price'">
		            {{i.product.price | currency}} / {{i.product.units}}
		        </td>
				<td data-title="'times Ordered'">
					{{i.product.price * i.quantity | currency}}
				</td>
			</tr>
		</tbody>
		
	</table>
	<accordion>
		<accordion-group heading="Last Month's Orders - Total: {{orderTotal(recentOrders) | currency}}">
			<table class="table">
				<thead>
					<tr>
						<th><a href="" ng-click="predicate = 'customer.name'; reverse=!reverse ">customer</a></th>
						<th><a href="" ng-click="predicate = 'product.productName'; reverse=!reverse ">Product</a></th>
						<th><a href="" ng-click="predicate = 'producerPrice'; reverse=!reverse ">Unit Price</a></th>
						<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
						<th><a href="" ng-click="predicate = 'orderPrice'; reverse=!reverse ">Price</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in recentOrders | orderBy:predicate:reverse" >
				        <td data-title="'Customer'">
							<a ng-href="/contact/{{i.customer._id}}">{{i.customer.name}}</a>
						</td>
						<td data-title="'Product'" >
				            <a ng-href="/product-upload/{{i._id}}">{{i.product.fullName}}</a>
				        </td>
				        <td data-title="'Price'">
				            {{i.unitPrice | currency}} / {{i.product.units}}
				        </td>
						<td data-title="'Quantity'">
							{{i.quantity}}
						</td>
						<td data-title="'times Ordered'">
							{{i.orderPrice | currency}}
						</td>
				    </tr>
				</tbody>
			</table>
		</accordion-group>
		<accordion-group heading="All Orders - Total: {{orderTotal(orders) | currency}}">
			<table class="table">
				<thead>
					<tr>
						<th><a href="" ng-click="predicate = 'datePlaced'; reverse=!reverse ">Date</a></th>
						<th><a href="" ng-click="predicate = 'customer.name'; reverse=!reverse ">customer</a></th>
						<th><a href="" ng-click="predicate = 'product.productName'; reverse=!reverse ">Product</a></th>
						<th><a href="" ng-click="predicate = 'producerPrice'; reverse=!reverse ">Unit Price</a></th>
						<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse ">Ordered Amount</a></th>
						<th><a href="" ng-click="predicate = 'orderPrice'; reverse=!reverse ">Price</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in orders | orderBy:predicate:reverse " >
				        <td data-title="'Date Placed'">
							{{i.datePlaced | shortDate}}
						</td>
						<td data-title="'Customer'">
							<a ng-href="/contact/{{i.customer._id}}">{{i.customer.name}}</a>
						</td>
						<td data-title="'Product'" >
				            <a ng-href="/product-upload/{{i._id}}">{{i.product.fullName}}</a>
				        </td>
				        <td data-title="'Price'">
				            {{i.unitPrice | currency}} / {{i.product.units}}
				        </td>
						<td data-title="'Quantity'">
							{{i.quantity}}
						</td>
						<td data-title="'times Ordered'">
							{{i.orderPrice | currency}}
						</td>
				    </tr>
				</tbody>
			</table>
		</accordion-group>
	</accordion>
		
</div>
