<link rel="stylesheet" href="lib/bower_components/angular-cropme/cropme.css">

<div class="row">
	<div id="product-upload-preview-column" class="col-md-4" >
		<h2>Preview <small>Live</small></h2>
		<div class="product-container" ng-controller="productUICtrl" ng-mouseleave="detailsVisible = false" style="width:100%; margin: 0">
			<figure class="first-layer" ng-mouseover="callDelayed()" ng-mouseleave="callCancelled()">
				<img ng-if="productData.certification != certifications[0]._id && productData.img"
				 ng-src="img/certification/{{certificationImg(productData.certification)}}" class="certification-img">
				<img ng-src="{{selectedImg}}" class="img-responsive">
				<figcaption>
					<button class="btn btn-primary pull-right" ng-click="addToCart()">Add to Cart</button>
					<h5>{{productData.variety}} {{productData.productName}}</h5>
					<p>{{1.2 * productData.price|currency}} / {{productData.units}}</p>
				</figcaption>
			</figure>
			<section class="details-layer" ng-class="{ 'details-layer-visible' : detailsVisible}" ng-mouseleave="detailsVisible = false">
				<article class="details">
					<h3>{{productData.variety}} {{productData.productName}}</h3>
					<p>{{1.2 * productData.price|currency}} / {{productData.units}}</p>
					<p>{{productData.producerCompany}} <br>
					<span ng-if="product.certification.name !== 'none' || product.certification">{{productData.certification.name}}</span>
					</p>
					<p>{{productData.description | blurb}} <em>more...</em></p>
					<button class="btn btn-primary" ng-click="">Add to Cart</button>
				</article>
			</section>
		</div>
	
	
		<!--
		<div id="product-history-list">
					<h3>Product History</h3>
					<table class="table table-hover">
						<caption>Current Month</caption>
						<thead>
							<tr>
								<th>Name</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="i in data">
								<td><a ng-click="editProduct(i)">{{i.productName}} {{i.variety}}</a></td>
								<td>
									<button type="button" class="close" aria-hidden="true" ng-click="delete($index)">&times;</button>
								</td>
							</tr>
						</tbody>
					</table>
					<h5>Product History</h5>
					
					<table class="table table-hover">
						<caption>Product History</caption>
						<thead>
							<tr>
								<th><a href="" ng-click="predicate = 'name'; reverse=!reverse ">Name</th>
								<th><a href="" ng-click="predicate = 'dateUploaded'; reverse=!reverse ">Date Added</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="i in data | orderBy:predicate:reverse ">
								<td><a ng-click="editProduct(i)">{{i.productName}} {{i.variety}}</a></td>
								<td>{{i.dateUploaded|shortDate}}</td>
							</tr>
						</tbody>
					</table>
				</div>-->
		
	</div>

	<div id="product-upload-form-container" class="col-md-8" >
		<form name="productUpload" autocomplete="off" ng-submit="submitForm();" novalidate> <!-- add ng-submit="submitForm();" -->
			<fieldset>
				<legend>Upload a Product {{currentUser.name}}</legend>
					<div class="row">
						<div class="form-group col-md-12">
							<label for="Category">Product Category</label>
                            <div class="btn-group">
								<button type="button"
								class="btn btn-primary"
								ng-model="category"
								ng-repeat="category in productManager.productCategories"
								ng-click=" setCategory(category._id) ">
									{{category.name}}
								</button>
							</div>
						</div>
					</div>
				<div class="row">
					<div class="form-group col-md-12">
						<br>
						<label ng-disabled="!productData.hasOwnProperty('category')"
						type="button" class="btn btn-default btn-lg" ng-click="open()">Upload an image <span class="glyphicon glyphicon-cloud-upload"></span></label>
					</div>
				</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="inputName">Product Name</label>
							<input ng-disabled="!productData.hasOwnProperty('category')" 
							ng-model="productData.productName" type="text" class="form-control" id="inputName" maxlength="12" 
							placeholder="e.g. {{ productManager.categoryByID(productData.category).placeholderName }}" autofocus required>
						</div>
						<div class="form-group col-md-6">
							<label for="inputVariety" ng-model="variety">Variety</label>
							<input ng-disabled="!productData.hasOwnProperty('category')" 
							ng-model="productData.variety" type="text" class="form-control" id="inputVariety" maxlength="18" 
							placeholder="e.g. {{ productManager.categoryByID(productData.category).placeholderVariety }}">
						</div>
					</div>
				
					<div class="row form-group">	
						<div class="form-group col-md-4">
							<label for="inputVariety">Price</label>
							<input ng-disabled="!productData.hasOwnProperty('category')"
							ng-model="productData.price" name="price" type="number" class="form-control" id="inputPrice" min="0" placeholder="e.g. $2.50" required>
						</div>
						
					    <div class="form-group col-md-4">
							<label for="units">Quantity Units</label>
							<input ng-disabled="!productData.hasOwnProperty('category')" type="text" ng-model="productData.units" name="units" id="units" class="form-control" 
							typeahead="unit for unit in productManager.categoryByID(productData.category).availableUnits | filter:$viewValue"
							
							placeholder ="e.g. kg or L or whole beast" required>
					    </div>
					    
					    <div class="form-group col-md-4">
							<label for="quantity">Quantity Available</label>
							<input ng-disabled="!productData.hasOwnProperty('category')"
							ng-model="productData.quantity" name="quantity" type="number" max="1000" class="form-control" id="quantity" placeholder="e.g. 27" required>
					    </div>
				   </div>
			    
			    <div class="form-group">
					<label for="refrigeration">Refrigeration Required</label>
					<div class="btn-group">
						<label type="button"
						ng-disabled="!productData.hasOwnProperty('category')" 
						class="btn btn-primary" ng-model="productData.refrigeration" btn-radio="'refrigeration'" uncheckable>Refrigeration</label>
						<label type="button"
						ng-disabled="!productData.hasOwnProperty('category')"
						class="btn btn-primary" ng-model="productData.refrigeration" btn-radio="'frozen'" uncheckable>Frozen</label>
					</div>
				</div>
			
			     
			     <div ng-hide="!productData.hasOwnProperty('category') || productManager.categoryByID(productData.category).name == 'Produce' " id="ingredients" class="form-group">
					<label for="ingredients">Ingredients</label> 
					<textarea class="form-control" 
					ng-disabled="!productData.hasOwnProperty('category')"
					ng-model="productData.ingredients" id="ingredients" maxlength="1000" placeholder="Please list all ingredients of this product." rows="9" style="width: 100%;"></textarea>  
			    </div>
			    
			    <div class="form-group">
					<label for="description">Description</label> 
					<textarea class="form-control" 
					ng-disabled="!productData.hasOwnProperty('category')"
					ng-model="productData.description" id="description" maxlength="2000" placeholder="Write a couple paragraphs about how special your product is." rows="9" style="width: 100%;"></textarea>  
			    </div> 
			    
			    <div class="form-group">
					<label for="certification">Certification</label>
					<select ng-model="productData.certification" ng-selected="productData.certification" ng-options="c._id as c.name for c in certifications" name="certification" class="form-control">
					</select>
			    </div>
			    <div class="form-group">
			    	<button type="reset" class="btn btn-default">Reset</button>    
			    	<button type="submit" class="btn btn-default" ng-disabled="productUpload.$invalid">Save</button>
				</div>
			  </fieldset>
		  </form>
	
	</div>
</div>
