<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
	<h1>Oops! Sorry {{currentUser.name}} you can't upload products</h1>
	<h2>Why am I seeing this page?</h2>
	<p>There are a couple reasons you may be seeing this page. If you believe you are seeing this page in error please <a ng-href="/contact?subject={{'I cannot upload products'|forURL}}">contact</a> our admin and he'll sort it out for you.</p>
	<h3>1. Your application hasn't finished being analysed yet</h3>
	<p>Remember when you first joined the NNFC as a producer you filled out an application form? Well the reason you can't see the product uploading page could be that we haven't finish processing the application yet. When you have been approved you will receive an email saying your privledges have changed.</p>
	<p>If you joined as a producer but never filled out an application form or had problems with your application, try again <a href="/apply">here</a>.</p>
	<h3>2. You originally joined as a customer and then changed to being a producer at a later point</h3>
	<p>To upload products after becoming a producer you must still fill out a producer application form. <a href="/apply">Click here</a> to start your application.</p>
	<h3>3. For some reason we've temporarily revoked your selling privledges</h3>
	<p>If you believe this has happened unintentionally or by mistake, please <a ng-href="/contact?subject={{'I cannot upload products'|forURL}}">contact</a> our admin for more information</p>
</div>