<div id="login-button" style="z-index:9999" ng-controller="loginCtrl">
	<a id="login" ng-click="showLogin = !showLogin">
		<span class="glyphicon glyphicon-lock"></span> Login
	</a>

	<!-- dropdown menu links -->
	<div ng-show="showLogin" class="login animate-show">
		<button type="button" class="close" aria-hidden="true" ng-click="showLogin = false">&times;</button>
		<form name="signIn" autocomplete="on" novalidate>
			<div class="form-group" ng-class="{'has-error': signIn.email.$invalid && signIn.email.$dirty, 'has-success':signIn.email.$valid && signIn.email.$dirty}">
				<label for="inputEmail" class="sr-only">Email</label>
				<input ng-model="loginData.email" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
				type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="inputPassword" class="sr-only">Password</label>
				<input ng-model="loginData.password" type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block" ng-click="showLogin = false; submitForm()">Login</button>
			</div>
		</form>
		<span ng-click="showLogin = false"><a href="/forgot" class="text-center">Forgot my password?</a></span>
	</div>

</div>
