

#login-button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.login-button {
	position: relative;

}

.login button.close {
	position: absolute;
	right: 15px;
	top: 5px;
}

.feature-box {
	margin: auto;
	padding: 5em;
	background: #1d1d1d;
	width: 50%;
	min-width: 250px;
	position: relative;
	opacity: 0.9;
}

h1.logo {
	font-size: 4em;
	font-family: 'Nevis', sans-serif;
	font-weight: 500;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px #292828;
	margin: 20px 0;
	padding: 0;
}

h2.slogan {
	font-size: 1.5em;
	color: yellow;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px 1px 1px #292828;
	margin: 20px 0;
	padding: 0;
}

.login {
	background-color: rgba(255,255,255,0.86);
	padding: 25px;
	z-index: 999;
	position: absolute;
	right:0;
	width: 250px;
}

#banner {
	background: url(/img/Grass-Field.jpg) center no-repeat;
	padding: 50px 0;
	margin-bottom: 0px;
	border-bottom: 5px solid #652c4a;
	overflow: hidden;
}
