/* @override 
	http://localhost:8000/app/css/site.css
	http://localhost:8000/app/css/banner.css
*/

div#grass-containter {
	overflow: hidden;
	z-index: -99999;
	padding-top: 22px;
	padding-left: 18px;
	padding-right: 0;
	margin-bottom: 40px;
}

#login-button {
	position: absolute;
	top: 10px;
	left: 10px;
}

#login-drop-down-menu button.close {
	position: relative;
	float: right;
	margin-right: -15px;
	margin-top: -30px;
}

.feature-box {
	margin: auto;
	padding: 5em;
	background: #1d1d1d;
	width: 50%;
	min-width: 250px;
	position: relative;
}

h1.logo {
	font-size: 4em;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px #292828;
	margin: 20px 0;
	padding: 0;
}

h2.slogan {
	font-size: 1.5em;
	color: yellow;
	text-align: center;
	text-shadow: 1px 1px 1px #292828;
	margin: 20px 0;
	padding: 0;
}

div.login {
	background-color: rgba(255,255,255,0.86);
	padding: 38px;
	z-index: 999;
}

div#banner {
	background: url(/img/Banner.jpg) center no-repeat;
	padding: 50px 0;
	margin-bottom: 0px;
	border-bottom: 5px solid #652c4a;
}