/* @override http://localhost:8000/app/css/site.css */

a:hover {
	cursor: pointer;
}

#wrap {
	margin: auto;
	max-width: 1600px;
}

.nav-pills > li > a {
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}

.image-drop {
	display: block;
	width: 150px; 
	height: 60px;
	border: 3px dashed #cbcbcb;
	color: #aa969f;
	text-align: center;
	line-height: 1.2em;
	margin-bottom: 20px;
}

.image-drop span {
	display: block;
	margin-top: 10%;
}

/* Store */ 

.panel-btn {
	margin-right: 1em;
	float: left;
}

#sidebar {
	margin: 0 20px;
	width: 35%;
	float: left;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

#products-section {
	margin: 0 20px;
}

#store {
	margin-top: 20px;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}



/* www.\befundoo.com/university/tutorials/angularjs-directives-tutorial/ */

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}
