/* @override http://localhost:8000/app/css/site.css */

a:hover {
	cursor: pointer;
}

#wrap {
	margin: auto;
	max-width: 1600px;
}

div#wrap.container {
	margin-top: 10px;
}

#wrap div.row.ng-scope ul.nav.nav-pills.pull-right {
	margin-bottom: 10px;
}

.image-drop {
	display: block;
	width: 150px; 
	height: 60px;
	border: 3px dashed #cbcbcb;
	color: #aa969f;
	text-align: center;
	line-height: 1.2em;
	margin-bottom: 20px;
}

.image-drop span {
	display: block;
	margin-top: 10%;
}

/* Store */ 

#sidebar {
	margin: 0 20px;
	width: 35%;
	float: left;
}

#products-section {
	margin: 0 20px;
}

#store {
	margin-top: 20px;
}



/* www.\befundoo.com/university/tutorials/angularjs-directives-tutorial/ */

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}
