body {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}
h1 {font-weight: 700;}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a:hover {
	cursor: pointer;
}

#wrap {
	margin: auto;
	max-width: 1600px;
}

.nav-pills > li > a {
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}

.image-drop {
	display: block;
	width: 50%;
	min-width: 300px;
	height: 180px;
	border: 2px dashed #cbcbcb;
	text-align: center;
	margin: 20px auto 40px;
}

.image-drop div {margin-top:2.3em;}
.image-drop div p{margin-bottom:-10px;}


/*
ProducerList Page
*/
.producer-box {
	padding: 10px;
	margin: 15px 0;
	border-bottom: 1px #cdcdcd solid;
}

.producer-img-small {
	max-height: 150px;
	border: 1px #cdcdcd solid;
	padding: 2px;
	background: white;
	margin-right: 30px;
}



/*
Content Pages
*/
#cropme-cancel, #cropme-ok { display: none; }
.article-img{ margin: 1em; }

/*file upload button*/
.upload {
	margin: 0;
	position: relative;
}

.upload input[type="file"]{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    }

.opacity{
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
     -moz-opacity: 0;
     -khtml-opacity: 0;
     opacity: 0;
    }


/*	---- Product Upload Page ----	*/
img.certification-img {
	width: 33%;
	max-width: 88px!important;
	position: absolute;
	top:15px;
	right:15px;	
}


/*Modals*/
ul {list-style: none; list-style-type: none; margin: 0; padding: 0;}

.modal-header section {position: relative}

/* Store */ 


.panel-btn {
	margin-right: 1em;
	float: left;
}

#sidebar {
	width: 30%;
	float: left;
	position: fixed;
	z-index: 999;
	height: 100%;
	padding: 10px;
	background: #fff;
	border-right: 1px solid #dddddd;
	overflow: scroll;
}

#sidebar button{padding: 10px;}

#main-nav-and-sorting label{margin: 0 0.5em;}

.menu-icon {
	font-size: 2em;
	line-height: 0.6em;
	cursor: pointer;
	top: -0.06em;
	position: relative;
}

#products-section {
	margin: 20px;
}


/*div that contains the product containers. Flex container.*/
#store-products {
	list-style: none;
	margin: 0;
	display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	flex-flow: row wrap;
	justify-content: left;
	align-items: flex-start;
	align-content: flex-start;
}

.product-container { /*section that is repeated for the store products. Flex items*/
	position: relative;
	width: 33%;
	margin: 10px;
	padding: 15px;
	overflow:hidden;
	background:#ddd;
}

.product-container figure.first-layer img {
	max-width: 100%;
	max-height: 300px;
	display: block;
	margin: auto;
}

.product-container figcaption{margin-top:25px;}

.product-container figcaption .btn-group {margin-top: 0.8em}

/*
.product-container figure {background:#ddd;}
*/

.details-layer {
	position: absolute;
	bottom: -100%;
	left: 0;
	right: 0;
	background: #c5c5c5;
	height: 100%;
	visibility: hidden;
	
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	
}

.details-layer-visible {bottom:0; opacity:1; visibility: visible; -moz-transform: scale(1.1) rotate(-2deg);}
	
.details {padding: 5px 2%;}

.details button {position: absolute; bottom: 5px; left: 5px;}

#store {
	margin-top: 20px;
}







/* www.\befundoo.com/university/tutorials/angularjs-directives-tutorial/ */

/*
.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}*/

#footer {
	background-color: #652c4a;
	color: white;
	margin-top: 4em;
}

#footer-nav ul.nav > li > a {
	color: white;
	font-size: 0.7em;
}

#footer-nav ul.nav > li > a:hover {
	color: #652c4a;
}
