<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/signup">Sign up</a></li>
  <li class="active">Customer Benefits</li>
</ol>

<div class="col-xs-12">
	<div class="page-header">
		<h1 class="text-center">Co-op Customer Benefits</h1>
	</div>
  
  <article class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h3>Shop at your convenience, collect your order and don't pay for delivery</h3>
    <p>You can shop in our online store at any time. Manage your shopping cart from the "Member Tools"" menu or from the <a href="/cart">Cart Page.</a> Every Thursday night, everything in your cart is automatically checked out (saving a tedious checkout step). Then we'll send you an email invoice. You can pay for your order by credit card or internet banking. Just use your name as a reference.</p>
    
    <h3>Pick Up, Don't Pay for Delivery</h3>
    <p>Your order will be available for collection on Tuesdays at 1 Woods Road, Whangarei. We're in the warehouse behind Chipmunks. When you pick up, delivery costs aren't added to our prices, passing the savings directly to you.</p>
    
    <h4>Alternate Pickup Locations</h4>
    <p>If picking up in the Whangarei CBD is not convenient for you, just <a href="/contact">let us know</a>. We'll arrange for a member near you to collect your order, and bring it to your neighbourhood for you to pick up. All at no extra cost.</p>
    <p>If there are no other members near you, your order can also be delivered by courier. Just  <a href="/contact">ask us</a> about courier delivery. We'll invoice you for the courier cost, which varies based on the size of your order and where you live.</p>
    
    <h4>Fridge and Freezer Transport</h4>
    <p>Whether you're picking up or receiving delivery, you can rest assured your chilled and frozen goods will remain fresh and safe. We use ChillTainers for pickup and courier boxes, providing 6-8 hours of chilling without the aid of a refrigerated truck.</p>
    
    <h3>Know What’s In Your Food, Where It Came From, And How It Was Grown</h3>
    <p> All our food is GE free, free-range and made or grown in Northland. Produce is always spray-free, and many of our growers are completely organic. If a producer is certified organic, an organic certification badge appears on their products.</p>
    <p>When producers join us, they declare any and all chemicals they use. Our standards committee then decides whether or not to bring them onboard.</p>
    <p>Producers have a <a href="/producer-list" target="_blank">profile page</a> where they share their production methods and stories.</p> 
    
   <h3>Be Part Of Our Vibrant Community Of Food Lovers And Growers</h3>
   <p>You can call or email our producers directly to learn more  about their products. You can also share tips, ideas and suggestions on our message board. After signing up you'll receive regular email reminders and updates about what we're up to.</p>
    
    
    <div class="text-center" style="margin-bottom: 20px">
      <a class="btn btn-primary btn-lg" href="/signup">Sign up</a>
    </div>
  </article>
  
  
  
</div>