<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/signup">Sign up</a></li>
  <li class="active">Producer Benefits</li>
</ol>

<div class="col-xs-12">
	<div class="page-header">
		<h1 class="text-center">Co-op Producer Benefits</h1>
	</div>
  
  <article class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h3>Apply To Sell</h3>
    <p>To sell in our online store, you'll need to fill out an application. Just sign up, and you'll be taken straight to the short online questionaire. All we need to know is what you'll be selling, which chemicals you use (if any), and, if you're certified organic, who with? Our standards committee then reviews your application and will approve you, usually within the same day.</p>
    
    <h3>Showcase Your Products Online</h3>
    <p>Once approved, you can list your products. If you have a large number of products, our administrator may be able to help you. Listing is as simple as giving products a name, category, price and stock level. You can also supply a photo and write a description. Changes can be made to your listing at any time, including un-publishing it if you need to remove that item from the store for a time. This works well if your products are seasonal.</p>
    
    <h4>Receiving Sales</h4>
    <p>Once your products are listed in the store, members can order them. Every Thursday night, customers' shopping carts are automatically checked out (saving a tedious checkout step). Then we email you your order, listing everything you sold, as well as who ordered it.</p>
    <p>All you need to do is bring enough inventory to meet your orders to us by the following Tuesday at 3pm.</p>
    
    <h4>Fridge and Freezer Storage</h4>
    <p>If your products need to be kept cool, we can store them for you once you receive your order- no need to wait for delivery day. Frozen goods can also be stocked with us, but our freezer space is limited so please contact us first to arrange it.</p>
    
    <h4>Let Us Stock Your Shelf-Stable Products</h4>
    <p>We can store your shelf-stable products at our warehouse and distribute them for you as your orders come through. That way, there's no need to deliver every week. We may occasionally also offer them as upsells on delivery day. Payment for shelf-stable products is generally on consignment unless you make a different arrangement with us.</p>
    
    <h3>Get Paid Promptly</h3>
    <p>After you've had goods ordered you can expect payment to be made within one week.</p>
    
    <h3>Promote Yourself To Members And The World</h3>
    <p>As a producer, you'll get a <a href="/producer-list" target="_blank"> profile page</a> where you can promote your production methods and share your story. These profiles help build trust between you and your customers as well as generate other interest in your operation from larger buyers.</p> 
    
    
    <div class="text-center" style="margin-bottom: 20px">
      <a class="btn btn-primary btn-lg" href="/signup">Sign up</a>
    </div>
  </article>
  
  
  
</div>