<div class="row">

	<div class="col-xs-12">
		<div class="page-header">
			<h1 class="text-center">Sign Up To Get Started</h1>
		</div>
		
		<article class="membership col-md-6 col-md-offset-3">
			<h3>Free membership if you live near Kaikohe, New Zealand</h3>
			<p class="lead">Members of the new Kaikohe Food Co-op can buy and sell for free in the Northland Natural Food Co-op. To get your free account simply supply a Kaikohe address and use the discount code <strong>KAIKOHE</strong>.</p>
		</article>

		<div class="col-sm-6">
			<div class="membership" style="padding: 0 1em">
        <div class="row membership-head"><h1 class="text-center">Customer</h1></div>
  			<div class="row membership-price">
  				<!-- <h1 class="text-center" >$30</h1> -->
  				<h1 class="text-center">BUY LOCAL FOOD</h1>
          <!-- <h3 class="text-center">Try us now for </h3> -->
  			</div>
  			<div class="row membership-percs">
  				<ul class="list-unstyled">
  					<li><span class="glyphicon glyphicon-ok"></span> Gain 24hr online access to our range of delicious, healthy, local food</li>
  					<li><span class="glyphicon glyphicon-ok"></span> Have your weekly order packed and delivered to the Whangarei CBD</li>
  					<li><span class="glyphicon glyphicon-ok"></span> Know what’s in your food, where it came from, and how it was grown</li>
            <li><span class="glyphicon glyphicon-ok"></span> Become part of a vibrant community of food lovers and growers</li>
            <li><span class="glyphicon glyphicon-ok"></span> Full Membership for $30</li>
            <li><span class="glyphicon glyphicon-ok"></span> 30 day free trial</li>
            <li><span class="glyphicon glyphicon-ok"></span> 100% refundable</li>
  				</ul>
  			</div>
        <div class="row">
  			  <div class="col-xs-6 membership-button"><button class="btn btn-primary btn-block" ng-click="open('Customer')">JOIN</button></div>
  			  <div class="col-xs-6 membership-button"><a class="btn btn-primary btn-block" href="/info/customer">Learn More</a></div>
        </div>
      </div>
		</div>
		<div class="col-sm-6">
      <div class="membership" style="padding: 0 1em">
  			<div class="row membership-head"><h1 class="text-center">Producer</h1></div>
  			<div class="row membership-price">
  				<!-- <h1 class="text-center">$60</h1> -->
  				<h1 class="text-center">BUY &amp; SELL LOCAL FOOD</h1>
          <!-- <h3 class="text-center">30 day free trial</h3> -->
  			</div>
  			<div class="row membership-percs">
  				<ul class="list-unstyled">
  					<li><span class="glyphicon glyphicon-ok"></span> Upload your products anytime and from anywhere</li>
  					<li><span class="glyphicon glyphicon-ok"></span> Make new business connections and grow your customer base</li>
  					<li><span class="glyphicon glyphicon-ok"></span> Share your story in our producer directory</li>
            <li><span class="glyphicon glyphicon-ok"></span> Become part of a vibrant community of food lovers and growers</li>
            <li><span class="glyphicon glyphicon-ok"></span> Full Membership for $60</li>
            <li><span class="glyphicon glyphicon-ok"></span> 30 day free trial</li>
            <li><span class="glyphicon glyphicon-ok"></span> 100% refundable</li>
  				</ul>
  			</div>
        <div class="row">
  			  <div class="col-xs-6 membership-button"><button class="btn btn-primary btn-block" ng-click="open('Producer')">JOIN</button></div>
  			  <div class="col-xs-6 membership-button"><a class="btn btn-primary btn-block" href="/info/producer">Learn More</a></div>
        </div>
      </div>
		</div>

	</div>
</div>
<br>
<br>

	<div class="img-content jumbotron bg-warning flex-center" full-hero>
		<div class="img-column hidden-xs col-sm-4">
			<img src="../img/happy-customer-producer.jpg" alt="Agricultural Landscape" class="img-responsive img-circle">
		</div>
		<div class="jumbotron bg-warning col-sm-8">
				<h2 class="text-center">
					Want an easy way to
				</h2>
			<h1 class="text-center">buy &amp; sell local food?</h1>
			<br>
			<p class="text-justify">As a member of the Northland Natural Food Coop, you can <strong>buy</strong> and <strong>sell</strong> local food through our online stores. Simply upload your products or place your order <strong>online.</strong> The food is then delivered to our sorting centers, and <strong>distributed</strong> to pick-up sites all over Northland for customers to <strong>collect.</strong></p>
			<div class="text-center btn-group">
				<button class="btn btn-primary btn-lg" ng-click="open('Customer')">Join as a Customer</button>
				<button class="btn btn-primary btn-lg" ng-click="open('Producer')">Join as a Producer</button>
			</div>
		</div>
	</div>
	<div class="jumbotron img-content bg-success flex-center" full-hero>
		<div class="jumbotron bg-success col-sm-8">
			<h2 class="text-center">
				Want assurance your food is
			</h2>
			<h1 class="text-center"> fresh, healthy and local?</h1>
			<br>
			<p class="text-justify">As a customer, you will know exactly <strong>who</strong> produced your food, as well as <strong>where</strong> and <strong>how</strong> it was grown or raised. This gives you a unique opportunity to support the producers and <strong>production practices</strong> of your choice.</p>
			<div class="text-center">
				<button class="btn btn-primary btn-lg" ng-click="open('Customer')">Join as a Customer</button>
			</div>
		</div>
		<div class="img-column hidden-xs col-sm-4" >
			<img src="../img/mum_healthy_food.jpg" alt="Mum Healthy Food" class="img-responsive img-circle">
		</div>
	</div>
	<div class="jumbotron img-content bg-info flex-center" full-hero>
		<div class="img-column hidden-xs col-sm-4">
			<img src="../img/happy-grower-square.jpg" alt="Happy Beetroot Grower Member" class="img-responsive img-circle">
		</div>
		<div class="jumbotron bg-info col-sm-8 ">
			<h1 class="text-center">
				Want a fair price for your products?
			</h1>
			<br>
			<p class="text-justify">As a producer, you will have complete <strong>control</strong> over the sale of your products. You set the <strong>prices</strong>; you decide what to sell, when to sell, and how much to sell. Regardless of your <strong>scale</strong> of operation, you will be connected with consumers who value quality products, healthy local economies, and a <strong>fair income</strong> for your work.</p>
			<br>
			<div class="text-center">
				<button class="btn btn-primary btn-lg" ng-click="open('Producer')">Join as a Producer</button>
			</div>
		</div>
	</div>


		<div class="jumbotron clearfix white flex-center" full-hero>
			<div class="col-sm-4 hidden-xs">
				<img src="../img/manyhandstogether.jpg" alt="Agricultural Landscape" class="img-responsive img-circle">
			</div>
			<div class="col-sm-8">
				<h1 class="text-center">
					100% member owned
				</h1>
				<br>
				<p class="text-justify">The NNFC is 100% member owned and operated, so by signing up, you also become a <strong>shareholder</strong>. You will receive a percentage of the co-op’s <strong>profits</strong> each year, and have the right to <strong>vote</strong> on all major decisions. For details, see our <a href="/policy">policy handbook</a></p>
				<div style="margin-top: 1.5em;" class="center-block btn-group" >
					<button class="btn btn-primary btn-lg" ng-click="open('Customer')">Join as a Customer</button>
					<button class="btn btn-primary btn-lg" ng-click="open('Producer')">Join as a Producer</button>
				</div>
			</div>
		</div>
		<div class="jumbotron clearfix white flex-center" full-hero>
			<div class="col-sm-8">
				<h1 class="text-center">
					Become an Owner
				</h1>
				<br>
				<p class="text-left">After a 30-day trial, the <strong>one time cost</strong> of joining our co-op makes you an official shareholder of the Food Co-op. Benefits of being a shareholder include <strong>lifetime</strong> membership in the NNFC, unlimimited access to our <strong>exclusive online store</strong>, the right to <strong>vote</strong> on all major decisions about the co-op, and receive a percentage of the co-op’s <strong>profits</strong> each year.</p>
        
        <p class="text-left"> Membership is 100% refundable and only mandatory after a 30-day trial. This trial begins the first time you buy or sell something online with us.</p>

				<p class="text-left">Current fees are as follows:<br>
					Customer Membership costs $30.00<br>
					Producer Membership costs $60.00
				</p>
				<div class="btn-group">
					<button class="btn btn-primary btn-lg" ng-click="open('Customer')">Join as a Customer</button>
					<button class="btn btn-primary btn-lg" ng-click="open('Producer')">Join as a Producer</button>
				</div>
				<small>All prices are in NZD</small>
			</div>
				<div class="col-sm-4 hidden-xs">
				<img src="../img/farmers-market.jpg" alt="online farmer's market" class="img-responsive img-circle">
			</div>
		</div>
</div>
