<div class="page-header col-sm-10 col-sm-offset-1 col-xs-12">
	<h1 class="text-center col-sm-12">Welcome to the NNFC</h1>
</div>

<article class="col-sm-10 col-sm-offset-1 col-xs-12" style="margin-bottom: 20px">
	
	
	<h1 class="text-center">What next?</h1>
  <h1 class="text-center"><a class="btn btn-primary btn-lg" href="/store">Start Shopping</a></h1>
	<div class="row">
  	<div class="col-sm-6 col-md-4">
  		<br>
  		<img src="/img/Little-Lambs.jpg" class="img-responsive" alt="Little Lambs">
  	</div>
  	<div class="col-sm-6 col-md-8">
    	<h3>Co-op Membership -- Own the Food System</h3>
      <p>Thank you for signing up. Your membership is free while you try out our service. We've sent you an invoice for you to pay if you'd like to become a full member. This invoice is due 30 days after your first sale.</p>
      
      <p>To account for this you're balance is now 
        <span ng-class="{'text-success': currentUser.balance > 0, 'text-danger':currentUser.balance < 0}" >{{currentUser.balance | currency}}</span>
      </p>
  
    	<p>You can pay your invoice either by internet banking or credit card with  <a href="https://www.txtpay.co.nz/VPos/VPos.aspx?merchant=NNFC&type=Payment" target="_blank">TXTPAY</a>.</p>
  	</div>
  </div>
  
	
	<section ng-if="currentUser.user_type.name == 'Producer' ">
		<h2>What next for Producers?</h2>
		<p>Unfortunately you cannot sell products until your producer application has finished being processed. We guarantee to get back to you quickly. You can still create your <a href="/me">Producer Profile</a> for now though.</p>
		<p>Your producer profile is a part of our <a href="/producer-list">producer directory</a> and a powerful way to reach new customers even outside of the co-op's store. You can share your business location to help customers in your region find you better. It provides a space for you to promote your business and business practices as well.</p>
    <div class="text-center">
		  <a class="btn btn-primary btn-lg" href="/me"><span class="glyphicon glyphicon-user"></span> Create My Profile</a>
    </div>
	</section>
</article>
				
