<div class="page-header col-sm-10 col-sm-offset-1 col-xs-12">
	<h1 class="text-center col-sm-12">Welcome to the NNFC</h1>
</div>

<article class="col-sm-10 col-sm-offset-1 col-xs-12">
	<p class="col-sm-12">Thank you for signing up. We've emailed you an invoice to pay your membership in the NNFC.</p>
	
	<h1 class="text-center">What next?</h1>
	
	<div class="col-sm-6 col-md-4">
		<br>
		<img src="/img/Little-Lambs.jpg" class="img-responsive" alt="Little Lambs">
	</div>
	<div class="col-sm-6 col-md-8">
		<h2>Pay the Invoice</h2>
		<p>While you may now use many features of the site, we'd appreciate prompt payment of your invoice. If you cannot find it in your inbox, please check your spam folder.</p>
		<p>You can pay your invoice either by internet banking or credit card with TXTPAY.</p>
		<h3>Credit Card</h3>
		<p>To pay by credit card, <a class="btn btn-primary" href="https://www.txtpay.co.nz/VPos/VPos.aspx?merchant=NNFC&type=Payment" target="_blank">Click here</a> and create a TXTPAY account if you haven't got one already.<br>
		Powered By <a href="https://txtpay.co.nz"><img src="/img/txtpay-logo-trans.png" height="25" alt="Txtpay Logo Trans"></a></p>
	</div>
	<div class="col-sm-12">
	<h3>Internet Banking</h3>
	<p>Or to pay by internet banking, please click your bank</p>
	<hr>
	<div class="row text-center">
		<div class="col-lg-2 col-sm-4 col-xs-4">
			<a href="https://secure.anz.co.nz/IBCS/pgLogin" ><img class="img-responsive center-block" src="https://secure.anz.co.nz/include/img/brand/largelogo.png"></a>
		</div>
		<div class="col-lg-2 col-sm-4 col-xs-4">
			<a href="https://www.asb.co.nz/personal/internet-banking-login" ><img class="img-responsive center-block" src="https://www.asb.co.nz/ASBWeb/Styles/Images/ASB-logo-2013.png"></a>
		</div>
		<div class="col-lg-2 col-sm-4 col-xs-4" style="background-color: #06193d">
			<a href="https://www.bnz.co.nz/ib/app/login" ><img class="img-responsive center-block" src="https://www.bnz.co.nz/mysite/home/images/bnz-logo.png"></a>
		</div>
		<div class="col-lg-2 col-sm-4 col-xs-4">
			<a href="https://www.co-operativebank.co.nz/InternetBankingSecure/t/iblogin.aspx" ><img class="img-responsive center-block" src="http://www.co-operativebank.co.nz/internetbanking/i/logo-co-op-bank-print.png"></a>
		</div>
		<div class="col-lg-2 col-sm-4 col-xs-4">
			<a href="https://www.ib.kiwibank.co.nz/" ><img class="img-responsive center-block" src="https://www.ib.kiwibank.co.nz/images/logo.png"></a>
		</div>
		<div class="col-lg-2 col-sm-4 col-xs-4">
			<a href="https://sec.westpac.co.nz/IOLB/Login.jsp" ><img class="img-responsive center-block" src="https://sec.westpac.co.nz/IOLB/images/westpac-logo.png"></a>
		</div>
	</div>
	
	<section ng-if="currentUser.user_type.name == 'Producer' ">
		<h2>Make your Producer Profile</h2>
		<p>Unfortunately you cannot sell products until your producer application has finished being processed. We guarantee to get back to you quickly. You can still create your <a href="/me">Producer Profile</a> for now though.</p>
		<p>Your producer profile is a part of our <a href="/producer-list">producer directory</a> and a powerful way to reach new customers even outside of the co-op's store. You can share your business location to help customers in your region find you better. It provides a space for you to promote your business and business practices as well.</p>
		<a class="btn btn-primary" href="/me"><span class="glyphicon glyphicon-user"></span> Create My Profile</a>
	</section>
	
	<h2>Shop!</h2>
	
	<p>You are allowed to shop at the NNFC now.</p>
	</div>
				
