<link rel="stylesheet" href="lib/bower_components/angular-cropme/cropme.css">
<!-- <div class="row bg-primary">
	<h4 class="text-center"> Upload another type of product</h4>
	<div class="col-sm-2 col-sm-offset-4 col-xs-6 text-center">
		<p><a href="/milk-upload" class="text-center jumbo-link">
			<svg class="icon-milk"><use xlink:href="/img/icons/icons.svg#icon-milk"></use></svg>
			<br>Raw Milk
		</a></p>
	</div>
	<div class="col-sm-2 col-xs-6 text-center">
		<p><a href="/meat-upload" class="text-center jumbo-link">
			<svg class="icon-milk"><use xlink:href="/img/icons/icons.svg#icon-sheep"></use></svg>
			<br>Bulk Meat</a></p>
	</div>
</div> -->


<div class="page-header col-xs-12">
	<h1 class="text-center">Upload a Product <!--<i class="fa fa-question-circle pull-right" ng-click="showHelp = !showHelp" ng-init="showHelp = false"></i>--></h1>
	<span class="pull-left">
		<h4><a href="/product-manager"><span class="glyphicon glyphicon-book"></span> To Product Manager</a></h4>
	</span>
	<span class="pull-right">
		<h4><a href="/product-upload" class="label label-success" ng-click="reset()"> New Product</a></h4>
	</span>
</div>

<div class="col-xs-12">
	
	<div id="product-upload-preview-column" class="col-sm-5 col-md-4" >
		<div ng-controller="calendarCtrl" class="">
			<a href="/calendar"><i class="fa fa-calendar pull-left fa-4x"></i></a>
			<p>
				<i class="fa fa-shopping-cart fa-fw"></i> Shopping <strong>{{shoppingTime()}}</strong><br>
				<i class="fa fa-gift fa-fw"></i> Delivery Day is <strong>{{deliveryDayFromNow}}</strong><br>
			</p>
		</div>
		<section ng-show="productData.category || productData.img || productData.productName">
			<h2>Preview <small>Live</small></h2>
			<div class="product-container center-block" ng-controller="productUICtrl" ng-mouseleave="detailsVisible = false" 
			style="width:100%; max-width: 430px">
				<figure class="first-layer" ng-mouseover="callDelayed()" ng-mouseleave="callCancelled()" ng-swipe-left="detailsVisible = true;">
					<img ng-if="productData.certification != certifications[0]._id && productData.img"
					 ng-src="img/certification/{{certificationImg(productData.certification)}}" class="certification-img">
					<img ng-src="{{selectedImg}}" class="img-responsive" ng-click="preview(productData)" style="min-height: inherit;
min-width: inherit;">
					<figcaption>
						<div class="pull-right">
							<button class="btn btn-primary pull-right" disabled>Add to Cart</button>
							<br>
							<span class="pull-right visible-xs visible-sm"
							tooltip-placement="left" 
							tooltip="Swipe left for more info"
							tooltip-trigger="click"><i class="fa fa-chevron-circle-left"> swipe</i></span>
						</div>
						<h5>{{productData.variety}} {{productData.productName}}</h5>
						<div ng-show="productData.productName === 'Raw Milk' ">
							<p>{{productData.priceWithMarkup|currency}} for 4L over two weeks ({{0.5*productData.priceWithMarkup|currency}} / 2L)</p>
						</div>
						<p ng-hide="productData.productName === 'Raw Milk' ">{{productData.priceWithMarkup|currency}} / {{productData.units}}</p>
					</figcaption>
				</figure>
				<section class="details-layer" ng-class="{ 'details-layer-visible' : detailsVisible}" ng-mouseleave="detailsVisible = false" ng-swipe-left="preview(productData)">
					<article class="details">
						<a href="" class="panel-btn-lg pull-left hidden-lg details-close-button" ng-click="detailsVisible = false">&times; </a>
						<h4><a ng-href="/producer/{{currentUser.producerData.companyName | forURL}}-{{currentUser.name | forURL}}">
						<span class="glyphicon glyphicon-user"></span>
						 {{currentUser.producerData.companyName || currentUser.name}}</a></h4>
						
						<h3>{{productData.variety}} {{productData.productName}}</h3>
						<div ng-show="productData.productName === 'Raw Milk' ">
							<p>{{productData.priceWithMarkup|currency}} for 4L over two weeks ({{0.5*productData.priceWithMarkup|currency}} / 2L)</p>
						</div>
						<p ng-hide="productData.productName === 'Raw Milk' ">{{productData.priceWithMarkup|currency}} / {{productData.units}}</p>
						<hr>
						<p> Category: {{productManager.categoryByID(productData.category).name}} 
						<span ng-if="product.certification !== 'none' ">
							Certified by  {{productManager.certificationByID(productData.certification).name}}</span>
						</p>
						<p ng-if="product.ingredients && product.ingredients.length > 0">Ingredients: 
					<span ng-repeat="item in product.ingredients"><a ng-href="/store?search={{item}}">{{item}} </a> </span></p>
						<div class="btn-group">
							<button class="btn btn-danger pull-right" disabled ng-if="product.quantity <= 0">
								SOLD OUT
							</button>
							<button class="btn btn-warning" ng-click="preview(productData)">
								Details
							</button>
						</div>
					</article>
				</section>
			</div>
		</section>
	
		
		<div ng-controller="productHistoryCtrl">
			<br>
			<h4 class="text-center">Edit A Product in the Store</h4>
			<accordion id="product-history-list" close-others="false">
				<accordion-group>
				<accordion-heading><span class="badge" style="margin-left: 10px">{{currentProducts.length}}</span> Products This Cycle</accordion-heading>
				
					<ul class="list-unstyled fa-ul">
						<li ng-repeat="i in currentProducts">
							<i class="fa fa-li fa-times" ng-click="delete($index, i._id)" style="cursor: pointer"></i>
							<a ng-href="/product-upload/{{i._id}}">{{i.fullName}}</a>
						</li>
					</ul>
				</accordion-group>
				<h4 class='text-center'>Re-list an Old Product</h4>
				<accordion-group>
					<accordion-heading><span class="badge" style="margin-left: 10px">{{pastProducts.length}}</span> Past Products </accordion-heading>
					<table class="table table-hover">
						<thead>
							<tr>
								<th><a href="" ng-click="predicate = 'fullName'; reverse=!reverse ">Name</th>
								<th><a href="" ng-click="predicate = 'price'; reverse=!reverse ">Price</th>
								<th><a href="" ng-click="predicate = 'cycle.deliveryDay'; reverse=!reverse ">Sale Date</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="i in pastProducts | orderBy:predicate:reverse ">
								<td><a ng-href="/product-upload/{{i._id}}">{{i.fullName}}</a></td>
								<td>{{i.price | currency}} / {{i.units}}</a></td>
								<td>{{i.cycle.deliveryDay|shortDate}}</td>
							</tr>
						</tbody>
					</table>
				</accordion-group>
			</accordion>
			<div class="row">
				<h4 class="text-center"> Upload another type of product</h4>
				<!-- <div class="col-sm-2 col-sm-offset-4 col-xs-6 text-center">
					<p><a href="/milk-upload" class="text-center jumbo-link">
						<svg class="icon-milk"><use xlink:href="/img/icons/icons.svg#icon-milk"></use></svg>
						<br>Raw Milk
					</a></p>
				</div> -->
				<div class="text-center">
					<h2><a href="/meat-upload" class="text-center no-underline">
						<svg class="icon-milk"><use xlink:href="/img/icons/icons.svg#icon-sheep"></use></svg>
						<br>Bulk Meat</a></h2>
				</div>
			</div>
		</div>
	</div>

	<div id="product-upload-form-container" class="col-sm-7 col-md-8" >
		<form name="productUpload" autocomplete="off" novalidate>
			<fieldset>
				<div class="row">
					<div class="form-group col-md-8">
						<div class="btn-group">
							<button type="button" class="btn btn-default selector" ng-model="productData.category" btn-radio="category._id" uncheckable ng-repeat="category in productManager.productCategories">
								{{category.name}}
							</button>
						</div>
						<alert type="danger" ng-show="submitted && !productData.category && !categoryError" close="categoryError = true">
							Please select a category for your product
						</alert>
					</div>
					<div class="form-group col-md-4">
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-default selector" ng-model="productData.refrigeration" btn-radio="'refrigeration'" uncheckable>
									Refrigerated
								</button>
								<button type="button" class="btn btn-default selector" ng-model="productData.refrigeration" btn-radio="'frozen'" uncheckable>
									Frozen
								</button>
							</div>
						</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12">
						<br>
						<label 
						type="button" class="btn btn-default btn-lg" ng-click="uploadImage = !uploadImage">Upload an image <span class="glyphicon glyphicon-cloud-upload"></span></label>
						<div collapse="!uploadImage">
							<cropme width="420" height="300" icon-class="" ratio="0.75" destination-width="400">
							</cropme>

							<hr>
							<alert type="info">Please note that your chosen image must be a minimum of <strong>420px by 300px</strong></alert>
							<p>Please be aware of our image <a href="/policy">policies</a></p>
							<div class="btn-group">
								<button class="btn btn-info" ng-click="crop()">Crop Image</button>
								<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
							</div>
						</div>
					</div>
				</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="name">Product Name</label>
							<input  name="name"
							ng-model="productData.productName" type="text" class="form-control" id="inputName" maxlength="25" 
							placeholder="e.g. {{ productManager.categoryByID(productData.category).placeholderName }}" autofocus required>
			        <div ng-show="submitted && productUpload.name.$invalid" class="help-block">
			          <alert type="danger" ng-show="productUpload.name.$error.required && !nameError" close="nameError = true">Sorry! A product name is required</alert>
			        </div>
						</div>
						<div class="form-group col-md-6">
							<label for="inputVariety" ng-model="variety">Variety</label>
							<input  
							ng-model="productData.variety" type="text" class="form-control" id="inputVariety" maxlength="25" 
							placeholder="e.g. {{ productManager.categoryByID(productData.category).placeholderVariety }}">
						</div>
					</div>
				
					<div class="row form-group">	
						<div class="form-group col-md-4">
							<label for="inputVariety">Price</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input 
							ng-model="productData.price" name="price" type="number" class="form-control" id="inputPrice" min="0" placeholder="e.g. 2.50" required>
							</div>
			        <div ng-show="submitted && productUpload.price.$invalid" class="help-block">
			          <alert type="danger" ng-show="productUpload.price.$error.required && !priceError" close="priceError = true">Please set a price</alert>
								<alert type="danger" ng-show="productUpload.quantity.$error.number && !priceError" close="priceError = true">Just use numbers here please. Dollar signs and decimal padding happens automatically.</alert>
			        </div>
						</div>
						
					    <div class="form-group col-md-4">
							<label for="units">Quantity Units</label>
							<input  type="text" ng-model="productData.units" name="units" id="units" class="form-control" 
							typeahead="unit for unit in productManager.categoryByID(productData.category).availableUnits | filter:$viewValue"
							placeholder ="e.g. kg or L or whole beast" required>
			        <div ng-show="submitted && productUpload.units.$invalid" class="help-block">
			          <alert type="danger" ng-show="productUpload.units.$error.required && !unitError" close="unitError = true">Please specify the unit of sale</alert>
			        </div>
					    </div>
					    
					    <div class="form-group col-md-4">
							<label for="quantity">Number Available</label>
							<input 
							ng-model="productData.quantity" name="quantity" type="number" max="1000" class="form-control" id="quantity" placeholder="e.g. 27" required>
			        <div ng-show="submitted && productUpload.quantity.$invalid" class="help-block">
			          <alert type="danger" ng-show="productUpload.quantity.$error.required && !quantityError" close="quantityError = true">Please set the quantity you are selling</alert>
								<alert type="danger" ng-show="productUpload.quantity.$error.number && !quantityError" close="quantityError = true">Just use numbers here please.</alert>
			        </div>
					    </div>
				   </div>
			     <div id="ingredients" class="form-group">
					<label for="ingredients">Ingredients</label> 
					<textarea class="form-control" 
					
					ng-model="productData.ingredients" id="ingredients" maxlength="1000" placeholder="Please list all ingredients of this product in a format like follows: rice flour, organic sugar, raw milk butter, salt." rows="9" style="width: 100%;"></textarea>  
			    </div>
			    
				<div class="form-group">
					<label for="description">Description</label> 
					<div text-angular
					ng-model="productData.description"
					placeholder="Write a couple paragraphs about how special your product is."
					name="description">
					</div>
				</div>
				<div class="form-group">
					<label for="certification">Certification</label>
					<select ng-model="productData.certification" ng-selected="productData.certification" ng-options="c._id as c.name for c in certifications" name="certification" class="form-control">
					</select>
				</div>
				
				<div class="form-group col-md-12 well">
				
					<h3>Sell For:</h3>
				
					<div class="btn-group">
						<button type="button" class="btn btn-default selector" ng-model="productData.cycle" btn-radio="cycle">
							Current Cycle Ending {{deliveryDay | date:'EEEE dd/MM/yyyy'}}
						</button>
						<button type="button" class="btn btn-default selector" ng-model="productData.cycle" btn-radio="cycle + 1">
							Next Cycle Ending {{nextDeliveryDay | date:'EEEE dd/MM/yyyy'}}
						</button>
						<button class="btn" ng-click="multiCycle = !multiCycle" ng-class="{'btn-success': multiCycle, 'btn-default': !multiCycle}">
							Different or Multiple Cycles <span ng-hide="!multiCycle" class="glyphicon glyphicon-menu-down"></span><span ng-hide="multiCycle" class="glyphicon glyphicon-menu-up"></span>
						</button>
					</div>
				
					<div collapse="!multiCycle">
						<button class="btn btn-default" ng-click="selectAllCycles()">Select All</button>
						<div class="btn-group">
							<button type="button" class="btn btn-default selector" ng-repeat="cycle in productManager.cycles" ng-model="productData.cycle[$index]" btn-checkbox btn-checkbox-true="cycle._id">{{cycle.deliveryDay | date:'EEE MMM dd yyyy'}}</button>
						</div>
					</div>
				</div>
				
				
				<div class="form-group">
					<div class="btn-group">
						<button type="submit" class="btn" ng-class="{'btn-success':productUpload.$valid, 'btn-warning':productUpload.$invalid}" ng-click="save(productUpload.$valid, categoryError);" analytics-on="click" analytics-event="Upload Product">
							<span ng-show="!!productData._id && productData.cycle < cycle && canShop">Re-list For Current Cycle</span>
							<span ng-show="!!productData._id && productData.cycle < cycle && !canShop">Re-list For Next Cycle</span> 
							<span ng-show="!!productData._id && productData.cycle === cycle && canShop">Upload</span>
							<span ng-show="!!productData._id && productData.cycle === cycle && !canShop">Re-list for Next Cycle</span>
							<span ng-show="!!productData._id && productData.cycle > cycle">Upload for Future</span>
							<span ng-show="!!productData._id && productData.cycle.length > 0">Create Across Selected Date(s)</span>
							<span ng-show="!productData._id && productData.cycle.length > 0">Create Across Selected Date(s)</span>
							<span ng-show="!productData._id">Save</span>
						</button>
						<button ng-if="productData._id" type="submit" class="btn" ng-class="{'btn-success': productUpload.$valid, 'btn-warning':productUpload.$invalid}" ng-click="update(productUpload.$valid, categoryError);" analytics-on="click" analytics-event="Upload Product" ng-hide="!!productData._id && productData.cycle < cycle">Update Current Listing</button>
						<button type="button" ng-click="reset()" class="btn btn-default">Reset Form</button>
						</div>
					</div>
					
			  </fieldset>
		  </form>
	</div>
</div>
