<div class="modal-header">
    <h3 class="modal-title">Caution</h3>
</div>
<div class="modal-body">
		<p>Please note that deactivating your product will remove it from the store and you will not receive any more orders for this product.</p>
		<p>Activating your product will make it available for sale immediately.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close(true)">Yes continue</button>
    <button class="btn btn-warning" type="button" ng-click="$dismiss()">No Thanks</button>
</div>