<form autocomplete="on" >
  <fieldset>
    <legend>Join the Northland Natural Food Co-op</legend>
    <div class="form-group">
      <label for="exampleInputEmail">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email" autofocus required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword">Create a Password</label>
      <input type="password" class="form-control" id="exampleInputPassword" placeholder="Enter a Password" required>
    </div>
    <div class="form-group">
      <label for="InputFirstName">First Name</label>
      <input type="text" class="form-control" id="InputFirstName" placeholder="First Name" required>
    </div>
    <div class="form-group">
      <label for="InputLastName">Last Name</label>
      <input type="text" class="form-control" id="InputLastName" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <label for="DateOfBirth">Date of Birth</label>
      <input type="date" class="form-control" id="DateOfBirth" min="2000-01-01" max="1910-01-01">
    </div>
    <div class="form-group">
      <label for="Address">Address</label> 
      <textarea id="Address" required></textarea>  
    </div>
    <div class="form-group">
    	<label for="InputLastName">Nearest City</label>
		<select contenteditable="true">
		  <option value="ahipara">Ahipara</option>
		  <option value="awanui">Awanui</option>
		  <option value="dargaville">Dargaville</option>
		  <option value="east-opua">East Opua</option>		  
		  <option value="haruru-falls">Haruru Falls</option>
		  <option value="kaeo">Kaeo</option>
		  <option value="kaikohe">Kaikohe</option>
		  <option value="kaiwaka">Kaiwaka</option>
		  <option value="kawakawa">Kawakawa</option>
		  <option value="kerikeri">Kerikeri</option>
		  <option value="maungatapere">Maungatapere</option>
		  <option value="mangaturoto">Maungaturoto</option>
		  <option value="maungawhai-heads">Mangawhai Heads</option>
		  <option value="moerewa">Moerewa</option>
		  <option value="ngunguru">Ngunguru</option>
		  <option value="ohaewai">Ohaewai</option>
		  <option value="okaihau">Okaihau</option>
		  <option value="omapere-and-opononi">Omapere and Opononi</option>
		  <option value="paihia">Paihia</option>
		  <option value="rawene">Rawene</option>
		  <option value="taipa bay-mangonui">Taipa Bay-Mangonui</option> 
		  <option value="te-kopuru">Te Kopuru</option>
		  <option value="waipu">Waipu</option>
		  <option value="wellsford">Wellsford</option>
		  <option value="whangarei" selected="true">Whangarei</option>
		  <option value="other">Other, please specify
		</select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> I want to sell products too!
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </fieldset>
</form>
