<div class="page-header">
	<h1>About Us
		<small>NNFC</small></h1>
</div>

<h2>Mission Statement</h2>
<p>To provide a marketing network in Northland for locally grown or processed foods and other locally made products for the mutual benefit of our producer and consumer members. The activities of the co-op are governed by the core values of healthy communities, environmental stewardship, social justice, and vibrant local economies.</p>

<h2>Vision Statement</h2>
<p><strong>Our vision is a local, sustainable food system in which:</strong></p>

<ul>
	<li>Much of the food eaten in Northland is produced close to home on small farms using ecologically sound and humane production methods</li>
	<li>Consumers can find out how their food was produced and make choices that support sustainable production practices</li>
	<li>Farmers receive fair incomes for their work stewarding the land and providing quality food for their neighbours</li>
	<li>Local food dollars go to local producers and related businesses, stay in Northland longer and circulate several times thereby contributing to a vibrant and stable local economy</li>
	<li>Food on Northland tables is fresh, wholesome, delicious and varies with the seasons.</li>
</ul>

<p>The Northland Natural Food Cooperative contributes to this vision by making it easy for local producers and consumers to connect for the purpose of buying and selling local foods and related products. It does this by providing an internet-based marketplace and a regular ordering system. As well, the cooperative promotes local foods, seasonal eating and sustainable production practices through education, presentations, networking and special events. The NNFC aims to complement and enhance other local food marketing initiatives such as farmers' markets and farm-gate sales. The Cooperative is part of a growing global movement to re-localize the food system for the well-being of local communities and the planet as a whole.</p>
