<header id="banner">
	<div id="grass-containter">
		<div class="container">
			<section class="feature-box">
				<h1 class="logo text-center">NNFC</h1>
				<h2 class="slogan text-center">Local • Sustainable • Affordable</h2>
			</section>
		</div>
	</div>
</header>
<br>

<!--
<a class="btn btn-primary" href="/about" scroll-anchor="title2" offset='51'>Mission Statement</a>
-->

<div class="col-md-12">
<article class="jumbotron white clearfix">
	<div class="col-sm-4">	
		<img src="../img/farmer-online-sm.jpg" width="413" height="413" alt="Farmer Online Sm" class="img-responsive img-circle">
	</div>
	<div class="col-sm-8">
		<h1 class="text-center">We make it easy to buy and sell local food online.</h1>
		<br>
	
		<p class="text-justify">Producers upload their products to our online store, and we market them to customers all over Northland. With all that food gathered in one convenient location, it’s easy for our customers to shop online. And we’re there every step of the way, providing the tools necessary for successful transactions. We maintain the infrastructure. We sort and deliver the food. And we care about you.</p>
		<p class="text-justify">That’s why we’re also active in the wider community, promoting healthy eating and sustainable agriculture through our presentations, education initiatives and special events. We support other local food initiatives, and encourage these groups to join us in building a positive future.</p>
	</div>
</article>
<article class="jumbotron white clearfix">	
	<div class="col-sm-4">	
		<img src="../img/happy-farmers-market-square.jpg" width="402" height="402" alt="Happy Farmers Market" class="img-responsive img-circle">
	</div>
	<div class="col-sm-8">
		<h1 class="text-center" id="title2">We believe buying local food should be easy. </h1>
		<br>
	
		<p class="text-justify">We want to create a community in which most of the food eaten locally is also produced locally. In such a community, producers wouldn’t have to compete with supermarket prices, and families wouldn’t struggle to afford fresh food. Farmers would be paid fairly. Customers could be sure their food was produced in a humane and eco-friendly way. And all the while, money would be earned and spent in Northland, generating a vibrant and stable local economy.</p>
		<p class="text-justify">The Northland Natural Food Co-op is part of a growing global movement which aims to localize food for the well-being of communities and the planet as a whole. By creating our online marketplace, we hope to bring this vision for the future into the present day.</p>
	</div>
</article>
</div>

