<br>
<article ng-if="!member" class="col-md-4">
	<p class="lead">Please feel free to contact us about any questions you have.</p>
	<p>Also feel free to phone or text us your questions at: <br>
		<strong><span class="glyphicon glyphicon-earphone"></span> 021 040 9066</strong>
	</p>
	<p ng-if="member" class="lead" >Use this form to contact <strong>{{member.name}}</strong> at the email address of {{member.email}}</p>
	<img class="img-responsive" src="img/cheese-fancy-local.jpg" alt="buy and sell dariy with the NNFC">
	
	
</article>

<form name="contactUs" ng-submit="submitForm(mail);" class="col-md-4">
	<fieldset>
		
		<legend><h1><span class="glyphicon glyphicon-envelope"></span> Contact Form</h1></legend>
	
		<div class="form-group">
	    	<label for="senderName">Full Name</label>
			<input ng-model="mail.name" name="senderName" type="text" class="form-control" placeholder="your full name here" ng-maxlength=20  required>
			<alert type="danger" 
			ng-show="contactUs.senderName.$dirty && contactUs.senderName.$invalid && contactUs.senderName.$error.required">
				Sorry: Your name is required.
			</alert>
		</div>
		<div class="form-group">
	    	<label for="senderEmail">Email</label>
			<input ng-model="mail.email" name="senderEmail" type="email" class="form-control" placeholder="your email here" required>
			<alert type="danger" ng-show="contactUs.senderEmail.$dirty && contactUs.senderEmail.$invalid">Sorry:
			  <span ng-show="contactUs.senderEmail.$error.required">email is required.</span>
			  <span ng-show="contactUs.senderEmail.$error.email">Please, write a valid email address. So we will know who to reply too.</span>
	      </alert>
		</div>
		<div class="form-group">
	    	<label for="senderSubject">Subject</label>
			<input ng-model="mail.subject" name="senderSubject" type="text" class="form-control" placeholder="email subject" required>
			<alert type="danger" ng-show="contactUs.senderSubject.$dirty && contactUs.senderSubject.$invalid">Sorry:
				<span ng-show="contactUs.senderSubject.$error.required">A subject is required. For reasons of courtesy.</span>
			</alert>
		</div>
		<div class="form-group">
	    	<label for="senderMessage">Message</label>
			<textarea ng-model="mail.message" name="senderMessage" type="text" class="form-control" rows="5" placeholder="Your message here" required></textarea>
			<alert type="danger" ng-show="contactUs.senderMessage.$dirty && contactUs.senderMessage.$invalid">Sorry:
				<span ng-show="contactUs.senderMessage.$error.required">A message is required.</span>
			</alert>
		</div>
		
		<button type="reset" class="btn btn-default">Reset</button>    
	    <button type="submit" class="btn btn-default" ng-disabled="contactUs.$invalid">Submit</button>
		
	</fieldset>	
</form>

<div class="col-md-4">
	 <aside class="well">
	 	<h3>Questions about how the co-op works?</h3>
		<p>Try the links below</p>
		 <ul>
			<li><a href="/faq">Frequently Asked Questions</a></li>
			<li><a href="/calendar">Co-op Ordering Calendar</a></li>
			<li><a href="/volunteer">Volunteering</a></li>
		</ul>
	</aside>
	 <aside class="well">
	 	<h3>Questions about Technical Stuff?</h3>
		<p>Try the links below:</p>
		 <ul>
			<li><a href="https://github.com/StrategicDevelopment/FoodCoop/issues/new">Features Request</a></li>
			<li><a href="https://github.com/StrategicDevelopment/FoodCoop/issues">Issues</a></li>
			<li><a href="https://github.com/StrategicDevelopment/FoodCoop">Repository Homepage</a></li>
		</ul>
	</aside>
</div>