
<div class="modal-header">
            <h3 class="modal-title">NNFC Image Uploader</h3>
        </div>
<div class="modal-body">

	<!--
<cropme
		width="420"
		height="300"
		icon-class="glyphicon-cloud-upload"
		ratio="0.75"
		destination-width="400"
		class="center-block">
	</cropme>
-->

	<cropme
		width="420"
		height="300"
		icon-class=""
		ratio="0.75"
		destination-width="400"
		autocrop="true"
		>
	</cropme>



	<hr>
	<alert type="info">Please note that your chosen image must be a minimum of <strong>420px by 300px</strong></alert>
	<p>Please be aware of our image policies, this is a family oriented site intended to be appropriate for all ages. Offensive material will be removed.</p>
</div>


<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>