<div class="page-header">
	<h1>Goat Questions? We goat answers!</h1>
</div>

<div ng-class="{ 'col-sm-4' : !panelDisplay, 'col-sm-2' : panelDisplay}">
	<img src="../img/Funny-Goat.jpg" width="600" height="450" alt="Funny Goat" class="img-responsive">
</div>
<div ng-class="{ 'col-sm-8' : !panelDisplay, 'col-sm-10' : panelDisplay}">
<accordion close-others="true">
    <accordion-group heading="How do I join?">
		<p>You can sign up as a Producer or Customer member by clicking the link on our website and paying the invoiced amount.</p>

		<p>Please note that if you want to become a Producer Member, you will need to fill out a specialised application form, which will be reviewed before your membership can be approved. However, anyone can sign up as a Customer member.</p>
    </accordion-group>
		
	<accordion-group heading="Why does being a producer cost more?" ng-click="hashFunction('test')" is-open="hash === 'test'">
		<a href="http://economictimes.indiatimes.com/photo/20020464.cms">
			<img class="article-img" src="../img/working-hard.jpg" width="402" height="302" alt="Working Hard">
		</a>

		<p>Becoming a Producer Member allows you to use our website to sell your products. The slightly higher cost allows us to continue maintaining the website for you, and pays for reveiwing and approving Producer applications.</p>

		<p>Most producers recoup the cost of membership quickly by selling their products through the NNFC. However, should a producer wish to leave the co-op, the membership fee is completely refundable.</p>
	</accordion-group>
	
	<accordion-group heading="How do I know when to upload my products?" ng-click="hashFunction('upload-products')" is-open="hash === 'upload-products'">
		<p>Check the <a href="#/calendar">calendar</a> on our website to find out what days you can upload products. Access to the product uploading page is restricted outside these dates. Producer members will receive email notifications for when product uploading starts</p>
		<h4>Why only have a set time?</h4>
		<p>A set time for uploading is used to seperate uploading from ordering. It's analogous to the time spent setting up your booth at a farmer's market. If people tried to setup while customers were browsing for products, slow producers might miss out on customers and customers might miss the best deals.</p>
	</accordion-group>

	<accordion-group heading="What kind of food can I sell?">
		<p>In most cases, if you grew it, made it, or raised it in Northland, you can sell it. However, there are a few exceptions. </p>

		<p>We are proud to be GE free. Genetically engineered products will not be accepted for sale. This extends to goods that have GE ingredients, and animal products where the animal was fed genetically engineered material. As a Natural Food Co-op, we also require that producers declare all chemicals used in their production process. You can still sell your goods through the NNFC, but all chemical agents must be declared.</p>

		<p>Finally, for the sake of the animals, we do not accept goods derived from Confined Animal Feeding Operations (such as battery hens). Please keep your livestock free range. </p>
	</accordion-group>
	<accordion-group heading="When can I shop?" ng-click="hashFunction('shopping-start')" is-open="hash === 'shopping-start'">
		<p>Check the <a href="#/calendar">calendar</a> on our website to find out what days you can shop. All memebers will receive emails notifying them that ordering is now open.</p>
		<p>No webpages are restricted outside of shopping time but there will be no products in the store until the producers begin uploading products again.</p>
		<h4>Why only have a set time?</h4>
		<p>A set time for shopping is used because the co-op is technically not a store. We have no inventory and no way to ship orders on our own. We do show you what other producers are selling and fascilitate a convenient and efficient distribution system via volunteer sorters and drivers.</p>
	</accordion-group>
	<accordion-group heading="After shopping, how long do I have to pay?" ng-click="hashFunction('how-long-to-pay')" is-open="hash === 'how-long-to-pay'">
		<p>Check the <a href="#/calendar">calendar</a> on our website to find out when you must have paid your shopping invoice to us. All memebers who our records have not confirmed as having paid will receive a reminder on this day.</p>
		<h4>Why can't I pay by credit card?</h4>
		<p>There is a large number of reasons we don't accept credit cards. The main one being we are trying to keep costs down for the time being. If you'd like to pay directly online send us an <a href="#/contact">email</a>.</p>
	</accordion-group>

	<accordion-group heading="Where do I collect my food once I’ve paid for it?" ng-click="hashFunction('delivery-day')" is-open="hash === 'delivery-day'">
		<p>If you live in Whangarei, or want to collect your food while you’re in town, you can pick up your order from The Woods, in central Whangarei. Orders are avaible for collection from 3:00 p.m. onwards on Delivery Day. You can find out when the next Delivery Day is by checking the calendar on our wesite.</p>

		<p>If Whangarei is too far for you to travel, you can pick up your goods from a collection point closer to home. To find out times and places for community collection points, you’ll need to get in touch with your local Route Manager. Contact details for our Route Managers in communities all over Northland can be found <a href="#/route-managers-directory">here.</a></p>
		<br> <span class="glyphicon glyphicon-question-sign"></span>
		<div class="btn-group">
			<a target="_blank" class="btn btn-default" ng-href="https://www.google.com/maps/place/2+Woods+Rd,+Whangarei,+0110,+New+Zealand/"><span class="glyphicion glyphicon-map-marker"></span> See Map</a>
			<a target="_blank" class="btn btn-default" ng-if="currentUser" ng-href="https://www.google.com/maps/dir/{{currentUser.address}}/2+Woods+Rd,+Whangarei,+0110,+New+Zealand/"><span class="glyphicon glyphicon-question-sign"></span> Get Directions</a>
		</div>
	</accordion-group>
	<accordion-group heading="Where do I take the products I’ve sold?">
		<a href="http://9kidfitness.com/wp-content/uploads/2014/05/bikeo-HEALTHY-FOOD-facebook.jpg">
			<img src="/img/biking-healthy.jpg" alt="Biking Healthy">
		</a>

		<p>Producers should bring the goods their customers have ordered to The Woods, our facility in Central Whangarei. You should also bring a copy of your order list with you, as this makes it much easier for our volunteers to make sure the right customers receive your goods n the right quantities.</p>

		<p>All goods need to be dropped off at The Woods by 3:00 p.m. on Delivery Day. You can find out when the next Delivery day is by checking the calendar on our wesite.</p>
	</accordion-group>
</accordion>
</div>