<h1>NNFC FAQ</h1>

	
		<h2>How do I join?</h2>

		<p>You can sign up as a Producer or Customer member by clicking the link on our website and paying the invoiced amount.</p>

		<p>Please note that if you want to become a Producer Member, you will need to fill out a specialised application form, which will be reviewed before your membership can be approved. However, anyone can sign up as a Customer member.</p>
	
		<h2>Why does being a Producer cost more?</h2>
		<a href="http://economictimes.indiatimes.com/photo/20020464.cms">
			<img class="article-img" src="../img/working-hard.jpg" width="402" height="302" alt="Working Hard">
		</a>

		<p>Becoming a Producer Member allows you to use our website to sell your products. The slightly higher cost allows us to continue maintaining the website for you, and pays for reveiwing and approving Producer applications.</p>

		<p>Most producers recoup the cost of membership quickly by selling their products through the NNFC. However, should a producer wish to leave the co-op, the membership fee is completely refundable.</p>


	<h2>How do I know when to upload my products?</h2>

	<p>Check the calendar on our website to find out when Product Uploading is open.</p>


	<h2>What kind of food can I sell?</h2>

	<p>In most cases, if you grew it, made it, or raised it in Northland, you can sell it. However, there are a few exceptions. </p>

	<p>We are proud to be GE free. Genetically engineered products will not be accepted for sale. This extends to goods that have GE ingredients, and animal products where the animal was fed genetically engineered material. As a Natural Food Co-op, we also require that producers declare all chemicals used in their production process. You can still sell your goods through the NNFC, but all chemical agents must be declared.</p>

	<p>Finally, for the sake of the animals, we do not accept goods derived from Confined Animal Feeding Operations (such as battery hens). Please keep your livestock free range. </p>




	<h2>Where do I collect my food once I’ve paid for it?</h2>

	<p>If you live in Whangarei, or want to collect your food while you’re in town, you can pick up your order from The Woods, our facility in central Whangarei. Orders are avaible for collection from 3:00 p.m. onwards on Delivery Day. You can find out when the next Delivery Day is by checking the calendar on our wesite.</p>

	<p>If Whangarei is too far for you to travel, you can pick up your goods from a collection point closer to home. To find out times and places for community collection points, you’ll need to get in touch with your local Route Manager. Contact details for our Route Managers in communities all over Northland can be found <a href="#/route-managers-directory">here.</a></p>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.8708728284314!2d174.3216058!3d-35.72939409999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0b7efa8bf6609b%3A0x26cea25ad82b1210!2s2+Woods+Rd!5e0!3m2!1sen!2snz!4v1404966145711" width="600" height="450" frameborder="0" style="border:0"></iframe>


	<h2>Where do I take the products I’ve sold?</h2>
	<a href="http://9kidfitness.com/wp-content/uploads/2014/05/bikeo-HEALTHY-FOOD-facebook.jpg">
		<img src="/img/biking-healthy.jpg" alt="Biking Healthy">
	</a>

	<p>Producers should bring the goods their customers have ordered to The Woods, our facility in Central Whangarei. You should also bring a copy of your order list with you, as this makes it much easier for our volunteers to make sure the right customers receive your goods n the right quantities.</p>

	<p>All goods need to be dropped off at The Woods by 3:00 p.m. on Delivery Day. You can find out when the next Delivery day is by checking the calendar on our wesite.</p>