<header id="banner">
	<div id="grass-containter">
		<div class="container">
			<section class="feature-box">
				<h1 class="logo text-center">FEATURES</h1>
				<h2 class="slogan text-center">join a fair and sustainable food system</h2>
			</section>
		</div>
	</div>
</header>
<br>

<!--
<a class="btn btn-primary" href="/about" scroll-anchor="title2" offset='51'>Mission Statement</a>
-->
<div class="container">
<section class="row">
	<section class="col-md-2 col-md-offset-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-user-plus"></i></h2>
		<h3 class="text-center">Lifetime Membership</h3>
		<p class="text-justify">No ongoing membership fee</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-users"></i></h2>
		<h3 class="text-center">Member Owned</h3>
		<p class="text-justify">All members are also equal shareholders</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-sign-in"></i></h2>
		<h3 class="text-center">Easy Sign Up</h3>
		<p class="text-justify">Get started buying or selling in seconds</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-calendar"></i></h2>
		<h3 class="text-center">Shopping Cycle</h3>
		<p class="text-justify">Save on courier and food miles with our ordering cycles</p>
	</section>
</section>
<br>
<section class="row">
	<section class="col-md-2 col-md-offset-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-cloud-upload"></i></h2>
		<h3 class="text-center">Product Uploading</h3>
		<p class="text-justify">Get a real-time preview of how your product will look in the store.</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-dashboard"></i></h2>
		<h3 class="text-center">Producer Dashboard</h3>
		<p class="text-justify">Keep track of pending orders and manage your products in the store</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-newspaper-o"></i></h2>
		<h3 class="text-center">Member Noticeboard</h3>
		<p class="text-justify">Ask for advice, post a suggestion or read up on community thoughts</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-shopping-cart"></i></h2>
		<h3 class="text-center">One-Click Shopping</h3>
		<p class="text-justify">Literally, just one click</p>
	</section>
</section>
<br>
<section class="row">
	<section class="col-md-2 col-md-offset-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-envelope-o"></i></h2>
		<h3 class="text-center">Automatic Invoices</h3>
		<p class="text-justify">No checkout, just watch your email for our invoices and pay by internet banking or credit card</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><svg class="icon-milk"><use xlink:href="/img/icons/icons.svg#icon-milk"></use></svg></h2>
		<h3 class="text-center">Weekly Raw Milk</h3>
		<p class="text-justify">Support our local organic dairy farmers with weekly raw milk orders</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><svg class="icon-milk"><use xlink:href="/img/icons/icons.svg#icon-sheep"></use></svg></h2>
		<h3 class="text-center">Fill your Freezer</h3>
		<p class="text-justify">Buy a whole lamb, hogget, sheep or goat and have it butchered how you'd like</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-book"></i></h2>
		<h3 class="text-center">Producer Directory</h3>
		<p class="text-justify">Find and read about Northland farmers and the production methods they use</p>
	</section>
</section>
<br>
<section class="row">
	<section class="col-md-2 col-md-offset-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-usd"></i></h2>
		<h3 class="text-center">Sale Analytics</h3>
		<p class="text-justify">See which local food products have been selling best and more</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-envelope"></i></h2>
		<h3 class="text-center">Email Notifications</h3>
		<p class="text-justify">Can't be bothered checking our calendar page? Get all the important dates by email</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-car"></i></h2>
		<h3 class="text-center">Community Powered Delivery</h3>
		<p class="text-justify">Can't pick up? Ask a route manager to arrange your delivery from a neighbour in your area.</p>
	</section>
	<section class="col-md-2 col-sm-3 feature-container">
		<h2 class="text-center"><i class="fa fa-globe"></i></h2>
		<h3 class="text-center">Environmentally Sustainable</h3>
		<p class="text-justify">All products are made according to high envionrmental standards.</p>
	</section>
</section>
</div>
