<form name="forgotPWD" autocomplete="on" ng-submit="passwordReset()" novalidate>
	<fieldset>
		<legend>Recover Password</legend>
		<div class="form-group">
			<label for="email">Email address</label>
			<input name="email" type="email" class="form-control" placeholder="Enter email" ng-model="email" autofocus required>
			<alert type="danger" ng-show="contactUs.senderEmail.$dirty && contactUs.senderEmail.$invalid">Sorry:
				<span ng-show="contactUs.senderEmail.$error.required">email is required.</span>
				<span ng-show="contactUs.senderEmail.$error.email">Please, write a valid email address. So we will know who to reply too.</span>
			</alert>
		</div>
 
		<button type="submit" class="btn btn-default" ng-disabled="forgotPWD.$invalid">Submit</button>
	</fieldset>
</form>
	