
<carousel interval="slideInterval">
		<slide id="slide1" full-hero class="flex">
			<!--<img src="/img/originals/cheese-wine-meat.jpg" style="margin:auto;">-->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(5000)"> 
				<h1>Hungry?</h1>
				<h2>Shop for fresh, local food in our store</h2>
				<br>
				<p><a class="btn btn-primary btn-lg" role="button" href="/store">All in our Store</a></p>
			</div>
		</slide>
		<slide id="slide2" class="flex" full-hero>
			<!--<img src="/img/originals/cow-nosey.jpg" style="margin:auto;">-->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(5000)">
				<h1>Got local food? Sell through us</h1>
				<h2>Set your own prices and sell online</h2>
				<br>
				<p><a class="btn btn-primary btn-lg" role="button" href="/signup">Sign up</a></p>
			</div>
		</slide>
		<slide id="slide3" class="flex" full-hero>
			<!--<img src="/img/originals/farm_wallpaper.jpg" style="margin:auto;">-->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(5000)">
				<h1 class="text-center">SIGN UP</h1>
				<h2 style="font-family: Nevis">In three easy steps</h2>
				<!--
				<h1 class="text-center big-icons">
									<span class="glyphicon glyphicon-pencil"></span><span class="glyphicon glyphicon-arrow-right"></span>
									<span class="glyphicon glyphicon-envelope"></span><span class="glyphicon glyphicon-arrow-right"></span>
									<span class="glyphicon glyphicon-user"></span>
								</h1>-->
				
				<!--<h2 class="text-center">send details • pay invoice • login</h2>-->
				<h1>1 2 3</h1>
				<br>
				<p><a class="btn btn-primary btn-lg" role="button" href="/signup">Sign Up</a></p>
			</div>
		</slide>
		<slide id="slide4" class="flex" full-hero>
			<!--<img src="/img/originals/crowd2.jpg" style="margin:auto;">-->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(5000)">
				<h1>100% Member Owned</h1>
				<h2>We share our profits with you</h2>
				<br>
				<p><a class="btn btn-primary btn-lg" role="button" href="/about">Read More</a></p>
			</div>
		</slide>
		
		<slide id="slide5" class="flex" full-hero>
			<!--<img src="/img/originals/directory-books.jpg" style="margin:auto;">-->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(5000)">
		    	<h1>Find Producers Near You</h1>
		    	<h2>We have a full directory of local producers available online. Want to be included? <a href="/signup" style="color: white">Signup</a></h2>
				<br>
		    	<p><a class="btn btn-primary btn-lg" role="button" href="/producer-list">See Directory</a></p>
			</div>
		</slide>
</carousel>

<!--
<div class="jumbotron">
	<div class="container"><h1 class="text-center">Join in three steps</h1>
	<h1 class="text-center big-icons">
		<span class="glyphicon glyphicon-pencil"></span><span class="glyphicon glyphicon-arrow-right"></span>
		<span class="glyphicon glyphicon-envelope"></span><span class="glyphicon glyphicon-arrow-right"></span>
		<span class="glyphicon glyphicon-user"></span>
	</h1>
	<h2 class="text-center">fill out your details • pay the invoice • login</h2>
	<br>
	<p class="text-center"><a class="btn btn-primary btn-lg" role="button" href="/signup">Sign Up Now</a></p></div>
	
</div>

<div class="jumbotron">
	<h2 class="text-center">The NNFC's job is to:</h2> <h1 class="text-center">support and strengthen our local food economy</h1>
	<br>
	<p><a class="btn btn-primary btn-lg" role="button" href="/about">Read More</a></p>
	
</div>

                    
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<h2>What is a food co-op?</h2>
		<p>By definition, a co-op is owned by its members.  Members of the Northland Natural Food Co-op, will be participating in the creation of a local not-for-profit food system in Northland. The Northland NFC is based on existing working models around the world. See the <a href="http://www.oklahomafood.coop/" >Oklahoma Food Co-op</a> and <a href="http://www.ottawavalleyfood.org/" >Ottawa Valley Food Co-op for examples</a>.</p>
	</div>
	<div class="col-md-5">
		<h2>How does our Co-op Work?</h2>
		<ol>
			<li>Each month, our producer members post fresh products on our website</li>
			<li>Members then orders from the various producers</li>
			<li>On <a href="/faq#delivery-day">Delivery Day</a> orders get collected from Whangarei or a central location in their community</li>
		</ol>
		<p>For more details about the co-op please check our <a href="/faq">FAQ page</a>.</p>
	</div>
	<div class="col-md-1"></div>

-->