
<carousel interval="slideInterval">
		<slide id="slideCow" full-hero class="flex">
			<!-- <img src="/img/slides/raw-milk-comp.jpg"> -->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(-1)">
				<h1 class="text-info">Want Organic Raw Milk?</h1>
				<h2 class="text-info">Well you can have it.</h2>
				<br>
				<p><a class="btn btn-primary btn-lg" role="button" href="/store?category=Dairy%20%26%20Eggs">Buy Now</a></p>
			</div>
		</slide>
		<slide id="slideLamb" full-hero class="flex">
			<!-- <img src="/img/slides/raw-milk-comp.jpg"> -->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(-1)">
				<h1>Lamb, Hogget, Mutton and Goat</h1>
				<h2>Butchered to order at fantastic prices</h2>
				<br>
				<p><a class="btn btn-primary btn-lg" role="button" href="/store?category=Meat">Buy Now</a></p>
			</div>
		</slide>
		<slide id="slide1" full-hero class="flex">
			<!--<img src="/img/originals/cheese-wine-meat.jpg" style="margin:auto;">-->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(-1)">
				<h1>Practices you Believe In </h1>
				<h2>Shop Local, Organic and Cruelty Free</h2>
				<br>
				<p><a class="btn btn-primary btn-lg" role="button" href="/store">Shop <span ng-show="canShop">Now</span></a></p>
			</div>
		</slide>
		<slide id="slide2" class="flex" full-hero>
			<!--<img src="/img/originals/cow-nosey.jpg" style="margin:auto;">-->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(5000)">
				<h1>Got local food?</h1>
				<h2>Set your own prices and sell online</h2>
				<br>
				<p><a class="btn btn-primary btn-lg" role="button" href="/signup">Sign up</a></p>
			</div>
		</slide>
		<slide id="slide3" class="flex" full-hero>
			<!--<img src="/img/originals/farm_wallpaper.jpg" style="margin:auto;">-->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(5000)">
				<h1 class="text-center">Create a democratic, local food system</h1>
				<h2 style="font-family: Nevis">Become a Member and get involved</h2>
				<!--
				<h1 class="text-center big-icons">
									<span class="glyphicon glyphicon-pencil"></span><span class="glyphicon glyphicon-arrow-right"></span>
									<span class="glyphicon glyphicon-envelope"></span><span class="glyphicon glyphicon-arrow-right"></span>
									<span class="glyphicon glyphicon-user"></span>
								</h1>-->

				<!--<h2 class="text-center">send details • pay invoice • login</h2>-->
				<br>
				<p><a class="btn btn-primary btn-lg" role="button" href="/signup">Sign Up</a></p>
			</div>
		</slide>
		<slide id="slide4" class="flex" full-hero>
			<!--<img src="/img/originals/crowd2.jpg" style="margin:auto;">-->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(5000)">
				<h1>100% Member Owned</h1>
				<h2>Have your say in local food's future</h2>
				<br>
				<p><a class="btn btn-primary btn-lg" role="button" href="/about">Learn More</a></p>
			</div>
		</slide>

		<slide id="slide5" class="flex" full-hero>
			<!--<img src="/img/originals/directory-books.jpg" style="margin:auto;">-->
			<div class="carousel-caption" ng-mouseenter="setInterval(-1)" ng-mouseleave="setInterval(5000)">
		    	<h1>Find Producers Near You</h1>
		    	<h2>See our online directory of local producers</h2>
				<br>
		    	<p><a class="btn btn-primary btn-lg" role="button" href="/producer-list">See Directory</a></p>
			</div>
		</slide>
</carousel>
