<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the NNFC</h1>
    <p>The Northland Natural Food Co-op supports and strengthens a local food economy</p>
    <p><a class="btn btn-info btn-lg" href="#about-us">Learn more</a></p>
  </div>
</div>

<div class="page-header">
                    	<h1>Northland Natural Food Co-op
                    <small>NNFC</small></h1>
                    </div>
                    


<p>The Northland Natural Food Co-op (Northland NFC) is a marketing network of Northland farmers, growers, producers and customers. The Northland NFC’s activities are governed by the core values of healthy rural communities, environmental stewardship, social justice and vibrant local economies.</p>

<div id="well1" class="well">
	<h4>What is a co-op?</h4>By definition, a co-op is owned by its members.  Members of the Northland Natural Food Co-op, will be participating in the creation of a local not-for-profit food system in Northland. The Northland NFC is based on existing working models around the world. See the <a href="http://www.oklahomafood.coop/">Oklahoma Food Co-op</a> and <a href="http://www.ottawavalleyfood.org/">Ottawa Valley Food Co-op for examples</a>.
</div>

<h2>How does the Co-op Work? (Under Development)</h2>

<p>Each month, our producer members post what they have available on our website (still in development). Members have one week to place orders.</p>

<p>Then once a month, member producers bring the orders to central Whangarei (exact location still not decided) where the co-op’s volunteers sort everything into customer orders. The orders then go out to several pick-up sites in towns and rural areas across Northland. The Co-op pays for the deliverer’s petrol.</p>

<p>We are looking to schedule a public meeting to discuss logistics of collecting, sorting and delivering goods to members.</p>