<div class="row">
	<div id="product-upload-preview-column" class="col-md-4">
		<h2>Preview <small>Live</small></h2>
		<div id="preview-container" class="preview-box">
			<a href="#" class="thumbnail">
				<img ng-src="{{productData.image}}" alt="product name" width="100%">
				{{productData.certification.img}}
		  	</a>
			<h5>{{productData.variety}} {{productData.productName}}</h5>
			<p>{{1.2 * productData.price|currency}} / {{productData.units}}  <small>{{productData.quantity}} Available</small></p> <!-- multiply the price by 1.2 to include markup -->
		</div>
	
		<div id="product-history-list">
			<h3>Product History</h3>
			<table class="table table-hover">
				<caption>Current Month</caption>
				<thead>
					<tr>
						<th>Name</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in data">
						<td><a ng-click="editProduct(i)">{{i.productName}} {{i.variety}}</a></td>
						<td>
							<button type="button" class="close" aria-hidden="true" ng-click="delete($index)">&times;</button>
						</td>
					</tr>
				</tbody>
			</table>
			<h5>Product History</h5>
			
			<table class="table table-hover">
				<caption>Product History</caption>
				<thead>
					<tr>
						<th><a href="" ng-click="predicate = 'name'; reverse=!reverse ">Name</th>
						<th><a href="" ng-click="predicate = 'dateUploaded'; reverse=!reverse ">Date Added</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in data | orderBy:predicate:reverse ">
						<td><a ng-click="editProduct(i)">{{i.productName}} {{i.variety}}</a></td>
						<td>{{i.dateUploaded}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="product-upload-form-container" class="col-md-8" >
		<form name="productUpload" autocomplete="on" ng-submit="submitForm();" novalidate>
			<fieldset>
				<legend>Upload a Product {{username}}</legend>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="Category">Product Category</label>
							<select ng-model="productData.category" ng-selected="productData.category" name="category" class="form-control" id="category-menu" required>
								<option ng-repeat="item in categories">{{item.name}}</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label for="product-image">Product Image Upload</label>	  
							<div file-dropzone="[image/png, image/jpeg, image/gif]" file="productData.image" data-max-file-size="3" id="file-dropzone" class="image-drop">
							  <span>Drop Product Image Here</span>
							</div>    
						</div>
			    
					<div class="row">
						<div class="form-group col-md-6">
							<label for="inputName">Product Name</label>
							<input ng-model="productData.productName" type="text" class="form-control" id="inputName" maxlength="12" placeholder="e.g. {{category.placeholderName}}" autofocus required>
						</div>
						<div class="form-group col-md-6">
							<label for="inputVariety" ng-model="variety">Variety</label>
							<input ng-model="productData.variety" type="text" class="form-control" id="inputVariety" maxlength="18" placeholder="e.g. {{category.placeholderVariety}}">
						</div>
					</div>
				
					<div class="row">	
						<div class="form-group col-md-4">
							<label for="inputVariety">Price</label>
							<input ng-model="productData.price" name="price" type="number" class="form-control" id="inputPrice" min="0" placeholder="e.g. $2.50" required>
						</div>
						
					    <div class="form-group col-md-4">
							<label for="units">Quantity Units</label>
							<select ng-model="productData.units" ng-selected="productData.units" name="units" id="units" class="form-control" required>
								<option ng-repeat="item in availableUnits">{{item}}</option>
							</select>
					    </div>
					    
					    <div class="form-group col-md-4">
							<label for="quantity">Quantity Available</label>
							<input ng-model="productData.quantity" name="quantity" type="number" max="1000" class="form-control" id="quantity" placeholder="e.g. 27" required>
					    </div>
				   </div>
			    
			    <div class="form-group">
					<label for="refrigeration">Refrigeration Required</label>
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-model="productData.refrigeration" btn-radio="'none'">None</button>
						<button type="button" class="btn btn-primary" ng-model="productData.refrigeration" btn-radio="'refrigeration'">Refrigeration</button>
						<button type="button" class="btn btn-primary" ng-model="productData.refrigeration" btn-radio="'frozen'">Frozen</button>
					</div>
				</div>
			
			     
			     <div ng-show="ingredients" id="ingredients" class="form-group col-md-12">
					<label for="ingredients">Ingredients</label> 
					<textarea ng-model="productData.ingredients" id="ingredients" maxlength="1000" placeholder="Please list all ingredients of this product." rows="9" style="width: 100%;"></textarea>  
			    </div>
			    
			    <div class="form-group">
					<label for="description">Description</label> 
					<textarea ng-model="productData.description" id="description" maxlength="2000" placeholder="Write a couple paragraphs about how special your product is." rows="9" style="width: 100%;"></textarea>  
			    </div> 
			    
			    <div class="checkbox">
					<label for="certification">Certification (select those that apply)</label>
					<select ng-model="productData.certification" ng-selected="productData.certification" name="certification" class="form-control">
						<option ng-repeat="c in certifications">{{c.name}}</option>
					</select>
			    </div>
			    
			    <button type="reset" class="btn btn-default">Reset</button>    
			    <button type="submit" class="btn btn-default" ng-disabled="productUpload.$invalid">Save</button>
			  </fieldset>
		  </form>
	
	</div>
</div>
