<h1>Producer List</h1>

<div class="form-group">
	<label for="search">Search:</label>
	<input ng-model="search" name="search" class="form-control" type="search" placeholder="what are you looking for?"/>
</div>

 <div class="btn-group" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Sort By <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
		<li><a ng-click="predicate= 'dateJoined'; reverse=!reverse">Date Joined</a></li>
		<li><a ng-click="predicate= 'producerData.companyName'; reverse=!reverse">Company Name</a></li>
		<li><a ng-click="predicate= 'name'; reverse=!reverse">Producer Name</a></li>
      </ul>
    </div>

<div class="media producer-box" ng-repeat="i in producerList | orderBy:predicate:reverse | filter:search">
	<a href="" class="pull-left" ng-show="i.producerData.logo">
		<img class="producer-img-small" ng-src="{{i.producerData.logo}}" height="150px"/>
	</a>

	<div class="media-body">
		<a ng-href="#/producer/{{i.producerData.companyName | forURL}}-{{i.name | forURL}}"><button class="btn btn-default pull-right">More Details</button></a>
		<h3>{{i.producerData.companyName}} <small>{{i.name}}</small></h3>
        <ul class="unstyled">
			<li><span class="glyphicon glyphicon-map-marker"></span> 
				<a ng-href="//mapof.it/{{currentUser.address | forURL}}/{{i.address | forURL}}">{{i.address}}</a>
			</li>
        </ul>
		<hr>
		<article>{{i.producerData.description | blurb}}</article>
		
		
	</div>
</div>
