<div class="col-md-3"></div>
<div class="col-md-6">
	<div class="page-header">
		<h1>Producer List</h1>
	</div>

	<div class="input-group form-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
		<input ng-model="search" class="form-control" name="routeManagerSearch" type="search" placeholder="Search"/>
	</div>

	 <div class="btn-group" dropdown>
	      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
	        Sort By <span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
			<li><a ng-click="predicate= 'dateJoined'; reverse=!reverse">Date Joined</a></li>
			<li><a ng-click="predicate= 'producerData.companyName'; reverse=!reverse">Company Name</a></li>
			<li><a ng-click="predicate= 'name'; reverse=!reverse">Producer Name</a></li>
	      </ul>
	    </div>

	<div class="media producer-box" ng-repeat="i in producerList | orderBy:predicate:reverse | filter:search">
		<img ng-show="i.producerData.thumbnail" class="producer-img-small pull-left" ng-src="{{i.producerData.thumbnail}}"/>

		<div class="media-body">
			<h3><a class="pull-right btn btn-default" ng-href="/producer/{{i.producerData.companyName || i._id + '/' | forURL}}-{{i.name | forURL}}">Producer Page</a></h3>
			<h3>{{i.producerData.companyName || i.name}} <small ng-show="i.producerData.companyName">{{i.name}}</small></h3>
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-envelope"></span> <a ng-href="/contact/{{i._id}}">Email this Producer</a></li>
				<li ng-if="i.addressPermission"><span class="glyphicon glyphicon-map-marker"></span>
					<a ng-href="//mapof.it/{{currentUser.address | forURL}}/{{i.address | forURL}}">{{i.address}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-md-3"></div>
