<div class="page-header">
	<h1>{{producer.producerData.companyName}}</h1>
</div>
<img ng-src="{{producer.producerData.logo}}" width="200px" class="center-block"/>
<div class="row">
<div class="col-md-9">            
	<article>
		<h4>Company Description</h4>
		<p>{{producer.producerData.companyName}}</p>
		{{producer.producerData.description}}
		<hr>
		<h5>Contact Details</h5>
		<ul class="unstyled" id="contact-details">
			<li><span class="glyphicon glyphicon-earphone"></span> {{producer.phone}}</li>
			<li><span class="glyphicon glyphicon-envelope"></span> <a ng-href="mailto:producer.email">{{producer.email}}</a></li>
			<li><span class="glyphicon glyphicon-map-marker"></span> {{producer.address}}</li>
			<li><img src="../img/glyphicons/Globe.png" width="18" alt="Globe"> <a href="http://{{producer.producerData.website}}" target="_blank">{{producer.producerData.website}}</a></li>
		</ul>
	</article>


	
</div>

<div class="col-md-3 well">
	<h4>{{producer.name}}</h4>
	{{producer.producerData.personalBio}}
</div>
</div>
				

        