<div class="col-md-3"></div>
<div class="col-md-6">	
	<div class="page-header">
		<h1>Producer List</h1>
	</div>

	<div class="input-group form-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
		<input ng-model="search" class="form-control" name="routeManagerSearch" type="search" placeholder="Search"/>
	</div>

	 <div class="btn-group" dropdown>
	      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
	        Sort By <span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
			<li><a ng-click="predicate= 'dateJoined'; reverse=!reverse">Date Joined</a></li>
			<li><a ng-click="predicate= 'producerData.companyName'; reverse=!reverse">Company Name</a></li>
			<li><a ng-click="predicate= 'name'; reverse=!reverse">Producer Name</a></li>
	      </ul>
	    </div>

	<div class="media producer-box" ng-repeat="i in producerList | orderBy:predicate:reverse | filter:search">
		<img ng-show="i.producerData.logo" class="producer-img-small pull-left" ng-src="{{i.producerData.logo}}" height="150px"/>

		<div class="media-body">
		
			<h3>{{i.producerData.companyName}} <small>{{i.name}}</small></h3>
		
	        <ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-map-marker"></span> 
					<a ng-href="//mapof.it/{{currentUser.address | forURL}}/{{i.address | forURL}}">{{i.address}}</a>
				</li>
	        </ul>
			<hr>
		
			<article>{{i.producerData.description | blurb}}</article>
			<a class="pull-right" ng-href="#/producer/{{i.producerData.companyName | forURL}}-{{i.name | forURL}}"><button class="btn btn-default">More Details</button></a>
		
		</div>
	</div>
</div>
<div class="col-md-3"></div>
