<alert class="success">Hi {{user.name}}. Reset your password here. You'll receive an email notification that things were changed.</alert>

<form name="resetPwd" autocomplete="on" ng-submit="save()" novalidate>
	<fieldset>
		<legend>Reset Password</legend>
		<div class="form-group">
			<label for="pwd">New Password</label>
			<input name="pwd" type="password" class="form-control" placeholder="Enter a new password" ng-model="user.password" autofocus required>
		</div>
 
		<button type="submit" class="btn btn-default" ng-disabled="resetPwd.$invalid">Submit</button>
	</fieldset>
</form>