<div id="user-info-preview-column" class="col-md-4">
	<div id="preview-container" class="preview-box" >
		<h5>{{userData.fullName}} <span ng-hide="signUp.city.$pristine"> of </span> {{userData.city.name}}</h5>
		<p ng-hide="signUp.city.$pristine">Distance to Whangarei: <span>{{userData.city.distance}}km</span>
		<p ng-hide="signUp.city.$pristine">If you volunteer to deliver you will be paid: {{0.67 * userData.city.distance|currency}} for your petrol.
		</p>
	</div>
</div>

<form name="signUp" autocomplete="on" ng-submit="submitForm()" novalidate>
  <fieldset>
    <legend>Join the Northland Natural Food Co-op</legend>
    <div class="form-group">
      <label for="email">Email address</label>
      <input ng-model="userData.email" name="email" type="email" class="form-control" placeholder="Enter email" autofocus required>
      <div class="custom-error" ng-show="signUp.email.$dirty && signUp.email.$invalid">Sorry:
		  <span ng-show="signUp.email.$error.required">email is required.</span>
		  <span ng-show="signUp.email.$error.email">Please, write a valid email address.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="pw">Create a Password</label>
      <input type="password" class="form-control" ng-model="userData.pw" name="pw" placeholder="Enter a Password" required>
      <ul ng-hide="signUp.pw.$pristine || signUp.pw.$invalid" id="strength" check-strength="userData.pw" ></ul>
    </div>
    <div class="form-group">
      <label for="userFullName">Full Name</label>
      <input ng-model="userData.fullName" name="userFullName" type="text" class="form-control" placeholder="Full Name" required>
      <div class="custom-error" ng-show="signUp.userFullName.$dirty && signUp.userFullName.$invalid">Sorry:
		  <span ng-show="signUp.userFullName.$error.required">Full name is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="DateOfBirth">Date of Birth</label>
      <input type="date" class="form-control" id="DateOfBirth" min="2006-01-01" max="1910-01-01">
    </div>
    <div class="form-group">
      <label for="address">Address</label> 
      <input ng-model="address" name="address" type="text" id="address_field" class="form-control" required>
    </div>
    
    <div class="form-group">
    	<label for="securityQ">Security Question</label>
    	<select name="securityQ" ng-model="userData.securityQ" required>
	    	<option value="1">What was your childhood nickname?</option>
	    	<option value="2">In what city did you meet your spouse/significant other?</option>
	    	<option value="3">What school did you attend for year six?</option>
	    	<option value="4">What is your maternal grandmother's maiden name?</option>
	    	<option value="5">In what city or town was your first job?</option>
	    	<option value="6">Where were you when you first heard about 9/11?</option>
	    	<option value="7">What was the name of your first stuffed animal?</option>
    	</select>
    </div>
    
    <div class="form-group">
    	<label for="securityA">Security Answer</label>
    	<input type="text" name="securityA" ng-model="userData.securityA" placeholder="Put your answer here" required>
    </div>
    
    <div class="form-group">
    	<label for="city">Nearest City</label>
		<select ng-model="userData.city" ng-options="c.name for c in cities" name="city" id="category-menu" required></select>    
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="wantsToBeProducer"> I want to sell products too!
      </label>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="signUp.$invalid">Submit</button>
  </fieldset>
</form>
<script type='text/javascript' src='http://www.addressfinder.co.nz/assets/v2/widget.js'></script>
    
    <input type='text' id='search_field' placeholder="broken AddressFinder widget" />​