
<div class="modal-header">
            <h3 class="modal-title">Sign Up as a {{data}}</h3>
        </div>
<div class="modal-body">

	<alert type="{{message.type}}" role="alert" ng-show="message">
		{{message.message}}
	</alert>

	<form name="signUp" autocomplete="on" ng-submit="submitForm()" novalidate role="form" id="signup-form">		
		<div class="form-group">
			<label for="email">Email address</label>
			<input ng-model="userData.email" name="email" type="email" class="form-control" placeholder="Enter email" required>
			<div class="custom-error" ng-show="signUp.email.$dirty && signUp.email.$invalid">Sorry:
				<span ng-show="signUp.email.$error.required">email is required.</span>
				<span ng-show="signUp.email.$error.email">Please, write a valid email address.</span>
			</div>
		</div>
	
		<div class="form-group">
			<label for="pw">Create a Password</label>
			<input type="password" class="form-control" ng-model="userData.password" name="pw" placeholder="Enter a Password" required>
		</div>
	
		<div class="form-group">
			<label for="userFullName">Full Name</label>
			<input ng-model="userData.name" name="userFullName" type="text" class="form-control" placeholder="Full Name" required>
			<div class="custom-error" ng-show="signUp.userFullName.$dirty && signUp.userFullName.$invalid">		Sorry:
				<span ng-show="signUp.userFullName.$error.required">Full name is required.</span>
			</div>
		</div>
	
	
		<div class="form-group" ng-controller="geoCtrl">
			<label for="address">Address</label>
			<input type="text" id="Autocomplete" class="form-control" ng-autocomplete="userData.address" details="addressDetails" options="addressOptions" ng-model="userData.address"/>
		
			<div class="custom-error" ng-show="signUp.address.$dirty && signUp.address.$invalid">		Sorry:
				<span ng-show="signUp.userFullName.$error.required">Your NZ address is required.</span>
			</div>
		</div>
	
		<div class="form-group">
			<label for="phone">Phone</label>
			<input type="tel" class="form-control" ng-model="userData.phone" name="phone" placeholder="Enter your preferred phone number" required>
			<div class="custom-error" ng-show="signUp.phone.$dirty && signUp.phone.$invalid">		Sorry:
				<span ng-show="signUp.userFullName.$error.required">Please give us a valid phone number to use to quickly sort out issues.</span>
			</div>
		</div>
	
		<div class="form-group">
			<small>By clicking 'Signup' you agree to pay your membership fee and also agree to the <a href="terms-cons" target="_blank">Terms and Conditions</a> as well as our <a href="priv-pol" target="_blank">Privacy Policy</a></small>
		</div>

	</form>

</div>


<div class="modal-footer">
	<button type="submit" class="btn btn-primary" form="signup-form" ng-disabled="signUp.$invalid">Signup</button>
	<button class="btn btn-warning" ng-click="cancel()" type="reset">Cancel</button>
</div>