<div class="row">
	
	<div class="col-sm-10 col-sm-offset-1">
		<div class="page-header">
			<h1>Sign Up</h1>
		</div>
		
		
		<div class="membership col-md-4 col-md-offset-1 col-sm-6">
			<div class="row membership-head"><h1 class="text-center">Customer</h1></div>
			<div class="row membership-price"><h1 class="text-center" >$60</h1></div>
			<div class="row membership-summary"><h3 class="text-center">BUY LOCAL FOOD</h3></div>
			<div class="row membership-percs">
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-ok"></span> 100% refundable</li>
					<li><span class="glyphicon glyphicon-ok"></span> Know who produced your food</li>
					<li><span class="glyphicon glyphicon-ok"></span> Know how your food was produced</li>
					<li><span class="glyphicon glyphicon-ok"></span> Know exactly where your food comes from</li>
				</ul>
			</div>
			<div class="row membership-button"><button class="btn btn-primary btn-block" ng-click="open('Customer')">JOIN</button></div>
		</div>
		<div class="membership col-md-4 col-md-offset-1 col-sm-6">
			<div class="row membership-head"><h1 class="text-center">Producer</h1></div>
			<div class="row membership-price"><h1 class="text-center">$120</h1></div>
			<div class="row membership-summary"><h3 class="text-center">BUY &amp; SELL LOCAL FOOD</h3></div>
			<div class="row membership-percs">
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-ok"></span> 100% refundable</li>
					<li><span class="glyphicon glyphicon-ok"></span> Upload your products to sell</li>
					<li><span class="glyphicon glyphicon-ok"></span> Make new business connections</li>
					<li><span class="glyphicon glyphicon-ok"></span> You set the prices!</li>
				</ul>
			</div>
			<div class="row membership-button"><button class="btn btn-primary btn-block" ng-click="open('Producer')">JOIN</button></div>
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<article class="col-lg-10 col-lg-offset-1">
		<div class="jumbotron">
			<h1>
				Want an easy way to buy &amp; sell local food?
			</h1>
			<p>As a member of the Northland Natural Food Coop, you can <strong>buy</strong> and <strong>sell</strong> local food through our online store. Simply upload your products or place your order <strong>online.</strong> The food is then delivered to our offices, and <strong>distributed</strong> to pick-up sites all over Northland for customers to <strong>collect.</strong></p>
			<div class="col-sm-3"><button class="btn btn-primary btn-lg" ng-click="open('Customer')">Join as a Customer</button></div>
			<div class="col-sm-3"><button class="btn btn-primary btn-lg" ng-click="open('Producer')">Join as a Producer</button></div>
		</div>
		<div class="jumbotron">
			<h1>
				Want assurance your food is fresh, healthy and local?
			</h1>
			<p>As a customer, you will know exactly <strong>who</strong> produced your food, as well as <strong>where</strong> and <strong>how</strong> it was grown or raised. This gives you a unique opportunity to support the producers and <strong>production practices</strong> of your choice.</p>
			<div class="col-sm-3"><button class="btn btn-primary btn-lg" ng-click="open('Customer')">Join as a Customer</button></div>
		</div>		
		<div class="jumbotron">
			<h1>
				Want a fair price for your products?
			</h1>
			<p>As a producer, you will have complete <strong>control</strong> over the sale of your products. You set the <strong>prices</strong>; you decide what to sell, when to sell, and how much to sell. Regardless of your <strong>scale</strong> of operation, you will be connected with consumers who value quality products, healthy local economies, and a <strong>fair income</strong> for your work.</p>
			<div class="col-sm-3"><button class="btn btn-primary btn-lg" ng-click="open('Producer')">Join as a Producer</button></div>
		</div>
		
		
		<div class="jumbotron">
			<h1>
				We are a 100% member owned social enterprise
				
			</h1>
			<div class="col-sm-6">
				<p>The NNFC is 100% member owned and operated, so by signing up, you also become a <strong>shareholder</strong>. You will receive a percentage of the co-op’s <strong>profits</strong> each year, and have the right to <strong>vote</strong> on all major decisions.</p>
			</div>
			<div class="col-sm-6">
				<p>For details, see our <a href="/policy">policy handbook</a></p>
				<button class="btn btn-primary btn-lg" ng-click="open('Customer')">Join as a Customer</button>
				<button class="btn btn-primary btn-lg" ng-click="open('Producer')">Join as a Producer</button>
			</div>
		</div>
		<div class="jumbotron">
			<h1>
				Pay just once. No yearly fee or subscription
			</h1>
			<div class="col-lg-6">
				<p>The <strong>one time cost</strong> of joining gives you and your household <strong>lifetime</strong> membership in the NNFC. You will gain access to our <strong>exclusive online store</strong>, have the right to <strong>vote</strong> on all major decisions about the co-op, and receive a percentage of the co-op’s <strong>profits</strong> each year.</p>
			</div>
			<div class="col-lg-6">
				<p>Current fees are as follows:<br>
					Customer Membership costs $60.00<br>
					Producer Membership costs $120.00
				</p>
				
				<button class="btn btn-primary btn-lg" ng-click="open('Customer')">Join as a Customer</button>
				<button class="btn btn-primary btn-lg" ng-click="open('Producer')">Join as a Producer</button><br>
				<small>All prices are in NZD</small>
			</div>
		</div>
	</article>
</div>