<h1>Thank You</h1>

<p>Thank you for signing up. Your invoice is below.</p>

<hr>

<div class="row">
	<section class="col-md-3">
		<h2>INVOICE</h2>
		<p>
			To: {{userData.name}}<br>
			email: {{userData.email}}<br>
			phone: {{userData.phone}}<br>
			address: {{userData.address}}
		</p>
	</section>
	<section class="col-md-9">
		<table class="table">
			<thead>
				<td>MEMBERSHIP</td>
				<td>COST</td>
			</thead>
			<tbody>
				<tr>
					<td>{{membership}}</td>
					<td>{{cost}}</td>
				</tr>
			</tbody>
		</table>
		<p>This share entitles the holder to vote at the AGM and any other shareholder meetings of the NNFC as outlined in the constitution. It also entitles the shareholder’s household to participate in services run and organised by the NNFC for member’s benifit.</p>
		
		<p>Please pay the amount herein as soon as possible to begin using our services. Once we have received payment, you will have  access to the members-only section of the website.</p>
		
		<p>Thank you for choosing to be a part of Northland’s network of producers and consumers supporting local, sustainable and affordable food.</p>
		
	</section>
	
</div>
				
