<h1>User List <small>Admin Only</small></h1>

	


<div class="form-group">
	<label for="search">Search:</label>
	<input name="search" class="form-control" type="search"/>
</div>

<table class="table">
	<caption>Users List</caption>
	<thead>
		<tr>
			<th><a href="" ng-click="predicate = 'active'; reverse=!reverse ">Remove</a></th>
			<th><a href="" ng-click="predicate = 'name'; reverse=!reverse ">Name</a></th>
			<th><a href="" ng-click="predicate = 'address'; reverse=!reverse ">Address</a></th>
			<th><a href="" ng-click="predicate = 'phone'; reverse=!reverse ">Phone Number</a></th>
			<th><a href="" ng-click="predicate = 'date joined'; reverse=!reverse ">Date Joined</a></th>
			<th>Can Buy</th>
			<th>Can Sell</th>
		</tr>
	<tbody>
		<tr ng-repeat="user in userLibrary | orderBy:predicate:reverse | filter:search" ng-controller="userEditingCtrl">
	        <!--
	        <td data-title="'Active Users'">
	        	            <input type="checkbox" ng-model="user.isActive">
	        	        </td>-->
	        
	        <td data-title=" 'remove' ">
	        	<button type="button" class="close" aria-hidden="true" ng-click="destroy()">&times;</button>
			</td>
	        <td data-title="'Full Name'" >
	            <form name="nameForm">
					<input type="text" name="name" ng-model="user.name">
					<button type='submit' ng-click="save()" ng-hide="nameForm.$pristine" class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-floppy-disk"></span>
					</button>
				</form>
	        </td>
	        <td data-title="'address'">
	            <form name="addressForm">
					<input type="text" name="address" ng-model="user.address">
					<button type='submit' ng-click="save()" ng-hide="addressForm.$pristine" class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-floppy-disk"></span>
					</button>
				</form>
	        </td>
	        <td data-title="'phone'">
	            <form name="phoneForm">
					<input type="text" name="phone" ng-model="user.phone">
					<button type='submit' ng-click="save()" ng-hide="phoneForm.$pristine" class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-floppy-disk"></span>
					</button>
				</form>
	        </td>
	        <td data-title="'Date Joined'">
	            {{user.dateJoined}}
	        </td>
	        <td data-title="'Buying Permission'">
	            <input type="checkbox" ng-model="user.user_type.canBuy">
	        </td>
	        <td data-title="'Selling Permission'">
	            <input type="checkbox" ng-model="user.user_type.canSell">
	        </td>
	    </tr>
	</tbody>
</table>
