<div class="row">
	<div class="page-header" ng-class="{ 'col-sm-8 col-sm-offset-4' : !panelDisplay, 'col-sm-10 col-sm-offset-2' : panelDisplay}">
		<h1>Volunteer Opportunities (WORK IN PROGRESS)</h1>
	</div>
</div>


<div ng-class="{ 'col-sm-4' : !panelDisplay, 'col-sm-2' : panelDisplay}">
	<img src="img/organic_pork.jpg" alt="Northland Natural Food Co-op sells locally raised meat" class="img-responsive">
	<br>
	<img src="img/organicproduce.jpg" alt="Northland Natural Food Co-op sells locally grown fruits and vegetables" class="img-responsive">
	<br>
	<img src="img/cheese-fancy-local.jpg" alt="Northland Natural Food Co-op sells local milk and dairy" class="img-responsive">
</div>
<div ng-class="{ 'col-sm-8' : !panelDisplay, 'col-sm-10' : panelDisplay}">
	<div class="row" id="sorter">
		<h2>Volunteer Sorter</h2>
		<section class="col-md-6">
			<p>We need volunteer sorters every delivery day to help us sort orders as they arrive on delivery day. Ideally all orders will have arrived by 3pm at The Woods in central Whangarei. Then starting at about 3pm members help sort orders into boxes for various customers.<p>
			<p>Members all have their own foodsafe bin and the sorters load up bins for each customer.</p>
			<p>A floor manager will be present to help oversee and guide sorters.</p>
			<p>NOTE PRODUCERS: Providing sample wares to volunteers is an excellent opportunity to grow your customer base.</p>
		</section>
		<section class="col-md-6">
			<ul class="list-unstyled">
				<li>Time: maximum 3 hours one day per month</li>
				<li>Open to: Whangarei residents and producers</li>
			</ul>
		</section>
	</div>
	<div class="row" id="driver">
		<h2>Volunteer Driver</h2>
		<section class="col-md-6">
			<p>Drive into central whangarei to collect the goods for all members on your route. You can find out which members are on your route from your route manager.</p>
		</section>
		<section class="col-md-6">
			<ul class="list-unstyled">
				<li>Time: max 2 hours once per month</li>
				<li>Open to: Non-Whangarei residents and producers</li>
				<li>Must drive a vehicle with sufficient storage capacity</li>
				<li>Compensation: Milage paid at $0.75/km</li>
			</ul>
		</section>
	</div>
	<div class="row" id="route-manager">
		<h2>Volunteer Route Manager</h2>
		<section class="col-md-6">
			
		</section>
		<section class="col-md-6">
			<ul class="list-unstyled">
				<li>Time: 3 hours once per month</li>
				<li>Open to: All members</li>
			</ul>
		</section>
	</div>
	<div class="row" id="route-manager">
		<h2>Treasurer</h2>
		<section class="col-md-6">
			
		</section>
		<section class="col-md-6">
			<ul class="list-unstyled">
				<li>Time: 2-5 hrs/month</li>
				<li></li>
			</ul>
		</section>
	</div>
	<div class="row" id="route-manager">
		<h2>Administrator</h2>
		<section class="col-md-6">
			
		</section>
		<section class="col-md-6">
			<ul class="list-unstyled">
				<li>Time: 10-20 hrs/week</li>
				<li></li>
				
			</ul>
		</section>
	</div>
</div>