<!DOCTYPE html>
<html lang="en" ng-app="co-op" class="angular-app">
<head>
	<meta charset="utf-8">
	<title ng-bind="$root.page_title + ' - Northland Natural Food Co-op' ">NNFC - Northland Natural Food Co-op</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.00"/>
	<script type="text/javascript">
	    window.onload=function(){
	        var ua = navigator.userAgent;
	        if(ua.indexOf("Android")>=0){
	            var androidversion=parseFloat(ua.slice(ua.indexOf("Android")+8)); 
	            if(androidversion<=2.3){
	                document.getElementsByName("viewport")[0].setAttribute("content","width=device-width, initial-scale=1.02");
	            }
	        }
	    };
	</script>
	<meta name="fragment" content="!">
	
	<meta name="description" content="{{page_description}}">
	
	<base href="/index.html">
	
	<style>
		/* Loading Page Styles are inline to increase speed */
		[ng-cloak].splash {display: block;}
		@font-face{font-family:'FontAwesome';src:url('fonts/fontawesome-webfont.eot?v=4.2.0');src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
.splash{position:fixed;display:block;width:100%;height:100%;padding:25%;background:#642c4a;color:white;z-index:9999999;display:none;}
.splash .fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.splash .fa-cog:before{content:"\f013"}
.splash .fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
	</style>
	
	
	<!-- Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<link rel="stylesheet" href="lib/bower_components/angular-loading-bar/build/loading-bar.css" type="text/css">
	
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/banner.css" rel="stylesheet" media="screen">
	<link href="css/site.css" rel="stylesheet" type="text/css" media="screen">
	
	
	<link href="css/animations.css" rel="stylesheet">
</head>

<body ng-controller="navCtrl" ng-init="cartPanel = {open: false};" ng-swipe-right="panelDisplay = true">
	<div ng-cloak="" class='splash text-center'>
		<h1 style="font-size: 6em">Loading your Co-op</h1>
		<i class="fa fa-cog fa-spin" style='font-size: 10em'></i>
	</div>	
	<div id="sidebar" class="sidebar" 
	ng-swipe-left="panelDisplay = false" 
	ng-show="panelDisplay" 
	ng-class="{'wide-sidebar':cartPanel.open, 'narrow-sidebar':!cartPanel.open}" ng-cloak>
		<div class="sidebar-main">
			<a href="" id="close-sidebar-button" class="panel-btn panel-btn-lg" ng-click="panelDisplay = false">&times;</a>
			<div ng-show="storePage()">
				<div class="input-group">
					<label class="sr-only" for="storeSearch">Search the store</label>
					<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
					<input ng-model="search" class="form-control" 
					typeahead="keyword for keyword in predictiveSearch | filter:$viewValue | limitTo:8"
					name="storeSearch" type="search" placeholder="Search"/>
				</div>
			</div>	
			<div id="calendar-container" ng-controller="calendarCtrl" ng-click="href('/calendar')">
				<h1 class="text-center"><i class="fa fa-calendar" style='font-size:1.5em'></i></h1>
				<p>
					<i class="fa fa-cloud-upload fa-fw"></i> Product Uploading: {{inDateRange(countDown[0].ProductUploadStart, countDown[0].ProductUploadStop)}}.<br>
					<i class="fa fa-shopping-cart fa-fw"></i> Shopping: {{inDateRange(countDown[0].ShoppingStart, countDown[0].ShoppingStop)}}.<br>
					<i class="fa fa-gift fa-fw"></i> Delivery Day: <span class="label label-default">{{daysBeforeDeliveryDay}}</span> days<br>
					<span ng-if="daysBeforeDeliveryDay < 1">Next delivery day in {{countDown[1].DeliveryDay.daysUntil}} days</span>
				</p>
			</div>
	
			<accordion close-others="false" ng-if="currentUser" >
				<accordion-group is-open="cartPanel.open" ng-class="{'panel-open-sidebar':cartPanel.open}">
					<accordion-heading>
					<h1 class="text-center"><i class="fa fa-shopping-cart" style='font-size:1.5em'></i> <span class="badge">{{cartTally}}</span></h1>
					</accordion-heading>
						<div ng-controller="cartPageCtrl">
							<table class="table">
								<thead>
									<tr>
										<th class="hidden-xs"><a href="" ng-click="predicate = '_id'; reverse=!reverse" tooltip-placement="right" tooltip="Remove Items">&times;</a></th>
										<th><a href="" ng-click="predicate = 'product.productName'; reverse=!reverse">Product</a></th>
										<th><a href="" ng-click="predicate = 'quantity'; reverse=!reverse">Quantity</a></th>
										<th><a href="" ng-click="predicate = 'orderPriceWithMarkup'; reverse=!reverse">Price</a></th>
										<th class="hidden-xs"><a href="" ng-click="predicate = 'supplier.producerData.companyName' || 'supplier.name'; reverse=!reverse">Producer</a></th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td colspan="5"><strong>Total: {{cartTotal(cart)|currency}}</strong></td>
									</tr>
								</tfoot>
								<tbody>
									<tr ng-repeat="c in cart | orderBy:predicate:reverse" >
								        <td data-title=" 'remove' " class="hidden-xs">
								        	<a ng-click="delete($index)"><i class="fa fa-trash"></i></a>
										</td>
								        <td data-title="'Product'" 
										ng-init="showDelete = false" 
										ng-swipe-right="showDelete = !showDelete" 
										ng-hide="showDelete">
								            <a href="" ng-click="open(c)">{{c.product.fullName}}</a>
								        </td>
										<td ng-show="showDelete" ng-swipe-left="showDelete=false" colspan=2>
											<button class="btn-danger btn" ng-click="delete($index); showDelete = false;">
												<i class="fa fa-trash"></i> Delete
											</button>
										</td>
								        <td data-title="'Quantity'" ng-hide="showDelete">
											<form role="search" ng-submit="saveNewQuantity(c)" ng-controller="updateCartCtrl">
												<div class="form-group">
													<input type="number" class="form-control" ng-model="c.quantity" 
													ng-init="lastQuantity = c.quantity"
													ng-change="showSave = true;">
												</div>
												<button type="submit" 
												class="btn btn-default" 
												ng-show="showSave" 
												ng-click="showSave=false">Save</button>
											</form>
								        </td>
								        <td data-title="'Price'">
								            {{c.unitPriceWithMarkup * c.quantity | currency}}
								        </td>
								        <td data-title="'Producer'" class="hidden-xs">
								            <a 
				ng-href="/producer/{{c.supplier.producerData.companyName | forURL}}-{{c.supplier.name | forURL}}">{{c.supplier.producerData.companyName || c.supplier.name}}</a>
								        </td>
								    </tr>
									</tbody>
								</tbody>
							</table>
						</div>
				</accordion-group>
			</accordion>
			<ul class="nav nav-pills nav-stacked">
					<li ng-class="{active:isActive('/producer-list')}"><a href="producer-list">Producer List</a></li>
					<li ng-class="{active:isActive('/delivery')}"><a href="delivery">Delivery</a></li>
					<li ng-class="{active:isActive('/my-cart')}" ng-show="currentUser"><a href="my-cart">Cart Page</a></li>
					<li ng-class="{active:isActive('/order-manager')}" 
					ng-show="currentUser && currentUser.user_type.name === 'Producer' && currentUser.user_type.canSell"
					><a href="product-manager">My Products</a></li>
					<li ng-class="{active:isActive('/product-upload')}" 
					ng-show="currentUser && currentUser.user_type.name === 'Producer'"
					
					><a href="product-upload">Upload a Product</a></li>
					<li ng-class="{active:isActive('/my-invoices')}" ng-show="currentUser"><a ng-href="my-invoices">Invoices</a></li>
			</ul>
		</div>
		<ul class="nav nav-pills nav-stacked sidebar-bottom" ng-controller="logoutCtrl">
			<li ng-show="currentUser != null"><a ng-click="logOut()" class="text-center"><h1><span class="glyphicon glyphicon-lock"></span></h1><p>Log Out</p></a></li>
		</ul>
	</div>
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header" ng-init="mobileMenu = true">
				<button type="button" 
				class="navbar-toggle collapsed" 
				ng-click="mobileMenu = !mobileMenu"
				data-target="#bs-example-navbar-collapse-1"> 
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
				</button> 
				<a class="navbar-brand" href="/">NNFC</a>
				<a class="navbar-brand" ng-click="panelDisplay = !panelDisplay">
					<small class="hidden-sm hidden-xs"><span class="glyphicon glyphicon-cog"></span> Member Tools</small>
				</a>
				<!--
				<ul class="nav navbar-nav pull-left">
									<li ng-click="panelDisplay = !panelDisplay">
										<span class="glyphicon glyphicon-cog"></span> Member Tools</li>
								</ul>-->
				
			</div> 
			<div class="collapse navbar-collapse" collapse="mobileMenu" ng-touch="mobileMenu = true"> <!-- change ng-touch to ng-click if not working on test site -->
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden-md hidden-lg" ng-if="currentUser == null">
						<a href="/login-page"><span class="glyphicon glyphicon-lock"></span>Login</a>
					</li>
					<li ng-class="{active:isActive('/store')}"><a href="store"><span class="glyphicon glyphicon-shopping-cart"></span> Store</a></li>
					<li ng-class="{active:isActive('/')}"><a href="/">Home</a></li>
					<li ng-class="{active:isActive('/signup')}" ng-hide="currentUser != null"><a href="/signup">Sign Up</a></li>
					<li ng-class="{active:isActive('/about')}"><a href="/about">About</a></li>
					<li ng-class="{active:isActive('/faq')}"><a href="/faq">FAQ</a></li>
					<li ng-class="{active:isActive('/contact')}"><a href="/contact">Contact</a></li>
					
					<li class="hidden-sm hidden-xs" ng-if="currentUser == null"><ng-include src=" 'partials/login.html' "></ng-include></li>
					<li ng-if="currentUser" ng-class="{active:isActive('/me')}">
						<a href="/me">
							<span class="glyphicon glyphicon-user"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	
		
	<div class="page-wrap">
	
	<div 
	class="visible-sm visible-xs mobile-arrow" 
	 
	ng-class="{'mobile-arrow-menu-open': panelDisplay}"
	ng-show="!panelDisplay">
		<i class="fa fa-chevron-circle-right fa-3x" ng-click="panelDisplay = true"></i>
	</div>

		<div class="container-fluid alert-box" ng-cloak>
			<alert type="{{alert.type}}" ng-repeat="alert in queue" close="flash.closeMessage($index)" role="alert" class="alerts" ng-click="flash.closeMessage($index)" ng-bind="alert.message">
			</alert>
		</div> 
			
		<!--  This is where the partials go for the forms and information pages. /-->    
		<div id="view"
		ng-cloak
		ng-view
		autoscroll="true" 
		class="template-container app-body clearfix" 
		ng-class="{'menu-open-narrow' : panelDisplay && !cartPanel.open, 'menu-open-wide': panelDisplay && cartPanel.open}">
		</div>
	</div>

	<div class="site-footer" sticky-footer>
		<div class="container-fluid">
			<div class="row">
				<section class="col-xs-6 col-sm-4">
					<h1>NNFC</h1>
					<h4>Local • Sustainable • Affordable</h4>
				</section>
				<div class="link-grid col-xs-6">
					<section class="col-sm-5">
						<nav class="footer-nav">
							<ul class="nav">
								<li ><a href="http://blog.foodcoop.org.nz" target="_blank">Blog</a></li>
								<li ><a href="/about">About</a></li>
								<li ><a href="/contact">Contact</a></li>
							</ul>
						</nav>
					</section>
					<section class="col-sm-5">
						<nav class="footer-nav">
							<ul class="nav">
								<li><a href="/policy">Co-op Policy</a></li>
								<li><a href="/terms-cons">Terms and Conditions</a></li>
								<li><a href="/priv-pol">Privacy Policy</a></li>
							</ul>
						</nav>
					</section>
					<section class="col-sm-2 text-center">
						<ul class="list-unstyled social-footer">
							<li><a target="_blank" href="https://www.facebook.com/nzfoodcoop"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a></li>
							<li><a target="_blank" href="https://twitter.com/NorthlandNFC"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a></li>
							<li><a target="_blank" href="https://plus.google.com/105941223701197922003" rel="publisher"><i class="fa fa-google-plus-square fa-fw fa-2x"></i></a></li>
						</ul>
					</section>
				</div>
			</div>
			
				<small class="pull-left">&copy; 2014. All Rights Reserved. Proudly donated by <a href="http://redhead.xyz">Red Head Web</a></small><br>
			
		</div>
	</div>
	
	<!-- DateJS -->
	<script src="lib/bower_components/datejs/date-en-NZ.min.js" type="text/javascript" charset="utf-8"></script>
		
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- universal angular data here -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	
	<!-- project-specific angular data here -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js" ></script>
    
	<!-- food coop files -->
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
    
	<script src="lib/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
		
	<script src="lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js" type="text/javascript" charset="utf-8"></script>
	<!--lodash: Restangular Dependency-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.min.js"></script>
	
	<!-- textAngular -->
	<script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js" type="text/javascript" charset="utf-8"></script>
	
		<!-- Angulartics for Analytics dependencies -->
	<script src="lib/bower_components/angulartics/dist/angulartics.min.js" type="text/javascript" charset="utf-8"></script>	
	<script src="lib/bower_components/angulartics/dist/angulartics-ga.min.js" type="text/javascript" charset="utf-8"></script>
	
	<!-- cropme dependencies -->

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.min.js"></script>
	<script src="lib/bower_components/angular-superswipe/superswipe.js"></script>
	<script src="lib/bower_components/angular-cropme/cropme.js"></script>
	
	<!-- Other plugins here -->	
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&libraries=places&sensor=true"></script>
	
	<script type="text/javascript"> 
	var $buoop = {}; 
	$buoop.ol = window.onload; 
	window.onload=function(){ 
	 try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
	 var e = document.createElement("script"); 
	 e.setAttribute("type", "text/javascript"); 
	 e.setAttribute("src", "//browser-update.org/update.js"); 
	 document.body.appendChild(e); 
	} 
	</script>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-45071933-1', 'foodcoop.org.nz');
	//ga('send', 'pageview');

	</script>

<image-preload src="/img/originals/cropped-Agricultural_grass.jpg"></image-preload>

	</body>
	</html>
