<!DOCTYPE html>
<html lang="en" ng-app="co-op">
<head>
    <meta charset="utf-8">
    <title>NNFC -- Northland Natural Food Co-op</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
    
	<link rel="stylesheet" href="css/site.css" title="site" type="text/css" media="screen">
    <link href="css/banner.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/products.css" title="products" type="text/css" media="screen"> 
    <link rel="stylesheet" href="css/animations.css" title="animations" type="text/css" media="screen">
	<link rel="stylesheet" href="lib/bower_components/fullcalendar/fullcalendar.css" type="text/css" media="screen">

    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
		<script src="lib/mixitup-1.5.5/jquery.mixitup.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="lib/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="lib/bower_components/jquery-ui/ui/jquery-ui.js"></script>
		<script type="text/javascript" src="lib/bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="lib/bower_components/angular-ui-calendar/src/calendar.js"></script>
		<script type="text/javascript" src="lib/bower_components/fullcalendar/fullcalendar.js"></script>
		<script type="text/javascript" src="lib/bower_components/fullcalendar/gcal.js"></script>

		<script src="lib/bower_components/angular-bootstrap/ui-bootstrap-tpls-0.10.0.js" type="text/javascript" charset="utf-8"></script>
		
		
   
</head>

<body>
	<div id="wrap" ng-controller="storeCtrl"><!--Sticky footer hack: wrap all page content-->    		    			
			
			<div id="sidebar" ng-show="panelDisplay">
	            <button class="btn btn-default panel-btn" ng-click="panelDisplay = false" ng-model="panelDisplay">&times;</button>
	            
				<ng-include src=" 'partials/login-store.html' "></ng-include>
	            <p>
	                Ordering closes in <span class="highlight">5</span> days<br>
	                Delivery Day is in <span class="highlight">14</span> days
	            </p>
				<!-- -->
				<accordion>
				    <accordion-group is-open="isopen">
				        <accordion-heading>
				            {{user.name}} Cart <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
				        </accordion-heading>
						<div id="table-div" ng-controller="cartTableCtrl">
						[ <a href="" ng-click="predicate=''">unsorted</a> ]
						<table class="table" style="width=100%">
							<caption>Cart</caption>
							<thead>
								<tr>
									<th></th>
									<th>Product</th>
									<th>Price</th>
									<th>Quantity</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td colspan="4"><strong>Total: {{total|currency}}</strong></td>
								</tr>
							</tfoot>
							<tbody>
								<tr ng-repeat="c in cart">
							        <td data-title=" 'remove' ">
							        	<button type="button" class="close" aria-hidden="true" ng-click="delete($index)">&times;</button>
							        <td data-title="'Product'" >
							            <a href="#" ng-click="open(c)">{{c.product}}</a>
							        </td>
							        <td data-title="'Price'">
							            {{c.price | currency}}
							        </td>
							        <td data-title="'Quantity'">
							            <input type="number" ng-model="c.quantity" name="{{c.product}}-quantity"/>
							        </td>
						        
							    </tr>
							</tbody>
						</table>
						</div>
					</accordion-group>
					<accordion-group is-open="isopen2">
						<accordion-heading>
			            	Calendar <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen2, 'glyphicon-chevron-right': !isopen}"></i>
						</accordion-heading>
						<div id="calendar">
							<div id="calendar-container" ng-controller="calendarCtrl">
								<div ui-calendar="calendarOptions" ng-model="eventSources" calendar="coopCalendar"></div>
							</div>
							<iframe src="https://www.google.com/calendar/embed?title=NNFC%20Ordering%20Scheduling&amp;showCalendars=0&amp;showTz=0&amp;height=450&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=sean%40maplekiwi.com&amp;color=%232F6309&amp;src=en-gb.christian%23holiday%40group.v.calendar.google.com&amp;color=%23B1440E&amp;ctz=Pacific%2FAuckland" style=" border-width:0 " width="100%" height="450" frameborder="0" scrolling="no"></iframe>
						</div>
				    </accordion-group>
				  </accordion>
				
			</div>
			
			
			<div class="container-fluid" id="store">
				<div id="main-nav-and-sorting">
	            <button class="btn btn-default panel-btn" ng-click="panelDisplay = !panelDisplay" ng-model="panelDisplay"><i class="glyphicon" ng-class="{'glyphicon-chevron-left': !panelDisplay, 'glyphicon-chevron-right': panelDisplay}"></i></button>
				<div>
	               <h1 class="highlight">Store of the NNFC</h1>
	                <h5>Local Sustainable Affordable</h5>
	            </div>
				
				<label> Sort: </label>
				<div class="btn-group">
					<button class="btn btn-default" ng-model="sort" btn-radio="'producer'">Producer</button>
					<button class="btn btn-default" ng-model="sort" btn-radio="'alphabetical'">Alphabetical</button>
					<button class="btn btn-default" ng-model="sort" btn-radio="'price'">Price</button>
				</div>
	            <label> Filter: </label>
				<div class="btn-group">
					<button class="btn btn-default" ng-model="filter" btn-radio="'produce'">Produce</button>
					<button class="btn btn-default" ng-model="filter" btn-radio="'meat'">Meat</button>
					<button class="btn btn-default" ng-model="filter" btn-radio="'processed-goods'">Processed Goods</button>
					<button class="btn btn-default" ng-model="filter" btn-radio="'baked-goods'">Baked Goods</button>
					<button class="btn btn-default" ng-model="filter" btn-radio="'dariy'">Dairy</button>
					<button class="btn btn-default" ng-model="filter" btn-radio="'milk'">Milk</button>
					<button class="btn btn-default" ng-model="filter" btn-radio="'none'">None</button>
				</div>
			
			</div>
				<div id="products-section" class="">
					<div id="store-products"></div>
				</div>
			</div>
			
		
	</div>   
       
    
<!-- universal angular data here -->
<script src="lib/bower_components/angular/angular.js"></script>
<script src="js/angular-bootstrap-prettify.js"></script> <!-- not working for some reason -->

<!-- project-specific angualr data here -->
<script src="js/angular-route.js" ></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/angular-animate.js"></script>


</body>
</html>
