<!DOCTYPE html>
<html lang="en" ng-app="co-op">
<head>
    <meta charset="utf-8">
    <title>NNFC Store -- Local Food Northland</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
    
	<link rel="stylesheet" href="css/site.css" title="site" type="text/css" media="screen">
    <link href="css/banner-store.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/animations.css" title="animations" type="text/css" media="screen">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- project-specific angular data here -->
	<script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- universal angular data here -->
	<script src="lib/bower_components/angular/angular.min.js"></script>
	
	<!-- project-specific angular data here -->
	<script src="lib/bower_components/angular-route/angular-route.js" ></script>
	<script src="lib/bower_components/angular-resource/angular-resource.js"></script>
	<script src="lib/bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
	
	<script src="lib/bower_components/angular-animate/angular-animate.js"></script>

	<script src="lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="lib/bower_components/lodash/dist/lodash.compat.min.js" type="text/javascript" charset="utf-8"></script>
	<!--lodash: Restangular Dependency-->
	<script src="lib/bower_components/restangular/dist/restangular.min.js"></script>
	
<!-- cropme dependencies -->

<script src="lib/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="lib/bower_components/angular-touch/angular-touch.js"></script>
<script src="lib/bower_components/angular-superswipe/superswipe.js"></script>
<script src="lib/bower_components/angular-cropme/cropme.js"></script>
	
	<!-- Other plugins here -->	
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
   
</head>

<body>
	<div id="wrap" ng-controller="storeCtrl"><!--Sticky footer hack: wrap all page content-->    		    			
			
		<div id="sidebar" ng-show="panelDisplay">
	 	    <ul class="nav nav-pills">
				<div ng-if="currentUser === null">
					<ng-include src=" 'partials/login-store.html' "></ng-include>
				</div>
				<button class="btn btn-link panel-btn" ng-click="panelDisplay = false">&times;</button>
				<li><a href="/">Main Site</a></li>
				<li><a href="/#/contact">Contact Us</a></li>
	 		</ul>
			<br>
			<div style="width:100%">
				<accordion close-others="false">
					<accordion-group is-open="isopen">
						<accordion-heading>
						Calendar <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
						</accordion-heading>
						<div id="calendar">
							<div id="calendar-container" ng-controller="calendarCtrl">
								<p>
									Ordering closes in <span class="highlight">5</span> days<br>
									Delivery Day is in <span class="highlight">14</span> days
								</p>
							</div>
						</div>
					</accordion-group>
					<accordion-group is-open="isopen2" ng-init="isopen2 = true">
						<accordion-heading>
						{{currentUser.name}} Cart <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen2, 'glyphicon-chevron-right': !isopen2}"></i>
						</accordion-heading>
						<div id="table-div" ng-controller="cartTableCtrl">
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>Product</th>
										<th>Price</th>
										<th>Quantity</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td colspan="4"><strong>Total: {{total|currency}}</strong></td>
									</tr>
								</tfoot>
								<tbody>
									<tr ng-repeat="c in cart">
										<td data-title=" 'remove' ">
											<button type="button" class="close" aria-hidden="true" ng-click="delete($index)">&times;</button>
											<td data-title="'Product'" >
												<a href="#" ng-click="open(c)">{{c.product}}</a>
											</td>
											<td data-title="'Price'">
												{{c.price | currency}}
											</td>
											<td data-title="'Quantity'">
												<input type="number" ng-model="c.quantity" name="{{c.product}}-quantity"/>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
					</accordion-group>
				</accordion>
			</div>
		</div>
				
	    <header id="banner">
	        <div id="grass-containter">
				<div class="container">
					<section class="feature-box">
						<h1 class="logo">NNFC Store</h1>
						<h2 class="slogan">Local • Sustainable • Affordable</h2>
					</section>
				</div>
	        </div>
	    </header>	
			
		<div class="container-fluid" id="store" ng-class="{menuOpen : panelDisplay}">
			<div class="row">
				<div class="col-md-9">
					<section id="main-nav-and-sorting">
			            <button class=" btn btn-link menu-icon" ng-click="panelDisplay = !panelDisplay">&#9776;</button>
			
						<label> Sort: </label>
						<div class="btn-group">
							<label class="btn btn-primary" ng-model="sort" btn-radio="'producerCompanyName'">Producer</label>
							<label class="btn btn-primary" ng-model="sort" btn-radio="'productName'">Alphabetical</label>
							<label class="btn btn-primary" ng-model="sort" btn-radio="'price'">Price</label>
						</div>
			            <label> Filter: </label>
						<div class="btn-group">
							<label class="btn btn-default" ng-model="search.category" btn-radio="{{productManager.categoryByName('Produce')._id}}" uncheckable>Produce</label>
							<label class="btn btn-default" ng-model="search.category" btn-radio="'meat'" uncheckable>Meat</label>
							<label class="btn btn-default" ng-model="search.category" btn-radio="'processed-goods'" uncheckable>Processed Goods</label>
							<label class="btn btn-default" ng-model="search.category" btn-radio="'baked-goods'" uncheckable>Baked Goods</label>
							<label class="btn btn-default" ng-model="search.category" btn-radio="'dariy'" uncheckable>Dairy</label>
							<label class="btn btn-default" ng-model="search.category" btn-radio="'milk'" uncheckable>Milk</label>
							<label class="btn btn-default" ng-model="search.category" btn-radio="">None</label>
						</div>
					</section>
				</div>
				<div class="col-md-3">
					<form class="form-inline">
						<label> Search: </label>
						<input ng-model="search" name="search.$" class="form-control" type="search"/>
					</form>
				</div>
			</div>
		
			<div id="products-section" class="row">
				<ul id="store-products">
					<li ng-repeat="product in products | orderBy:sort | filter:search" class="product-container" ng-controller="productUICtrl" ng-mouseleave="detailsVisible = false">
						<figure class="first-layer" ng-mouseover="callDelayed()" ng-mouseleave="callCancelled()">
							<img ng-src="upload-imgs/products/{{product.img}}" class="img-responsive">
							<figcaption>
								<button class="btn btn-primary pull-right" ng-click="addToCart()">Add to Cart</button>
								<h5>{{product.variety}} {{product.productName}}</h5>
								<p>{{1.2 * product.price|currency}} / {{product.units}}</p>
							</figcaption>
						</figure>
						<section class="details-layer" ng-click="open(product)" ng-class="{ 'details-layer-visible' : detailsVisible}" ng-mouseleave="detailsVisible = false">
							<article class="details">
								<h3>{{product.variety}} {{product.productName}}</h3>
								<p>{{1.2 * product.price|currency}} / {{product.units}}</p>
								<p>{{product.producerCompany}} <br>
								<span ng-if="product.certification !== 'none' ">{{product.certification}}</span>
								</p>
								<p>{{product.description | blurb}} <em>more...</em></p>
								<button class="btn btn-primary" ng-click="addToCart()">Add to Cart</button>
							</article>
						</section>
					</li>
				</ul>
			</div>
		</div>
	</div>
			
		
	</div>   
</body>
</html>
