<!DOCTYPE html>
<html lang="en" ng-app="co-op">
<head>
    <meta charset="utf-8">
    <title>NNFC -- Northland Natural Food Co-op</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/site.css" title="site" type="text/css" media="screen">
    <link href="css/banner.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/products.css" title="products" type="text/css" media="screen"> 
    <link rel="stylesheet" href="css/animations.css" title="animations" type="text/css" media="screen">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">

    
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://code.jquery.com/jquery.js"></script>


   
</head>

<body><div id="wrap" class="container"><!--Sticky footer hack: wrap all page content-->
    <div class="row" ng-controller="navCtrl">
	    <ul class="nav nav-tabs pull-right">
	        <li ng-class="{active:isActive('/home')}"><a href="#home">Home</a></li>
	        <li ng-class="{active:isActive('/signup')}"><a href="#signup">Join Us</a></li>
	        <li ng-class="{active:isActive('/contact')}"><a href="#contact">Contact Us</a></li>
	        <li><a href="http://foodcoop.org.nz">Blog</a></li>
		</ul>
    </div>
    
    <div id="banner">
        <div id="grass-containter">
        <h1 class="logo">NNFC</h1>
		<h2 class="slogan">Local • Sustainable • Affordable</h2>  
        </div>
		    
        
        <div class="" id="login-button" ng-controller="Login" style="z-index:9999">
            <button id="login" type="button" class="btn btn-default btn-lg" ng-click="showLogin = true">
                Login <span class="glyphicon .glyphicon-lock"></span>
            </button>
            <div ng-show="showLogin" ng-include="/login" id="login-drop-down-menu" class="login pull-right">
               <button type="button" class="close pull-right" aria-hidden="true" ng-click="showLogin = false">&times;</button>
                <!-- dropdown menu links -->
                <form class="form-horizontal" name="signIn" autocomplete="on" ng-submit="submitForm()" ng-controller="loginCtrl" novalidate>
				  <div class="form-group">
				    <!-- <label for="inputEmail" class="col-lg-2 control-label">Email</label> -->
				      <input ng-model="inputEmail" type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
						<div class="alert alert-warning" ng-show="signIn.email.$dirty && signIn.email.$invalid">Sorry:
						  <span ng-show="signIn.email.$error.required">email is required.</span>
						  <span ng-show="signIn.email.$error.email">Please, write a valid email address.</span>
						</div>				      
				  </div>
				  <div class="form-group">
				    <!-- <label for="inputPassword" class="col-lg-2 control-label">Password</label> -->
				      <input ng-model="inputPwd" type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
				      <div class="checkbox">
				          <input type="checkbox"> Remember me
				      </div>
				      <button type="submit" class="btn btn-default" ng-click="showLogin = false">Sign in</button>
				  </div>
				</form>
            </div>
        </div>
    </div>
    

    <div class="container">
    <div class="row">
        
        <div class="col-md-3 col-md-push-9" ng-controller="navCtrl">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#1">Meet the Team</a></li>
                    <li ng-class="{active:isActive('/contact')}"><a href="#/contact">Contact us</a></li>
                </ul>
                <br>
                <ul class="nav nav-list nav-pills nav-stacked">
                    <li ng-class="{active:isActive('/product-upload')}"><a href="#/product-upload">Upload a Product</a></li>
                    <li ng-class="{active:isActive('/producer-profile')}"><a href="#/producer-profile">Edit Producer Profile</a></li>
                    <li><a href="#/faq">User FAQ</a></li>
                </ul>
            </div>
            
            <!--  
            This is where the partials go for the forms and information pages.
            /-->    
            <div class="col-md-9 col-md-pull-3">
                <div ng-view></div>
            </div> 
    </div> <!-- End of "row" /--> 
    </div> <!-- End of "container" /--> 
    
    <div id="push"></div>
</div><!--End hack-->

    <div id="footer">
        <div class="container-fluid">
            <ul class="breadcrumb pull-right">
                <li><a href="#home">Home</a> <span class="divider">/</span></li>
                <li><a href="#blog">Blog</a> <span class="divider">/</spam></li>
                <li class="active">Latest</li>
            </ul>
        </div>
    </div>
    
<!-- universal angular data here -->
<script src="lib/angular/angular.js"></script>
<script src="js/angular-bootstrap-prettify.js"></script> <!-- not working for some reason -->

<!-- project-specific angualr data here -->
<script src="js/angular-route.js" ></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/angular-animate.js"></script>

<!-- plugins with jQuery here -->
<script src="js/mixitup-1.5.4/jquery.mixitup.min.js"></script>


</body>
</html>
