
<div class="modal-body">
	<h1 class="text-center">Sorry!</h1><br>
	<p class="lead text-center"> You must be a member of the NNFC to shop here.</p>
	<p class="lead text-center"> <a href="/#/signup" class="btn btn-primary btn-lg" ng-click="$close()"> Sign up</a> or <a href="/#/login-page" class="btn btn-primary btn-lg" ng-click="$close()"><span class="glyphicon glyphicon-lock"></span> Login</a></p>
	
	<p class="lead text-center">to continue.</p>
	
	<div class="col-md-6">
	</div>
	<div class="col-md-6"> 
	</div>  
</div>
<div class="modal-footer" style="margin-top: 0">

    <button class="btn btn-warning" ng-click="$dismiss()">Close</button>
</div>