
<div class="modal-header" id="modal-top">
	<h1>{{data.fullName}} <small ng-if="data.certification.name !== 'none'">{{data.certification.name}}</small></h1>
</div>
	
<div class="modal-body media">
	<ul class="list-unstyled pull-right col-sm-2">
		<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://dev.twitter.com/pages/tweet_button" data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a></li>
		<li>
			<!-- Place this tag where you want the +1 button to render. -->
			<div class="g-plusone" data-size="tall"></div>
		</li>
		<li>
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:65px;" allowTransparency="true"></iframe>
		</li>
	</ul>
	
	<figure class="store-modal"><img ng-if="data.certification.name !== 'none' && data.img && data.certification.img"
	 ng-src="img/certification/{{data.certification.img}}" class="certification-img" alt="organic certification">
	<img class="product-image-modal img-responsive" ng-src="{{data.img}}"/>
	</figure>
			
    <div class="media-body col-lg-6">
        {{data.producerName}}<br>
		
		<div class="well"><h2>Price: {{data.priceWithMarkup|currency}} / {{data.units}}</h2></div>
	</div>
	<div class="media-body col-lg-6">
		
		<strong>Quantity left:</strong> {{data.quantity}}<br>
		<article ta-bind ng-model="data.description"></article>
		
		<span ng-if="data.ingredients"><strong>Ingredients:</strong> 
		<span ng-repeat="item in data.ingredients"><a ng-href="/store?search={{item}}">{{item}} </a> </span>
    </div>

</div>
<div class="modal-footer">
	
	<button class="btn btn-danger" disabled ng-if="data.quantity === 0">
		SOLD OUT
	</button>
	<button class="btn btn-primary" ng-click="addToCart(data)" ng-if="!data.AlreadyInCart" ng-disabled="!currentUser">
		Add to Cart
	</button>
	<button class="btn btn-primary" disabled ng-if="data.AlreadyInCart">
		Added to Cart
	</button>
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>
		<!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/platform.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
		<!-- Place this tag after the last tweet button tag. -->
		<script>!function(d,s,id){
			var js, fjs = d.getElementById('modal-top');
			if(!d.getElementById(id)){
				js=d.createElement(s);
				js.id=id;
				js.src="https://platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js,fjs);
			}
		}(document,"script","twitter-wjs");</script>