<div class="col-md-10 col-md-offset-1">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">NNFC Admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin">Users</a></li>
        <li><a href="/admin/invoices">Invoices</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/admin/cycle">Cycles</a></li>
            <li><a href="/admin/orders">Orders</a></li>
            <li><a href="/admin/routes">Master Route List</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="page-header">
	<h1 class="text-center">User List</h1>
	<h3>Current Number of Members is <span class="badge">{{userLibrary.length}}</span>
</div>

<table class="table">
	<caption>Users List</caption>
	<thead>
		<tr>
			<th><a href="" ng-click="predicate = 'name'; reverse=!reverse ">Name</a></th>
			<th><a href="" ng-click="predicate = 'address'; reverse=!reverse ">Address</a></th>
			<th><a href="" ng-click="predicate = 'user_type.name'; reverse=!reverse ">Membership</a></th>
			<th><a href="" ng-click="predicate = 'dateJoined'; reverse=!reverse ">Date Joined</a></th>
			<th><a href="" ng-click="predicate = 'balance'; reverse=!reverse ">Balance</a></th>
			<!--
			<th>Can Buy</th>
						<th>Can Sell</th>-->
		</tr>
	<tbody>
		<tr ng-repeat="user in userLibrary | orderBy:predicate:reverse | filter:search">
			<td data-title="'Full Name'" >
				<a href="" popover-placement="top" popover="P: {{user.phone}} E: {{user.email}}">{{user.name}}</a> <a href="/user/{{user._id}}"><span class="glyphicon glyphicon-pencil"></span></a>
			</td>
			<td data-title="'Address'" >
				{{user.address}}
			</td>
			<td data-title="'membership'">
				{{user.user_type.name}}
			</td>
			<td data-title="'Date Joined'">
				{{user.dateJoined | shortDate}}
			</td>
			<td data-title="'Balance'">
				{{user.balance || user.businessBalance || 0 | currency}}
			</td>
		</tr>
	</tbody>
</table>
</div>
