<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">NNFC Admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin">Users</a></li>
        <li><a href="/admin/invoices">Invoices</a></li>
				<li><a href="/admin/orders">Orders</a></li>
				<li><a href="/admin/cycles">Cycles</a></li>
				<li><a href="/admin/routes">Routes</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="page-header col-xs-12">
	<h1>{{user.name}} <small>{{user.user_type.name}}</small></h1>
</div>

<form name="transactionForm" id="transactionForm" class="form-horizontal" ng-submit="createTransaction(transactionForm.$valid)" ng-controller="transactionController">
	<legend class="col-sm-9 col-sm-offset-2">Transaction Form</legend>
	<div class="form-group">
		<label for="title" class="col-sm-2 control-label">Title</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" placeholder="Title" ng-model="transaction.options.title" required>
		</div>
	</div>
	<div class="form-group">
		<label for="amount" class="col-sm-2 control-label">Amount</label>
		<div class="col-sm-9">
			<div class="input-group">
				<div class="input-group-addon">$</div>
				<input type="number" step="any" class="form-control" placeholder="Amount" ng-model="transaction.amount" required>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="reason" class="col-sm-2 control-label">Reason</label>
		<div class="col-sm-9">
			<textarea class="form-control" placeholder="Reason" ng-model="transaction.options.reason"></textarea>
		</div>
	</div>
	
	<div class="form-group">
		<div class="checkbox">
			<label class="col-sm-9 col-sm-offset-2">
				<input type="checkbox" ng-model="transaction.options.businessBalance"> Use Business Balance
			</label>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" class="btn btn-default">Perform Transaction</button>
		</div>
	</div>
</form>

<form name="userEdit" id="userEditForm">
	<div class="col-md-4">
		<h1>Basic Info</h1>
		<div class="form-group">
			<label for="email">Email address</label>
			<input ng-model="user.email" name="email" type="email" class="form-control" placeholder="Enter email" autofocus required>
			<div class="custom-error" ng-show="userEdit.email.$dirty && userEdit.email.$invalid">Sorry:
				<span ng-show="userEdit.email.$error.required">email is required.</span>
				<span ng-show="userEdit.email.$error.email">Please, write a valid email address.</span>
			</div>
		</div>
	
		<div class="form-group">
			<button type="button" class="btn btn-danger" ng-click="passwordReset()">Reset Password</a>
		</div>
	
		<div class="form-group">
			<label for="userFullName">Full Name</label>
			<input ng-model="user.name" name="userFullName" type="text" class="form-control" placeholder="Full Name" required>
			<div class="custom-error" ng-show="userEdit.userFullName.$dirty && userEdit.userFullName.$invalid">		Sorry:
				<span ng-show="userEdit.userFullName.$error.required">Full name is required.</span>
			</div>
		</div>
	
	
		<div class="form-group" ng-controller="geoCtrl">
			<label for="address">Address</label>
			<input name="userAddress" type="text" class="form-control" ng-model="user.address"/>
		
			<div class="custom-error" ng-show="userEdit.address.$dirty && userEdit.address.$invalid">		Sorry:
				<span ng-show="userEdit.userFullName.$error.required">A NZ address is required.</span>
			</div>
		</div>
	
		<div class="form-group">
			<label for="phone">Phone</label>
			<input type="tel" class="form-control" ng-model="user.phone" name="phone" placeholder="Enter your preferred phone number" required>
			<div class="custom-error" ng-show="userEdit.phone.$dirty && userEdit.phone.$invalid">		Sorry:
				<span ng-show="userEdit.userFullName.$error.required">A valid phone number is needed to quickly sort out issues.</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="route">Delivery Route</label>
			<input type="text" class="form-control" ng-model="user.routeTitle" name="route" placeholder="Not Currently on a Route">
		</div>
		
		<div class="form-group">
			<label>Balance: {{user.balance | currency}}</label>
			<label ng-show="user.useBusinessBalance">Business Balance: {{user.businessBalance | currency}}</label>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="user.useBusinessBalance"> Use Business Balance
			</label>
		</div>
		
		<div class="form-group">
			<div class="btn-group">
				<button type='button' class="btn btn-primary" ng-model="currentUser.user_type.name" btn-radio="'Customer'">Customer</button>
				<button type='button' class="btn btn-primary" ng-model="currentUser.user_type.name" btn-radio="'Producer'">Producer</button>
			</div>
		</div>
		
		<div class="checkbox">
			<label> <input type="checkbox" ng-model="user.user_type.canSell"> Can Sell Products</label>
			
		</div>
		<div class="checkbox">
			<label><input type="checkbox" ng-model="user.user_type.canBuy"> Can Buy Products</label>
			
		</div>
	</div>
	<div class="col-md-4">
		<h1>Route Manager Info</h1>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="user.user_type.isRouteManager"> Is a route Manager
			</label>
			
		</div>
		<div class="form-group">
			<label for="routeTitle">Route Title</label>
			<input ng-model="user.routeManager.title" name="routeTitle" type="text" class="form-control" placeholder="e.g. South to Waipu">
			<div class="custom-error" ng-show="userEdit.routeTitle.$dirty && userEdit.routeTitle.$invalid">	Sorry:
				<span ng-show="userEdit.routeTitle.$error.required">A title is required.</span>
			</div>
		</div>
		<div class="form-group">
			<label for="pickupLocation">Pickup Location</label>
			<input ng-model="user.routeManager.pickupLocation" name="pickupLocation" type="text" class="form-control" placeholder="e.g. member's home address or local hall">
			<div class="custom-error" ng-show="userEdit.pickupLocation.$dirty && userEdit.pickupLocation.$invalid">	Sorry:
				<span ng-show="userEdit.pickupLocation.$error.required">A pickup location is definately required.</span>
			</div>
		</div>
		<div class="form-group">
			<label for="towns">Towns on Route</label>
			<textarea ng-model="user.routeManager.townsOnRoute"
			maxlength="6000" rows="3" style="width: 100%;"
			placeholder="make a comma seperated list of towns serviced on the route."
			name="towns" class="form-control"></textarea>
		</div>
		
		
	</div>
	<div class="col-md-4">
		<h1>Producer Info</h1>

		<img ng-if="user.producerData.hasOwnProperty('logo')" ng-src="{{user.producerData.logo}}" alt=" logo placeholder " class="img-responsive" style="width:100%; height: auto;">
			
		<div class="form-group">	
			<div file-dropzone="[image/png, image/jpeg, image/gif]" file="user.producerData.logo" data-max-file-size="3" id="file-dropzone" class="image-drop form-group">
				<div>
					<p class="text-muted" ng-if="user.producerData.logo">Drop a new photo here</p>
					<p class="text-muted" ng-if="!user.producerData.logo">Drop a photo here</p>
						<h1 class="text-muted"><span class="glyphicon glyphicon-cloud-upload"></span></h1>
					<button type="button" class="btn btn-default btn-sm upload">
						<span class="text-muted">Or click to upload</span>
						<input type="file" class="opacity" 
						fileread="user.producerData.logo" 
						accept="image/*" 
						data-max-file-size="3">
					</button>
				</div>
				
			</div>
			<hr>
		</div>
		
		<div class="form-group">
			<label for="inputCompany">Company Name</label>
			<input ng-model="user.producerData.companyName" name="inputCompany" type="text" class="form-control" id="inputName" placeholder="e.g. {{user.name}} Farms" autofocus required>
		</div>
		<div class="form-group">
			<label for="companyWebsite">Company Website <small>If you have one</small></label>
			<input ng-model="user.producerData.website" name="companyWebsite" type="text" class="form-control" id="inputName" placeholder="e.g. www.{{user.name | forURL}}.com" autofocus required>
		</div>
		<div class="form-group">
			<label for="bankAccount">Bank Account <small>To receive payment to</small></label>
			<input ng-model="user.producerData.bankAccount" name="bankAccount" type="text" class="form-control" id="inputName" placeholder="e.g. 01-2345-6789-012-00">
			<alert type="danger" 
			ng-show="producerEdit.bankAccount.$dirty && producerEdit.bankAccount.$invalid">
				<span>We need to know how to send the producer money online.</span>
			</alert>
		</div>
		<div class="form-group col-md-12">
			<div class="checkbox">
			  <label>
			    <input type="checkbox" value="true" ng-model="user.addressPermission">
			    Share my address publicly
			  </label>
			</div>
		</div>
		<div class="form-group col-md-12">
			<label for="description">Company Description</label> 
			<text-angular 
			ng-model="user.producerData.description" 
			placeholder="Write a few paragraphs for customers to see about your business and methadologies"
			name="description">
			</text-angular>
			
		</div>
		<div class="form-group col-md-12">
			<label for="bio">Personal Bio <small>(Optional)</small></label>
			<text-angular 
			ng-model="user.producerData.personalBio"
			placeholder="Write a few paragraphs about yourself for people to see."
			name="bio">
			</text-angular>
		</div>
	</div>
	
        <br>
        <a href="/users-rights" class="btn">Cancel</a>
        <button ng-click="save()" class="btn btn-primary">Save</button>
        <button ng-click="destroy()" class="btn btn-danger">Delete</button>
      </form>