<div class="col-md-10 col-md-offset-1">
<div class="page-header">
	<h1>Invoices <small>Current Date: {{now | shortDate}}</h1>
</div>

<h3>Search</h3>
<input type="search" ng-model="searchbar" class="form-control">

<h3>Sort By: </h3>
<ul class="nav nav-pills">
	<li><a href="" ng-click="sort = 'datePlaced'; reverse=!reverse ">Date Created</a></li>
	<li><a href="" ng-click="sort = 'dateModified'; reverse=!reverse ">Date Modified</a></li>
	<li><a href="" ng-click="sort = '_id'; reverse=!reverse">By Invoice Number</a></li>
</ul>
<h3>Filter By: </h3>
<ul class="nav nav-pills">
	<li><a href="" ng-click="search = {}; search.title = 'Membership'; ">Membership Invoice</a></li>
	<li><a href="" ng-click="search = {}; search.toCoop = true ">Order Invoice</a></li>
	<li><a href="" ng-click="search = {}; search.status = 'OVERDUE' ">Overdue <span class="badge">{{overdue()}}</span></a></li>
	<li><a href="" ng-click="search = {}; search.status = 'un-paid' ">Un-Paid <span class="badge">{{unPaid()}}</span></a></li>
	<li><a href="" ng-click="cancelled = {status : '!CANCELLED'}">Hide Cancelled</a></li>
</ul>

<section ng-repeat="invoice in invoices | orderBy:sort:reverse | filter:search:searchbar:cancelled">
	<alert ng-show="invoice.alert" type="{{invoice.alert.type}}">{{invoice.alert.message}}</alert>
	<alert ng-if="invoice.dueDate &gt; now" type="danger">This invoice is OVERDUE</alert>
	<alert ng-if="soon(invoice)" type="warning">This invoice is due soon</alert>
	<alert ng-if="invoice.toCoop" type="info">The Co-op must pay this Invoice</alert>
	<ul class="list-unstyled">
		<li ng-hide="invoice.toCoop">
			To be paid to the NNFC by <span ng-if="invoice.invoicee.name">{{invoice.invoicee.name}}</span><span ng-if="invoice.exInvoicee">{{invoice.exInvoicee}}</span>
		</li>
		<li ng-show="invoice.toCoop">
			The NNFC must pay this invoice to {{invoice.invoicee.name}};
		</li>
		<li>Date Placed: {{invoice.datePlaced | shortDate}}</li>
		<li>Due Date: {{invoice.dueDate | shortDate}}</li>
	</ul>
<table class="table" ng-if="invoice.items[0].name">
	<thead>
		<tr><th colspan='2'>Invoice #{{invoice._id}} {{invoice.title}}</th></tr>
	</thead>
	<tfoot>
		<tr ng-show="invoice.credit" class="text-right">
			<td colspan="4"><strong>Subtotal: {{invoice.subtotal | currency}}</strong></td>
		</tr>
		<tr ng-show="invoice.credit">
			<td colspan="4"><strong>CR: {{invoice.credit | currency}}</strong></td>
		</tr>
		<tr><td colspan='2'><strong>Total: {{invoice.total | currency}}</strong></td></tr>
	</tfoot>
	<tbody>
		<tr ng-repeat="item in invoice.items">
			<td>{{item.name}}</td>
			<td>{{item.cost | currency}}</td>
		</tr>
	</tbody>
</table>
<table class="table" ng-if="invoice.items[0].product && !invoice.toCoop">
	<thead>
		<tr>
			<td colspan="4"><strong>Invoice #{{invoice._id}} {{invoice.title}}</strong></td>
		</tr>
		<tr>
			<td><strong>Product</strong></td>
			<td><strong>Unit Price</strong></td>
			<td><strong>Quantity</strong></td>
			<td><strong>Cost</strong></td>
		</tr>
	</thead>
	<tfoot>
		<tr ng-show="invoice.credit" class="text-right">
			<td colspan="5"><strong>Subtotal: {{invoice.subtotal | currency}}</strong></td>
		</tr>
		<tr ng-show="invoice.credit">
			<td colspan="5"><strong>CR: {{invoice.credit | currency}}</strong></td>
		</tr>
		<tr>
			<td colspan="5"><strong>Total: {{invoice.total | currency}}</strong></td>
		</tr>
	</tfoot>
	<tbody>
		<tr ng-repeat="item in invoice.items">
			<td>{{item.product.fullName}}</td>
			<td>{{item.product.priceWithMarkup | currency}} / {{item.product.units}}</td>
			<td>{{item.quantity}}</td>
			<td>{{item.product.priceWithMarkup * item.quantity | currency}}</td>
		</tr>
	</tbody>
</table>
<table class="table" ng-if="invoice.items[0].product && invoice.toCoop">
	<thead>
		<tr>
			<td colspan="4"><strong>Invoice #{{invoice._id}} {{invoice.title}}</strong></td>
		</tr>
		<tr>
			<th><strong>Product</strong></th>
			<th><strong>Customer</strong></th>
			<th><strong>Unit Price</strong></th>
			<th><strong>Quantity</strong></th>
			<th><strong>Cost</strong></th>
		</tr>
	</thead>
	<tfoot>
		<tr ng-show="invoice.credit" class="text-right">
			<td colspan="5"><strong>Subtotal: {{invoice.subtotal | currency}}</strong></td>
		</tr>
		<tr ng-show="invoice.credit">
			<td colspan="5"><strong>CR: {{invoice.credit | currency}}</strong></td>
		</tr>
		<tr>
			<td colspan="5"><strong>Total: {{invoice.total | currency}}</strong></td>
		</tr>
	</tfoot>
	<tbody>
		<tr ng-repeat="item in invoice.items">
			<td>{{item.product.fullName}} </td>
			<td>{{item.customer.name}}</td>
			<td>{{item.product.price | currency}} / {{item.product.units}}</td>
			<td>{{item.quantity}}</td>
			<td>{{item.product.price * item.quantity | currency}}</td>
		</tr>
	</tbody>
	
</table>


<p ng-show="invoice.toCoop">Payment is to be sent to <strong>{{invoice.bankAccount}}</strong></p>
<div class="btn-group">
	<button type='button' class="btn btn-default" 
	ng-model="invoice.status" 
	btn-radio=" 'un-paid' " 
	ng-change="invoiceSave(invoice)">Un-paid</button>
	<button type='button' class="btn btn-success" ng-model="invoice.status" btn-radio=" 'PAID' " ng-change="invoiceSave(invoice)">PAID</button>
	<button type='button' class="btn btn-danger"  ng-model="invoice.status" btn-radio=" 'OVERDUE' " ng-change="invoiceSave(invoice)">OVERDUE</button>
	<button type='button' class="btn btn-default" ng-model="invoice.status" btn-radio=" 'To Refund' " ng-change="invoiceSave(invoice)">To Refund</button>
	<button type='button' class="btn btn-default" ng-model="invoice.status" btn-radio=" 'Refunded' " ng-change="invoiceSave(invoice)">Refunded</button>
	<button type='button' class="btn btn-default" ng-model="invoice.status" btn-radio=" 'CANCELLED' " ng-change="invoiceSave(invoice)">CANCELLED</button>
</div>
<button type='button' class="btn btn-danger" ng-click="invoiceDelete(invoice)"> Delete Invoice</button>
<hr>
</section>
</div>


