<div class="col-xs-12">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">NNFC Admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin">Users</a></li>
        <li><a href="/admin/invoices">Invoices</a></li>
				<li><a href="/admin/orders">Orders</a></li>
        <li><a href="/admin/meat-orders">Meat Orders</a></li>
				<li><a href="/admin/cycles">Cycles</a></li>
				<li><a href="/admin/routes">Routes</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h1>Orders</h1>

<h4>Showing orders for delivery day <span class="lable label-info">{{cycle.deliveryDay | date:long}}</span></h4>
<div class="btn-group">
	<button class="btn btn-primary" ng-click="previous()">&lt; Previous</button><button class="btn btn-primary" ng-click="next()">Next &gt;</button>
</div>

<p>Number of Customers: <span class="badge">{{customerCount}}</span><br>
  Number of Producers: <span class="badge">{{producerCount}}</span></p>

<div class="col-sm-6">
  <h4 class="text-center">Customers</h4>
  <div class="list-group">
    <button type="button" class="list-group-item"
    ng-click="$parent.search = customer"
    ng-repeat="(customer,orderCount) in customers | orderBy:'customer' track by $index">
      <span class="badge">{{orderCount}}</span>
      {{customer}}
    </button>
  </div>
</div>

<div class="col-sm-6">
  <h4 class="text-center">Producers</h4>
  <div class="list-group">
    <button type="button" class="list-group-item" ng-repeat="(producer,orderCount) in producers | orderBy:'producer' track by $index"
    ng-click="$parent.search = producer">
      <span class="badge">{{orderCount}}</span>
      {{producer}}
    </button>
  </div>
</div>

<h2> Master List</h2>
<input type="search" ng-model='search' placeholder="filter results" class='form-control'>

			<table class="table">
				<thead>
					<tr>
						<th>Sorted</th>
            <th><a href="" ng-click="predicateP = 'customer.name'; reverse=!reverse ">customer</a></th>
            <th><a href="" ng-click="predicateP = 'supplier.producerData.companyName || supplier.name'; reverse=!reverse ">Producer</a></th>
						<th><a href="" ng-click="predicateP = 'product.productName'; reverse=!reverse ">Product</a></th>
						<th><a href="" ng-click="predicateP = 'producerPrice'; reverse=!reverse ">Unit Price</a></th>
						<th><a href="" ng-click="predicateP = 'orderPrice'; reverse=!reverse ">Price</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in orders | orderBy:predicateP:reverse | filter:search as filteredOrders " ng-class="{'text-disabled' : arrived}">
				    <td data-title="'Date Placed'">
							<button class="btn btn-primary" ng-click='arrived=!arrived'>Sorted</button>
						</td>
            <td>
              <a ng-href="/user/{{i.customer._id}}">{{i.customer.name}}</a>
            </td>
						<td data-title="'Producer'">
							<a ng-href="/user/{{i.supplier._id}}">{{i.supplier.producerData.companyName || i.supplier.name}}</a>
						</td>
						<td data-title="'Product'" >
							x{{i.quantity}} <a ng-href="/product-upload/{{i.product._id}}">{{i.product.fullName}}</a>
							<span ng-show="i.milk"> for {{i.deliveryDay | date:'d/M/yy'}}</span>
						</td>
						<td data-title="'Price'">
							{{i.unitPrice | currency}} / {{i.product.units}}
						</td>
						<td data-title="'times Ordered'">
							{{i.orderPrice | currency}}
						</td>
				    </tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4"></td>
						<td>Producer Total: {{total(filteredOrders, 'orderPrice') | currency}}</td>
            <td>Customer Total: {{total(filteredOrders, 'orderPriceWithMarkup') | currency}}</td>
					</tr>
				</tfoot>
			</table>
</div>
