#ingredients.ng-hide-add, 
#ingredients.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
#ingredients.ng-hide-add.ng-hide-add-active,
#ingredients.ng-hide-remove {
  line-height:0;
  opacity:0;
  padding:0 10px;
}
 
#ingredients.ng-hide-add,
#ingredients.ng-hide-remove.ng-hide-remove-active {
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}