
<div class="col-md-3" ng-hide="panelDisplay">
</div>
<div ng-class="{'col-md-6': !panelDisplay, 'col-md-9': panelDisplay}">
	<div class="page-header">
		<h1>Northland Natural Food Co-op Policy</h1>
	</div>
	<h2><a href="/documents/NNFCPolicyStatements.pdf" target="_self"><span class="glyphicon glyphicon-cloud-download"></span> View the NNFC Policy Manual</a></h2>
	<p>Please note the Policy Manual is in PDF format. A PDF reader will be needed to read the file on the computer</p>
</div>
<div class="col-md-3"></div>