@media screen {
    /* Top Element */
    .white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

    #fc-head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .calender {
        list-style: none;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        font-size: 0;
        padding: 0.5rem;
    }
    
    .calender li {
        display: inline-block;
        text-align: center;
        font-size: 1rem;
        margin: 3px;
    }
    
    .calender div {
        overflow: hidden;
        background: #aaa;
        border-radius: 5px;
        font-size: 1.7em;
        width: 2em;
        margin: 0;
    }
    
    .calender span {
        display: block;
        background: #464847;
        color: #fff;
        font-size: 0.4em;
        padding: 2px;
    }
    
    .calender li.ordering div {
        background: #fcd067;
    }
    
    .calender li.today {
        border: 2px solid #086baf;
        border-radius: 8px;
        margin: 0;
    }
    
    .calender li.today div {
        margin: 2px;
    }
    
    /* Left Element */
    #fc-panel {
        position:absolute;
        top:2em;
        padding-top:1em;
        width:15em;
        left: 0.2em;
    }
    
    /* Main Element */
    #content {
        margin: 4em 0 0 15em;
        background: #dfd;
    }
    
    .product {
        position: relative;
        float: left;
        margin: 10px 0 0 10px;
        border: 1px solid #c7c7c7;
        border-radius: 3px;
        background: #f7f7f7;
    }
    
    .product img {
        width: 14em;
        height: 9em;
    }
    
    .visualClear {
        clear: both;
    }
}
