<html>
    <head>
        <title> Goodbye from the NNFC </title>
    </head>
    <body>
        <p> Hi {{name}},</p>
        <p> Your request to leave the Northland Natural Food Co-op has been received. We're sorry to see you go. </p>
		<p>Leaving the NNFC entitles you to a refund of your initial membership fee, as outlined below. We'll need to hear from you about the best way to do this. Would you like to be paid by internet banking, or by some other means?</p>
        <p> Once we receive these details, we'll refund your money within 30 days. Your personal information will also be removed from our database, in compliance with our Terms of Use.</p> 
		
		<p>If you have not yet paid your membership fee, it has been cancelled and you are no longer required to pay.</p>
		
		
       <table border="0" cellspacing="10" cellpadding="10">
           <thead>
               <tr>
                   <td>Invoice #{{code}}</td>
				   <td>Membership Invoice for {{name}}</td>
               </tr>
           </thead>
           <tbody>
               
			  <% _.each(items, function(i) { %> 
                 <tr>
                     <td>{{i['name']}} </td>
                     <td>${{i['cost']}} </td>
                 </tr>
			<% }); %>
           </tbody>
           <tfooter>
               <tr>
                   <td> Total: ${{cost}}</td>
               </tr>
           </tfooter>
       </table>
	   
       
	   <hr>
       
					<p>We hope your time with us was satisfactory. Please, <a href="mailto:sean@maplekiwi.com">write to us</a> with your reasons for leaving. We would appreciate the feedback </p>
        
				<p>Thanks for being a member of the Northland Natural Food Co-op.</p>
		
        <p>Goodbye, <br>
        The NNFC team </p>
        
		<p>
			<a href="https://foodcoop.nz"><img src="cid:logo@foodcoop" /></a>
		</p>
    </body>
    
</html>
	