<html>
    <head>
        <title> Welcome to the NNFC </title>
    </head>
    <body>
        <p> Hi {{name}},</p>
        <p> Welcome to the Northland Natural Food Co-op. You've joined a growing local community committed to food that is good for people and the environment. You can now enjoy our convenient online service for buying (and selling) local food, right here in Northland. </p>
     
    <h1>Become an Owner</h1>
    
    <p>After a 30-day trial, the <strong>one time cost</strong> of joining makes you an official shareholder of the Food Co-op. Benefits of being a shareholder include <strong>lifetime</strong> membership, unlimimited access to our <strong>exclusive online store</strong>, the right to <strong>vote</strong> on all major decisions about the co-op, and receive a percentage of the co-op’s <strong>profits</strong> each year.</p>
    
    <p>The below fee will be due 30 days from your first purchase or sale with us. We hope you find the co-op convenient, fun and affordable.</p>
    
    <p>Should you decide not to stay a member with us, that's okay please just write to us and we'll remove your account and cancel this invoice.</p>
		
		<h1>Membership Fee</h1>
       
       <table border="0" cellspacing="10" cellpadding="10">
           <thead>
               <tr>
                   <td>Tax Invoice #{{code}}</td>
				   <td>Membership Invoice for {{name}}</td>
               </tr>
           </thead>
           <tbody>
               
			  <% _.each(items, function(item) { %> 
                 <tr>
                     <td>{{item.name}} </td>
                     <td>${{item.cost}} </td>
                 </tr>
			<% }); %>
           </tbody>
           <tfooter>
               <tr>
                   <td> DISCOUNT CODE: {{discountCode}}</td><td> DISCOUNT AMOUNT: ${{discount}}</td>
               </tr>
							 <tr>
                   <td> Total: ${{cost}}</td>
               </tr>
           </tfooter>
           
       </table>
	   
	   <p>Payment can be made by internet banking to account # {{account}}. Please use your name as the reference and the invoice number (found above) as the code.</p>
	   
	   
	   <hr>
       
        <p>When you visit <a href="http://foodcoop.nz"> our website</a> in future, remember to sign in with your email address: <strong> {{email}} </strong>, and password: <strong> {{password}} </strong>. Once signed in, you'll be able to access our exclusive member-only content and services.</p>
        <p> We look forward to hearing from you again.</p>
        <p>Cheers, <br>
        The NNFC team </p>
        
		<p>
			<a href="http://foodcoop.nz"><img src="cid:logo@foodcoop" /></a>
		</p>
    </body>
    
</html>