<html>
    <head>
        <title> Welcome to the NNFC </title>
    </head>
    <body>
        <p> Hi {{name}},</p>
        <p> Welcome to the Northland Natural Food Co-op. You've joined a growing local community committed to food that is good for people and the environment. You can now enjoy our convenient online service for buying (and selling) local food, right here in Northland. Just be sure to pay your membership fee by <strong> {{dueDate}} </strong></p>
		
		<h1>Membership Fee</h1>
       
       <table border="0" cellspacing="10" cellpadding="10">
           <thead>
               <tr>
                   <td>Invoice #{{code}}</td>
				   <td>Membership Invoice for {{name}}</td>
               </tr>
           </thead>
           <tbody>
               
			  <% _.each(items, function(item) { %> 
                 <tr>
                     <td>{{item.name}} </td>
                     <td>${{item.cost}} </td>
                 </tr>
			<% }); %>
           </tbody>
           <tfooter>
               <tr>
                   <td> DISCOUNT CODE: {{discountCode}}</td><td> DISCOUNT AMOUNT: ${{discount}}</td>
               </tr>
							 <tr>
                   <td> Total: ${{cost}}</td>
               </tr>
           </tfooter>
           
       </table>
	   
	   <p>Payment can be made by internet banking to account # {{account}}. Please use your name as the reference and the invoice number (found above) as the code.</p>
	   
	   
	   <hr>
       
        <p>When you visit <a href="https://foodcoop.nz"> our website</a> in future, remember to sign in with your email address: <strong> {{email}} </strong>, and password: <strong> {{password}} </strong>. Once signed in, you'll be able to access our exclusive member-only content and services.</p>
        <p> We look forward to hearing from you again.</p>
        <p>Cheers, <br>
        The NNFC team </p>
        
		<p>
			<a href="https://foodcoop.nz"><img src="cid:logo@foodcoop" /></a>
		</p>
    </body>
    
</html>