<html>
    <head>
        <title> Products Ordered From You </title>
    </head>
    <body>
        <p> Hi {{name}},</p>
		<p>Thank you for selling with the Northland Natural Food Co-op. Local commerce reduces environmental impact and increases Northland's food security. Our customers thank you for sharing your fantastic products with them.</p>
        <p> Below is a summary of the products you have sold this cycle, along with the amount you can expect to be paid. Please bring all the products which have been ordered from you to the Woods Centre on delivery day, which is <strong>{{deliveryDay}}</strong>. If you want to make other arrangements to drop off your goods please contact <a href="mailto:sean@foodcoop.nz">me</a></p>
		
				<table border="0" cellspacing="10" cellpadding="10">
				 <thead>
					 <tr>
						 <th><strong>Invoice #{{code}}</strong></th>
						 <th colspan="5"></td><strong>{{name}}'s Requested Products</strong></th>
					 </tr>
					 <tr>
						 <th><strong>Refrigeration</strong></th>
						 <th><strong>Product</strong></th>
						 <th><strong>Customer</strong></th>
						 <th><strong>Unit Price</strong></th>
						 <th><strong>Quantity</strong></th>
						 <th><strong>Revenue</strong></th>
					 </tr>
				 </thead>
				 <tbody>
               
			  <% _.each(items, function(item) { %> 
                 <tr>
                     <td>{{item.product.refrigeration || 'none'}}</td>
					 <td>{{item.product.fullName}} </td>
					 <td>{{item.customer.name}}</td>
					 <td>${{item.product.price.toFixed(2)}} / {{item.product.units}}</td>
					 <td>{{item.quantity}}</td>
                     <td>${{ (item.product.price * item.quantity).toFixed(2)}}</td>
                 </tr>
			<% }); %>
           </tbody>
           <tfoot>
             <tr style="display: {{showCredit}}">
							 <td colspan="6" style="text-align:right"> Subtotal: ${{subtotal.toFixed(2)}}</td>
						 <tr>
               <tr style="display: {{showCredit}}">
								 <td colspan="6"> CR: {{credit()}}</td>
							 <tr>
                   <td colspan="6"> Total: ${{total.toFixed(2)}}</td>
               </tr>
           </tfoot>
       </table>
	   
	   <p>Assuming all your customers pay us promptly, your payment should arrive by <strong>{{dueDate}}</strong> You can expect payment to the account {{account}}. If this is incorrect, please contact us immediately and update your bank account details from the producer profile page on our website.</p>
       
			
		<h1>Product Labels</h1>
		<p>These labels detail which customers purchased each of your products, along with the quantity they have ordered. Some producers like to attach these labels to their products. This is not a requirement but mearly a helpful aid for making sure all products are brought in the right quantites for each individual.</p>
		  <% _.each(items, function(item) { %> 
			<table style="width: 500px; border: 1px dotted #333;">
                <tr>
					<td style="padding: 15px 10px 0 10px"><strong>{{item.product.fullName}}</strong> <br/>
						Customer: {{item.customer.name}}
					</td>
					<td style="padding: 15px 10px 0 10px">Quantity: <strong>{{item.quantity}}</strong><br/>
					Price: ${{(item.product.priceWithMarkup * item.quantity).toFixed(2)}}</td>
                </tr>
				<tr>
					<td style="padding: 0 10px 15px 10px">Route: {{item.customer.routeTitle}}</td>
					<td style="padding: 0 10px 15px 10px">{{item.product.refrigeration}}</td>
				</tr>
			</table>
		<% }); %>
		
			
        
        <p> We look forward to seeing you on delivery day.</p>
        <p>Cheers, <br>
        The NNFC team </p>
        
		<p>
			<a href="https://foodcoop.nz"><img src="cid:logo@foodcoop" /></a>
		</p>
    </body>
    
</html>