<html>
<head>
	<title>Server Started Up</title>
</head>
<body>
	<p><b>Hello {{name}}</b> the server was just started up by someone! And the mail settings are all working!</p>

	<p>Here is some data about the server:</p>
	<ul>
		<li>AngularJS version: {{AngularVersion}}</li>
		<li>Express version: {{expressVersion}}</li>
		<li>Time the server started: {{currentTime}}</li>
	</ul>
	
	<% _.each(data, function(name) { %> <li>{{ name }}</li> <% }); %>
	
	<p>
		<a href="https://foodcoop.nz"><img src="cid:logo@foodcoop" /></a>
	</p>
</body>
	