<html>
    <head>
        <title> Your Shopping Bill </title>
    </head>
    <body>
        <p> Hi {{name}},</p>
        <p> Ordering is now closed for this month so we've tallied up your cart and sent you the invoice.</p>
        <p> We would most appreciate it if you could pay this by <strong> {{dueDate}} </strong></p>
       
       <table border="0" cellspacing="10" cellpadding="10">
           <thead>
               <tr>
                   <td><strong>Invoice #{{code}}</strong></td>
				   <td colspan="5">{{name}}'s Shopping Bill</td>
               </tr>
               <tr>
                   <td><strong>Refrigeration</strong></td>
				   <td><strong>Product</strong></td>
				   <td><strong>Unit Price</strong></td>
				   <td><strong>Quantity</strong></td>
				   <td><strong>Cost</strong></td>
               </tr>
           </thead>
           <tbody>
               
			  <% _.each(items, function(item) { %> 
                 <tr>
                     <td>{{item.product.refrigeration}}</td>
					 <td>{{item.product.fullName}}</td>
					 <td>${{item.product.priceWithMarkup}} / {{item.product.units}}</td>
					 <td>{{item.quantity}}</td>
                     <td>${{ (item.product.priceWithMarkup * item.quantity).toFixed(2)}}</td>
                 </tr>
			<% }); %>
           </tbody>
           <tfoot>
	             <tr style="display: {{showCredit}}">
								 <td colspan="6" style="text-align:right"> Subtotal: ${{subtotal}}</td>
							 <tr>
							 <tr style="display: {{showCredit}}">
								 <td colspan="6"> CR:{{credit()}}</td>
							 <tr>
							 <tr>
                   <td colspan="6"> Total: ${{total}}</td>
               </tr>
           </tfoot>
       </table>
	   
	   <p>Please make payment with your name as a reference and the global invoice number as a code.</p>
	   
	   <p>Payment can be made by internet banking to account {{account}}</p>
       
	   <hr>
        <p> A copy of this invoice and its status is available <a href="http://foodcoop.org.nz/my-invoices">online</a>
        
        <p> Thank you so much for helping the environemnt, your health and the local economy.</p>
        <p>Cheers, <br>
        The NNFC team </p>
        
		<p>
			<a href="http://foodcoop.org.nz"><img src="cid:logo@foodcoop" /></a>
		</p>
    </body>
    
</html>