	
	<div id="product-upload-preview-column" class="col-lg-4">
	<div id="preview-container" class="preview-box">
		<img ng-src={{productData.image}} alt="product name" width="260px">
		<h5>{{producerData.companyName}} <small>Matt Stanley</small></h5>
		<p></p>
	</div>
</div>

<div id="product-upload-form-container" class="col-lg-8" >
	<form name="producerEdit" autocomplete="on" ng-submit="submitForm();" novalidate>
  <fieldset>
    <legend>Edit Your Producer Information {{username}}</legend>
    
    <div class="col-lg-6">	  
	  <!-- <input type="file" id="product-image" name="product-image" onchange="angular.element(this).scope().setImage(this)"/> -->
	  
	  <div file-dropzone="[image/png, image/jpeg, image/gif]" file="productData.logo" data-max-file-size="3" id="file-dropzone" style="width: 150px; height: 45px; border: 1px solid">
	<span>Drop Producer Logo Here</span>
	  </div> 
	  
	  <div file-dropzone="[image/png, image/jpeg, image/gif]" file="productData.logo" data-max-file-size="3" id="file-dropzone" style="width: 150px; height: 45px; border: 1px solid">
		  <span>Drop Producer Image Here</span>
	  </div>    
	</div>
	
    
    <div class="form-group col-lg-6">
      <label for="inputCompany" >Company Name</label>
      <input ng-model="producerData.companyName" name="inputCompany" type="text" class="form-control" id="inputName" placeholder="e.g. {{category.placeholderName}}" autofocus required >
    </div>
        
    <div class="form-group">
      <label for="description">Description</label> 
      <textarea ng-model="producerData.description" id="description" maxlength="2000" placeholder="Write a couple paragraphs about how special your product is." rows="9" style="width: 100%;" required></textarea>  
    </div> 
    
    <button type="reset" class="btn btn-default">Reset</button>    
    <button type="submit" class="btn btn-default" ng-disabled="producerEdit.inputCompany.$pristine || producerEdit.inputCompany.$dirty && producerEdit.inputCompany.$invalid">Submit</button>
  </fieldset>
</form>

</div>
